[2022-09-19 20:20] #1123 closed

[2022-09-20 11:21] adarsh1021 commented on #1411
I would like to take a stab at this, if its okay :)

[2022-09-20 11:24] josevalim commented on #1411
Yes please! You can look at the current Diagram block for ideas on how it works!

[2022-09-20 11:30] adarsh1021 commented on #1411
Great, thanks!

[2022-09-20 16:23] BrooklinJazz opened #1425 "Add JS Syntax Highlighting to Markdown Snippets"
![image](https://user-images.githubusercontent.com/14877564/191311881-75766976-c702-4207-b1c2-9e41d019730d.png)

Should be a simple fix to include `js` in the list of allowed languages. See https://github.com/livebook-dev/livebook/pull/1246
For an example.

I'll happily push up a PR to fix this once I have some time later today if no one else grabs it.

[2022-09-20 16:28] jonatanklosko commented on #1425
Sounds good to me!

[2022-09-20 21:28] hameedhub commented on #648
@josevalim is this task available?

[2022-09-20 21:34] josevalim commented on #648
Yes! We show filesystems in the Settings page. We can add a button that says "make default" to each or similar.  :)

[2022-09-21 10:33] #1420 closed

[2022-09-21 13:34] Billboz commented on #1237
As someone learning to program using livebook I think this will be very helpful.  When I am confused and someone takes the time to show me what each bit of code is doing and how relates to other code the lightbulb goes off in my head and the code is understood.
The more information, (function and variable names, values, and the like) concerning how the code is being worked with is better for the i

[2022-09-22 11:16] jackalcooper opened #1427 "function Mix.install/2 is undefined"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: macOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): CLI
* Livebook version (use `git rev-parse HEAD` if running with mix):
[code]
* Browsers that reproduce this bug (the more the merrier): chrome
* Include what is logged in the browser console:
* Include what is logged to th

[2022-09-22 11:19] josevalim commented on #1427
This is weird. It is saying that Mix altogether is not defined. Can you try `Mix.env()` in the cell? Or `Application.start(:mix)`? What does it return?

[2022-09-22 12:35] jonatanklosko commented on #1427
@jackalcooper the embedded runtime means that all the code is evaluated inside the Livebook application (in the same BEAM node), and since this application is built, it's not possible to install other dependencies. Embedded runtime is only useful in very specific cases, like NervesLivebook where there's no way to start other BEAM nodes. We don't even show it in the UI anymore.

[2022-09-22 12:40] jonatanklosko commented on #1345
@jackalcooper specifying the config/lockfile is mostly relevant when developing an application (like a phoenix one), for libraries, it should be enough to just use `:path` for the dependency.

During development you can set it to your local path, but when pushing notebooks as part of the documentation it's best to update it to `{:my_lib, github: "me/my_lib"}` or a specific version once available.

[2022-09-23 11:21] #1425 closed

[2022-09-24 07:29] josevalim opened #1437 "A student recently encountered an issue where they could not use the Comment Lines command due to the configuration of their keyboard."
A student recently encountered an issue where they could not use the Comment Lines command due to the configuration of their keyboard.

As far as I understand, Spanish keyboards have a different configuration for the `/` symbol. This causes problems with the <kbd>CTRL</kbd>+<kbd>/</kbd> that comments out lines of code.

Here's the issue and solution for context: https://github.com/DockYard-Academy

[2022-09-24 13:39] dpreston opened #1438 "Reconnect and Setup content inconsistent with export/saved file and causes errors when modified"
## Environment
* Elixir & Erlang/OTP versions (elixir --version): 1.13.4 (OTP 25)
* Operating system: Windows 10
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Livebook Desktop
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.3
* Browsers that reproduce this bug (the more the merrier): Firefox (104) & Chrome (105)
* Include what is logged in the

[2022-09-24 14:01] josevalim commented on #1438
It has been fixed in main, it is related to new lines on Windows. We shall ship a new version soon. :)

[2022-09-24 14:01] #1438 closed

[2022-09-24 14:06] dpreston commented on #1438
Thanks for confirming, new lines seemed like a likely candidate.

[2022-09-24 14:25] josevalim commented on #1438
Btw, in the README we have links to up to date installers, in case you want to try the main out before the release!

[2022-09-25 09:36] williamthome opened #1440 "Mermaid duplicating ids"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): elixir 1.14.0-rc.1-otp-25 | erlang 25.0.4
* Operating system: Ubuntu 22.04.1 LTS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook server start.livemd
* Livebook version (use `git rev-parse HEAD` if running with mix): 3980e48ec9dc262655fac8bbbafdd2a3b036dbfd
* Browsers that reproduce this bug (th

[2022-09-25 09:42] josevalim commented on #1440
Good find. I could not reproduce this on GH nor Mermaid's Live Editor. Both of them use a unique integer for each Mermaid element, we should most likely do the same. :)

[2022-09-26 09:36] jonatanklosko commented on #1440
@josevalim GH loads graphs in an iframe, while in Mermaid's Live Editor I don't think we can enter multiple graphs at once to reproduce this?

One thing is that we cache the SVG content by mermaid content, however that's not really the problem here, because in the example all graphs are different. If you look at the error log, there are ids like `flowchart-pointEnd` and those seem to be fixed for

[2022-09-26 13:08] juhalehtonen commented on #605
I had a very cursory look at this, reporting below for anyone who's interested in tackling this 🙂

It seems that the biggest bulk of work will be in handling the styling of iframes (such as the output of `VegaLite`), due to how they are positioned in a container element  (see `js-view-iframes`) and then absolutely positioned to an expected location and size. I did not look into how much work there

[2022-09-26 14:15] josevalim commented on #605
Thank you @juhalehtonen! There is also a related issue in #1159, where for complex printing we would rely on Pandoc and then get support on all of its outputs. In that case, we would have print.css only for the basic, in browser use cases, as you mentioned.

[2022-09-26 14:16] josevalim commented on #1440
@williamthome can you please report this bug in Mermaid and see what do they say?

@jonatanklosko worst case scenario we will need to wrap them in iframes too?

[2022-09-26 14:21] jonatanklosko commented on #1440
@josevalim I think we could traverse the elements and replace the ids to ensure they are unique.

[2022-09-26 15:16] williamthome commented on #1440
@josevalim Yes, I will do this tonight.

[2022-09-27 01:54] dwhelan commented on #1440
I can confirm that @williamthome is correct and mermaid currently creates SVG markers with duplicate ids when there are multiple diagrams on the same html page.

[2022-09-27 02:02] dwhelan commented on #1440
If you decide to roll your own unique id you will need to take care to update `path` elements with marker urls in them. The id's of the marker elements are referenced from `marker-start`, `marker-mid` or `marker-end` attributes. Any changes in marker ids would need to be reflected here.

[2022-09-27 09:47] jonatanklosko commented on #1440
@dwhelan thanks for the insights! Prefixing all ids sounds like the way to go, hopefully they accept it upstream.

And to handle caching we could set the id to something like `mermaid__n__`, then whenever we reuse the SVG we just replace it with a unique id in the string directly.

[2022-09-27 09:56] jonatanklosko commented on #1437
It look like vscode|monaco rely on key codes, rather than the corresponding character. VSCode addresses this by shipping multiple keyboard layouts, but that's not the case with Monaco, see https://github.com/microsoft/monaco-editor/issues/2636.

[2022-09-27 21:03] williamthome commented on #1440
@dwhelan Is this your fix? Did you create the PR? https://github.com/mermaid-js/mermaid/compare/develop...dwhelan:mermaid:fix/1871_lineColor_spill

[2022-09-29 07:39] Benjamin-Philip commented on #1314
Can I work on this?

Excluding those already running I assume?

How about after the "Running Sessions" section? That way it's not bang on your face when you open Livebook.
However, seeing recently opened notebooks as the first thing you see is okay too.

[2022-09-29 13:58] josevalim opened #1448 "Logger in attached mode should only collect logging from cells"
How to disable logger output in attached mode?

Scenario: I am running a Livebook in attached mode to a production app, generating a lot of noisy logs (.e.g an Absinthe app).

However, as soon as I evaluate a cell, the output of it gets spammed with logs like this:
[code]

It also spams the persistend `livemd` file, so it is quite annoying.
Is there a simple way around this?

_Originally posted by

[2022-09-29 15:03] josevalim commented on #1314
Yes please! I believe it should show _after_ Running Sessions. :) We need to keep the last 10 or so. :)

[2022-09-30 19:05] #1448 closed

[2022-10-01 04:53] hakanai commented on #1437
Key bindings are a per-locale thing in any case. Naïvely one would think <kbd>ctrl</kbd>+<kbd>/</kbd> wouldn't present issues due to not being a letter, but here the Spanish keyboard layout comes to ruin the day anyway, LOL!

The approach IntelliJ seems to take is to also add the numpad key.

[2022-10-01 14:12] jonatanklosko commented on #1437
Generally the shortcuts could be more universal by checking the pressed key character, rather than key code. That's what we do for Livebook shortcuts, but it's not something Monaco does. That approach has the disadvantage, that on different keyboard layout shortcuts may be awkward/unintuitive to press, which is can be critical for a use case with so many shortcuts.

[2022-10-02 05:49] hakanai commented on #1437
That is why keyboard shortcuts tend to live alongside the action name in the resources I guess. That and, putting them closer to the action name so translators can verify that the shortcut makes sense.

[2022-10-02 16:05] eksperimental opened #1454 "Stacktrace information in hidden when FunctionClauseError exception is raised"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir v1.14.0 and OTP 25
* Operating system: Linux
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix):  0.6.3

## Current behavior

file: `lib/foo.ex`
[code]

file: `run.exs`
[code]

if i run these files as two cells in li

[2022-10-02 16:06] eksperimental commented on #1454
Note: If what's in the .exs file is placed inside a module in Livebook, the whole error is shown.

[2022-10-03 04:30] DanielOaks opened #1456 "Loading a livemd works, but homepage 500's"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 25 [erts-13.0.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit:ns] [win32]
* Operating system: Windows 10 – 21H2
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Windows Desktop app
* Livebook version (use `git rev-parse HEAD` if running with mix): `LivebookInstall-0.6.3-windo

[2022-10-03 06:41] josevalim commented on #1456
@wojtekmach do you know what is the log location on Windows? I guess we can probably retrieve it from the release root?

[2022-10-03 11:49] #1454 closed

[2022-10-03 20:13] josevalim commented on #1437
@jonatanklosko would it be complicated to introduce the keyboard layouts from VS Code? Or would we prefer to find what is the equivalent key for `/` on other keyboards and show the relevant shortcut?

For our own shortcuts, most of them are letters, so I think it is not that problematic. `#`, `[`, and `]` are the ones most likely to have an issue.

[2022-10-03 21:53] jonatanklosko commented on #1437
Without some API from Monaco I don't think we can easily do that.

To do this implicitly we would need to use the [Keyboard API](https://developer.mozilla.org/en-US/docs/Web/API/Keyboard), but it's experimental and neither Firefox nor Safari supports it.

Our shortcuts don't rely on `keyCode` (physical location), but on the resulting character, so those should be fine.

[2022-10-03 22:02] josevalim commented on #1437
So should we include Ctrl + K + C for it instead? Or remove the shortcut?

[2022-10-03 22:06] jonatanklosko commented on #1437
To be clear, Ctrl + / is a built-in vscode shortcut. Ctrl + K + C is extremely awkward, especially because it always adds a comment, rather than toggling the comment. I think we should keep Ctrl + /, though I don't currently have any good idea how to account for a different layout.

[2022-10-03 23:23] josevalim commented on #1437
Right. My point is that we don't list all Monaco shortcuts, so we could not list this one until we have a reliable way to represent it.

[2022-10-04 00:03] jonatanklosko commented on #1437
Ah sure, that makes sense. Alternatively we could clarify like this:

![image](https://user-images.githubusercontent.com/17034772/193706840-238db47e-f935-4f1c-9d4e-d8ab616c6190.png)

Though Ctrl + / could be the only shortcut where it's relevant, so I'm fine not listing it. Preference?

[2022-10-04 05:00] BrooklinJazz commented on #1437
Just throwing my two cents in, I think removing the Ctrl + / from the list of commands will do more harm than good.

It doesn't help those with the non-standard keyboard, and now it hurts those who do have the standard keyboard.

[2022-10-04 06:02] josevalim commented on #1437
@BrooklinJazz the point is that there are other shortcuts we don’t list. Such as select all. So all in all it is a pretty arbitrary line. :) Is there a page we can refer people to for Monaco/VS Code shortcuts?

[2022-10-04 08:32] moogle19 opened #1459 "LiveBook menubar icon not correctly shown on unfocused display"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.14 OTP 25
* Operating system: macOS 12.6
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): macOS App
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.3

## Current behavior

<img width="60" alt="Screenshot 2022-10-04 at 10 00 43" src="https://user-images.githubusercontent.co

[2022-10-04 08:45] josevalim commented on #1459
What do you mean by unfocused display?

[2022-10-04 08:55] josevalim commented on #1408
I have reproduce this only with LiveView. It is likely a phx-click-away bug.

[2022-10-04 09:06] jonatanklosko commented on #1437
@josevalim there are cheatsheets [here](https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-shortcuts-reference), however only for the US layout (as indicated).

[2022-10-04 09:17] josevalim commented on #1437
Maybe we can add a note then that our shortcuts are in specific to US keyboard? And then we say that it also mirrors visual studio code

[2022-10-04 09:39] moogle19 commented on #1459
I am using the internal MacBook display and an external one.
If i focus a window (by clicking on it) on the internal display, the menu bar icon on the external one looks like in the screenshot (and vice versa).

[2022-10-04 09:44] moogle19 commented on #1459
https://user-images.githubusercontent.com/792046/193788349-54954b85-fd7f-462c-ba84-c267a95196cc.mov

[2022-10-04 09:56] #1437 closed

[2022-10-04 10:17] jonatanklosko commented on #1408
The issue is that when we open a modal with a click, LV takes a note of which element was clicked, then when we hit enter on a button, we trigger mouseless click and `phx-click-away` is dispatched based on the previous element.

This has actually been fixed in https://github.com/phoenixframework/phoenix_live_view/commit/37a20e234360a493d914889191c2fee0090e4fcf, so we need to wait for a new LV vers

[2022-10-04 12:26] #1408 closed

[2022-10-04 17:40] lukasschwab commented on #1372
I don't know if the root issue for @helloworldcoding is the same, but the recommendations on #1303 solved this problem for me without requiring I change my computer name: https://github.com/livebook-dev/livebook/issues/1303#issuecomment-1201556386

[2022-10-06 19:41] josevalim opened #1465 "Allow secrets to be deleted and viewed from the sidebar"

[2022-10-06 19:43] josevalim opened #1466 "Make the fact a cell has been edited clearer"
Especially because an edited cell is not automatically reevaluated if it was successfully evaluated.

[2022-10-07 10:44] wojtekmach commented on #909
Done!

[2022-10-07 10:44] #909 closed

[2022-10-09 18:32] afomi opened #1470 "`vs.editor.nullLanguage` error in the browser console"
## Environment

* Elixir = 1.14.0
* Erlang = 25 [erts-13.0.4]
* Operating system: OSX
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): using `mix phx.server` (ran `mix deps.get` and rm'd `node_modules` and `npm install`d again)
* Livebook version (use `git rev-parse HEAD` if running with mix): `33620284b7e4f6727b09e4ed7644e3b827cfd03f`
* Browsers that reproduce this bug

[2022-10-09 19:06] afomi commented on #1470
backtracking through commits, this looks good (still works) [2de629d6052f68da7edcaffdc17c3a94f2072453](https://github.com/livebook-dev/livebook/commit/2de629d6052f68da7edcaffdc17c3a94f2072453)

and the bug appears here (for me, on OSX)
https://github.com/livebook-dev/livebook/commit/9ff3131546a8994df839e5beec98fb0100ca0576

looking into the `monaco-editor` upgrade from `0.33.0` to `0.34.0`

[2022-10-09 19:25] jonatanklosko commented on #1470
Hey @afomi, thanks for the report! This looks like https://github.com/microsoft/monaco-editor/issues/2962, I just left a comment there. Meanwhile I will downgrade to v0.33.0.

[2022-10-09 19:39] #1470 closed

[2022-10-10 18:54] abhijit-kar opened #1472 "LIVEBOOK_DEFAULT_RUNTIME not behaving as it does in LiveBook web app itself!"
## Environment

* Elixir & Erlang/OTP versions: `Elixir 1.14.0 (compiled with Erlang/OTP 25)`
* Operating system: `Mac M1`
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `Livebook CLI`
* Livebook version: `v0.7.1`
* Browsers that reproduce this bug: `NA`
* Include what is logged in the browser console: `NA`
* Include what is logged to the server console: `ERROR!!! [Li

[2022-10-10 19:06] josevalim commented on #1472
Erlang/Elixir automatically adds the hostname by doing this:

[code]

We should probably do the same to the node name in attached mode. PRs welcome!

[2022-10-10 20:04] abhijit-kar commented on #1472
Hey @josevalim,

Didn't know I would get reply from the OG on my first interaction with the community. 😃

I will figure out how & where to make the changes to create this PR tomorrow. (It's 1:27 am at the moment! 😅)

P.S. It's my 3rd or 4th month after I started learning Elixir & Phoenix.

P.P.S. I watched all your conference talks, thank you for everything, excited to see all your vision come to

[2022-10-11 07:13] abhijit-kar commented on #1472
@josevalim,

I don't know how to test `Escripts`, but I created the PR. (My first Open Source Contribution to a real project. 😅)

[2022-10-12 04:43] #1465 closed

[2022-10-12 06:54] abhijit-kar commented on #1351
I loved Projection Boxes, I had to watch the slowed down version to understand what's going on and it blew my mind.

The approach is awesome, and it's seems like a great tool for live programming.

Going through other links.

[2022-10-12 07:06] abhijit-kar commented on #1351
The Microsoft paper, [Usable live programming](https://www.microsoft.com/en-us/research/publication/usable-live-programming/), is interesting but looks ugly in comparison to Projection Boxes.

I wish there was a tool like, [Kernel.dbg](https://blog.appsignal.com/2022/09/13/elixir-1-14-better-debugging-with-dbg-and-more.html), for Recursive code, so I don't have to trace it manually or have a menta

[2022-10-12 07:21] abhijit-kar commented on #1351
[Example-based live programming for everyone: building language-agnostic tools for live programming with LSP and GraalVM](https://dl.acm.org/doi/10.1145/3426428.3426919)

This is really awesome, I liked the usage of Emoji, which made it lot less confusing than the Projection Boxes method.
I liked how it allows inspection of the Recursive code as well.

It's like the stepping through code and debug

[2022-10-12 08:15] abhijit-kar commented on #1351
Jupyter Notebook also uses the GraalVM for live feedback: [Ipolyglot](https://github.com/hpi-swa/ipolyglot)

![IPolyglot](https://user-images.githubusercontent.com/9486619/62134314-8d076000-b2e0-11e9-950e-b773f41ac085.png)

[2022-10-12 08:51] Adzz commented on #1351
This is a great recent talk in that space too:
https://youtu.be/8Ab3ArE8W3s

[2022-10-12 13:48] abhijit-kar commented on #1351
I loved when he said: "Stuff it in a docker container & then ship it out to the cloud for a CI job, wait for it to compile, why do we tolerate this, Docker shouldn't exist, it exists only because everything else is terribly complicated that they added another layer of complexity to make it work, it's like they thought if deployment is bad, we should make development bad too!"

No one will say no t

[2022-10-13 00:45] 100phlecs commented on #1351
Here's a [related talk](https://youtu.be/PUv66718DII) that explores "an immediate connection to your creation" with programming. Has some interesting examples.

[2022-10-13 05:46] abhijit-kar commented on #1351
This is a much fleshed out video, with lots of working examples and filled with ideas to the brim, thank you.

It points out all the pain points in programming.

I really liked Swift Playground because of REPL because of the immediate feedback while coding.

Mapping between code and the output was next level!! The way he used that magnifying glass and it pointed out which code made that, is someth

[2022-10-13 08:33] Adzz commented on #1345
Ah I wish I'd seen this earlier.

We maintain a repo of livebooks that all connect to an application. Having the mix runtime was really good for us because we could start livebook like this:

[code]

and the user doesn't have to think about making that connection manually.

Instead now I'm going to have to try and prepend to every livebook we have a `Mix.install` ? And also communicate to everyone

[2022-10-13 08:41] josevalim commented on #1345
We can find ways to streamline the current approach. :)

But your previous approach was only streamlined because you already did all of the effort of creating a separate repo that would (I assume) have the relevant Kino dependencies. So I really don't think the experience was much better for newcomers unless someone already did the setup. And even then you couldn't use Livebook features such as Sm

[2022-10-13 08:48] josevalim commented on #1345
Oh, we also want to have templates! but you can have a `template.livemd` that everyone uses as a starting point!

[2022-10-13 09:13] josevalim commented on #1345
(No worries, you were not!)

I think the attached mode has the same issues as the Mix mode but we don't have an obvious replacement for it. I would go with the proposal here and work with us as we improve things in the long term, such as: https://github.com/elixir-lang/elixir/issues/12195 :)

[2022-10-13 09:56] abhijit-kar commented on #1351
@100phlecs,

I have created something similar to mapping from output to code, for Phoenix Framework.

A button shows up on top of a component, and upon clicking it the source code opens up in VS Code!!
![Open In VS Code](https://user-images.githubusercontent.com/25662120/195565653-5112a21b-758e-4987-923c-edeb3e6479b0.png)

Here's how it looks in action:

https://user-images.githubusercontent.com/2

[2022-10-15 14:08] clsource opened #1489 "Current session is not included when using anchor relative links in Markdown"
### Discussed in https://github.com/livebook-dev/livebook/discussions/1488

When using markdown

[code]

Is rendered different.

![imagen](https://user-images.githubusercontent.com/292738/195990896-b8cbd370-4783-496b-8f96-98b4ba272d0a.png)

[2022-10-16 20:13] thelastinuit commented on #1351
LiveView feels like the perfect tech to do Bret Victor's Media for Thinking the Unthinkable!

[2022-10-16 20:55] abhijit-kar commented on #1351
Yup, @100phlecs also pointed out a talk by him:

[Bret Victor - Inventing on Principle](https://www.youtube.com/watch?v=PUv66718DII)

---

It's like Serendipity: "The occurrence and development of events by chance in a happy or beneficial way."

[2022-10-17 11:00] #1489 closed

[2022-10-18 17:13] derpycoder commented on #1351
@josevalim,

I was blown away by the the demo when Swift was introduced, back when I wanted to make games. The demo felt extraordinary!!

[WWDC 2014 - Swift Demo](https://youtu.be/MO7Ta0DvEWA?t=215)

[2022-10-20 03:29] Ian-GL commented on #1466
I would like to give it a try to this one 😄

I was thinking of a good way to make this clear and checked what happens in Jupyter notebooks, where the left line is changed to orange. However given there's already a status on the corner of the cell that could be used too. So I was thinking on a design like this one, where the left line still only shows when focusing on the cell but the status is vis

[2022-10-20 12:57] jonatanklosko commented on #1466
@Ian-GL I don't think we should use the left line, because part of the issue is that the user can be on the next cell, they keep evaluating, and they don't realise that the previous cell is changed.

The main challenge is striking the balance, such that the indicator is subtle enough that it isn't distracting when the user type the first letter, but visible enough so they can notice the difference

[2022-10-20 14:04] Ian-GL commented on #1466
@jonatanklosko yes, that is true. For that case I was thinking on changing the status color on the corner and even the status, but I guess the status is needed as the execution could still be queued even if the content has changed.

I was thinking of this other approach taking inspiration from what VSCode shows in unsaved files:

<img width="377" alt="Screen Shot 2022-10-20 at 8 59 43" src="https:

[2022-10-20 14:18] derpycoder commented on #1466
@Ian-GL,

The issue is that, user is viewing some other cell, not the cell that is stale directly.

So I was thinking if we have offscreen enemy indicator like in video games:

![Off Screen Enemy Indicator](https://i.stack.imgur.com/evMj4.png)

[2022-10-20 14:35] derpycoder commented on #1466
@jonatanklosko,

How about we sticky the cell to the top of the page, when we scroll down.
Or a minimalist version of the cell, low in height with a escalation mark, all in yellow color?!?

So it'll show up as stale!!

https://user-images.githubusercontent.com/25662120/196978109-0d6aaaea-78a6-4f31-a76c-f7db330fed8d.mov

[2022-10-20 15:37] Ian-GL commented on #1466
It does add a `*` and changes the font to italics if it has been evaluated and the content changes. Should the text also change? The problem I see with that is that the state could still be `queued` for example but the cell content could have changed.

[2022-10-21 05:06] derpycoder commented on #1340
@josevalim,

There was a Spawnfest competition and something similar to this secret storage came out of it:

https://elixirforum.com/t/secretvault-store-your-secrets-inside-your-repository/51222

https://github.com/spawnfest/secret_vault

[2022-10-22 07:49] nikiiv opened #1498 "Windows 11 antivirus protection flags Livebook executable as malicious. So does VirusTotal"
### Discussed in https://github.com/livebook-dev/livebook/discussions/1497

<div type='discussions-op-text'>

<sup>Originally posted by **nikiiv** October 22, 2022</sup>
When I submitted the executable for analysis it came back quite red
https://www.virustotal.com/gui/file/a0a85d36c620f15cb67343958e9aa3ef13e3401057ff23361cf093bd138a843a

 </div>

[2022-10-22 07:58] josevalim commented on #1498
Please see discussion in #1324.

PS: I have deleted the discussion to avoid duplicates. :) Next time you only need to pick one or the other and we should be fine!

[2022-10-22 07:58] #1498 closed

[2022-10-23 09:12] kipcole9 opened #1500 "Evaluation Process Terminated installing deps with Mac desktop app"
## Environment

* MacOS 12.3
* Elixir 14.1
* OTP 25.1
* Livebook Mac App 0.7.1 (boot error)
* Livebook Escript 0.7 and 0.7.1 (no errors)

## Current behavior: Livebook Mac App 0.7.1

Installing dependencies raises a boot error in Mac standalone app. Note that the environment variable `PATH` in `Settings` is set to `/usr/local/bin` for the build tool chain required for `vix`.

<img width="1012" alt

[2022-10-23 09:56] josevalim commented on #1500
I am pretty sure this is related to the fact we are using the Livebook boot process also for the runtime and it will be addressed by #1495.

[2022-10-24 09:49] wojtekmach commented on #1500
@kipcole9 thank you for the report. This should indeed be solved by #1495 which just landed on main. The fix is also already available as a [nightly build](https://livebook.dev/releases/nightly/LivebookInstall-nightly-macos-universal.dmg) and if you could give that a go we'd appreciate it!

[2022-10-24 09:49] #1500 closed

[2022-10-24 12:00] kipcole9 commented on #1500
Confirmed working on the nightly build. Thanks much @wojtekmach, much appreciated.

[2022-10-26 20:51] samrose commented on #1223
@josevalim I have been trying to come up with a basic packaging of livebook for our company https://floxdev.com here https://github.com/flox-examples/livebook

I will also then upstream this to https://github.com/nixos/nixpkgs

The builder for elixir in the nix community is discussed at https://nixos.org/manual/nixpkgs/stable/#sec-beam  and is usually `mixRelease` which basically performs a prod m

[2022-10-28 13:40] moogle19 commented on #1459
@wojtekmach Did you already update something regarding the icon issue?
It seems fixed now (but I am not sure if this maybe has to do with updating to macOS Ventura)

[2022-10-28 13:47] wojtekmach commented on #1459
We didn't change anything in that area, interesting!

[2022-11-01 12:40] RemyXRenard opened #1507 "Windows desktop install 0.7.2 fails to run"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system: Windows 10
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  Windows desktop
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.7.2
* Browsers that reproduce this bug (the more the merrier):
* Include what is logged in the browser console: No logs
* Include what is l

[2022-11-01 15:58] thedangler commented on #1507
I'm having the same issue.

[2022-11-01 16:11] derheap opened #1509 "Saving a forked livebook should default to the same folder"
I often fork livebooks (mostly for reusing the connection to an elixir project).

## Current behavior

But while saving the fork, I have to wade through all my directory structures again, to save the forked livebook beside the original one.

## Expected behavior

It would be a lot easier, if the save dialog, would start then not on the root directory, but in the directory of the livebook I just cl

[2022-11-01 18:16] Nezteb opened #1510 "Out of memory (OOM) when installing Mix dependencies in Notebook"
## Environment

* How have you started Livebook: `Docker`
* Livebook version: `0.7.2`
* Elixir version: `1.14.0`
* Erlang version: `Erlang/OTP 24 [erts-12.3.2.2] [source] [64-bit] [smp:1:1] [ds:1:1:10] [async-threads:1] [jit] [x86_64-pc-linux-gnu]`

## Current behavior

1. Set up [a Livebook instance on Fly.io with default settings](https://fly.io/launch/livebook).
	1. The default memory is 256mb.

[2022-11-01 18:40] josevalim commented on #1510
This is expected, unfortunately.

First of all, some of the memory is already used for running Livebook itself. Then Livebook starts a separate Elixir instance to compile your code, and code compilation is actually reasonably memory intensive. Especially Elixir that compiles code in parallel, which leads to increased memory usage.

we could work on optimizing those but it is low priority. Most use

[2022-11-01 18:40] #1510 closed

[2022-11-02 17:19] #1507 closed

[2022-11-02 17:33] wojtekmach commented on #1507
Thank you for reporting and confirming the issue. The fix is out in a nightly release, https://github.com/livebook-dev/livebook#desktop-app, verifying it would be very appreciated.

[2022-11-02 19:22] RemyXRenard commented on #1507
Confirmed that the nightly build installs and runs as expected. Thanks.

[2022-11-03 17:52] pookiepats opened #1512 "Windows installer is broken, app will not launch -error code 1"
## Windows 10 pro and Windows 11 pro

## Current behavior

i download the windows installer, install with no issues - i run the exe and receive the same error on both win10 and 11 pro.

the docker version works but only the github pull option.

Include detailed steps to reproduce error, errors and stacktraces if appropriate.

![image](https://user-images.githubusercontent.com/57677891/199797538-15

[2022-11-03 17:54] wojtekmach commented on #1512
Thank you for the report. This is fixed on main and available in nightly releases: https://github.com/livebook-dev/livebook#desktop-app

[2022-11-03 17:54] #1512 closed

[2022-11-03 20:27] #1459 closed

[2022-11-03 20:30] #648 closed

[2022-11-03 20:31] #1095 closed

[2022-11-03 20:32] josevalim opened #1513 "Make Reevaluate always more accessible"
I was thinking a bit on how to make "Reevaluate always" more accessible and I realized we could have a dropdown close to the Evaluate button:

<img width="951" alt="Screenshot 2022-06-21 at 23 51 12" src="https://user-images.githubusercontent.com/9582/174903460-c9bd1c49-02af-4ad7-82eb-41d31bc478ea.png">

Clicking the button will open up a menu where you can between "Evaluate on demand" or "Evaluat

[2022-11-03 20:32] josevalim commented on #1237
Closing this for now as my experiments with live evaluation shows it is much trickier to implement than anticipated.

[2022-11-03 20:32] #1237 closed

[2022-11-03 20:34] josevalim opened #1514 "Show defined modules under each session in the sidebar"
Clicking the module takes you to the place in the code editor.

[2022-11-03 22:20] josevalim commented on #1513
<img width="802" alt="image" src="https://user-images.githubusercontent.com/9582/199845407-7679c5b3-23b3-4561-b963-d055b6fc47f6.png">

[2022-11-05 22:09] josevalim opened #1515 "Potentially convert vbc to PowerShell"
The irony is that the .exe is generated by a Microsoft tool. The reason why it gets flagged as dangerous is that everybody has access to `vbc.exe` and a lot of people have used it to distribute malicious software. So now statistically its output is not trustworthy. The good news is the .exe is not needed. PowerShell can do what VBScript can. Below is my translation of the launcher script to PowerS

[2022-11-06 03:30] michalmuskala commented on #190
Was there any progress on adding support for other BEAM languages? I'd be quite interested in helping out with adding Erlang support if this hasn't happened yet (and looking through the code I couldn't find any relevant references)

[2022-11-06 09:45] josevalim commented on #190
Hi @michalmuskala, there was no progress here but we would love Erlang support.

For simplicity, we have decided that the Erlang runtime would still be implemented in Elixir, this way we can share most of the code and still use things like `mix` to install packages.

I believe the work is:

1. Add the ability to choose an Erlang cell in the UI (you can start with an additional Code button for now

[2022-11-07 10:53] jonatanklosko commented on #190
We also need Erlang syntax highlighting in the Monaco editor.

Given that the binding can't be shared I'm not sure if we should support Erlang as part of regular runtimes, or have a separate runtime Erlang instead. More specifically, I'm not convinced we should allow both Elixir and Erlang cells in the same notebook, because then it's less "convertable" to a single script. Dependency management is

[2022-11-09 09:09] michalmuskala commented on #190
One option for sharing bindings would be to expose a map with them in each language: in Erlang this would be `Elixir = #{a => var_a, ...}` in Erlang it would be `erlang = %{:A => VarA, ...}`.

[2022-11-09 09:22] josevalim commented on #715
For those looking into this, I have seen this extension recommended for those who want (neo)vim in the browser: https://github.com/glacambre/firenvim

[2022-11-09 13:24] Benjamin-Philip commented on #715
I wonder if monaco has some `settings.json` equivalent like VS Code, or an `init.el`/ `.vimrc` equivalent similar to Emacs/Vim.
Maybe we could an implement one? That way we could support a lot of personalisation without requesting PRs on Livebook.

We could also optionally support the [ace editor](https://ace.c9.io/) which already has vi and emacs keybindings built in.

[2022-11-09 18:16] #1275 closed

[2022-11-10 08:15] thbar commented on #475
I would like to highlight a use-case we would have for this : if a public dedicated server could be deployed to run a specific `livemd`, with inputs that the user can edit, but no ability nor risk to edit anything else than the inputs (especially code), we would definitely use it to create public documentation, typically tutorials on how to interact with APIs (in the spirit of the video you can se

[2022-11-10 17:26] BrooklinJazz commented on #1234
🎉🎉🎉🎉🎉🎉

[2022-11-10 17:52] josevalim commented on #179
Closing this as it is now tracked in a meta issue.

[2022-11-10 17:52] #179 closed

[2022-11-11 20:43] jonatanklosko opened #1526 "Group doctests output"
We should capture all outputs for each doctest and show together with the doctest. The question is how to show output for the successful doctests, for example we can make the groups collapsible.

[2022-11-16 13:35] jonatanklosko opened #1533 "Add a note on secrets"
We can have a (?) icon in the secrets panel that says something like "Secrets are accessible as environment variables prefixed with LB_".

[2022-11-16 13:35] josevalim opened #1534 "Add a tip to Secrets pane"
On the secrets pane, on the top right, we should have a "question mark" that,  on mouse over/click will say:

[2022-11-16 13:36] #1533 closed

[2022-11-17 00:11] #1534 closed

[2022-11-22 10:25] waveywaves opened #1541 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Livebook maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) preview environments.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi).

Uffizzi is a Open Source full stack previews engine and our platform is available completely free for Livebook (and all open source projects). This will provide maintainers with

[2022-11-23 22:12] josevalim commented on #1526
Here is a thread with inspirations about the UI: https://twitter.com/josevalim/status/1595535792814059520

Examples are: playwright, cypress, jasmine, etc.

[2022-11-23 22:39] josevalim opened #1545 "Data exploration"
Similar to live programming, one of the ultimate goals in Livebook is to offer better tools for data exploration. Some of those may require changes to Livebook, to Kino, new Kinos, and so on, so I am opening an meta issue here. Many of the references were previously linked on https://github.com/livebook-dev/kino/issues/40.

It is also unclear which features will be added to Kino.DataTable via Tabl

[2022-11-23 22:55] josevalim opened #1546 "Provide go to definition of modules and functions defined in the notebook"
When we show the docs, we can have a "go to definition" button. We can also support ctrl+click, as in Visual Studio.

[2022-11-24 15:31] moogle19 opened #1547 "Livebook won't start"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.14.2
* Operating system: 13.0.1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): macOS App
* Livebook version (use `git rev-parse HEAD` if running with mix): Latest

## Current behavior

Livebook fails to start with:
<img width="253" alt="Screenshot 2022-11-24 at 16 22 10" src="https://user-images.gith

[2022-11-24 15:48] wojtekmach commented on #1547
Are you on Apple Silicon by any chance? If so, please see this comment: https://github.com/livebook-dev/livebook/pull/924#issuecomment-1323403668.

[2022-11-24 15:49] wojtekmach commented on #1547
Should be fixed by 93532b8.

[2022-11-24 15:49] #1547 closed

[2022-11-25 11:01] ByeongUkChoi commented on #1514
like this?:
<img width="1337" alt="image" src="https://user-images.githubusercontent.com/43606066/203969681-a0685abb-212f-40a1-8430-12ffa70448e5.png">

How can I get modules name?
And How can go to the place in code editor when click module name in sidebar?

[2022-11-25 11:28] josevalim commented on #1514
Yes, I think something like that, but probably using an icon (such as the `<>` icon) in the front.

I am not sure if this is currently available. @jonatanklosko?

I think we would need to add this functionality first.

[2022-11-25 11:41] jonatanklosko commented on #1514
We would need to send this information in evaluation result metadata. Currently we only send a map with versioned identifiers (all kinds of definitions). To distinguish modules specifically, I think it should be a separate list, including the name, line, etc.

[2022-11-25 11:43] josevalim commented on #1514
@jonatanklosko then would it be easier to start with #1546 and provide go to definition for modules? since that information all happens in the evaluator?

[2022-11-28 03:16] twirlse commented on #1324
First of all: thanks for a great product!

Just got Windows Defender triggered for launcher (Trojan:Win32/Wacatac.H!ml), as well some antiviruses report setup as a virus [1]
I guess it's a false positive, but it looks pretty sketchy and I can hardly recommend other developers to just ignore this.

According to Microsoft EV code signing certificate earns trust with SmartScreen [2], which may be cou

[2022-11-28 20:05] tricoiret opened #1553 "Livebook triggers antivirus"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.3/24
* Operating system: Windows 11 (version 10)
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Downloaded it from livebook.dev/#install

## Current behavior

After running the installer from livebook.dev/#install for windows, my antivirus (windows Sophos Antivirus) marks it as a virus. Even after

[2022-11-28 20:16] wojtekmach commented on #1553
Thank you for the report. We are aware and looking at options, see https://github.com/livebook-dev/livebook/discussions/1503

[2022-11-28 20:16] #1553 closed

[2022-11-28 22:41] josevalim commented on #1541
Hi @waveywaves! Yes, we would love to give Uffizzi a try, it looks very useful!

[2022-11-30 16:12] #1541 closed