[2022-01-23 22:02] PJport commented on #925
This is the error I get by running `$ mix escript.install hex livebook`

[code]
Running the first 4 suggestions (`mix deps.compile phoenix_live_dashboard`, `mix deps.compile phoenix_live_dashboard` ,  `mix deps.update phoenix_live_dashboard` and `mix deps.clean phoenix_live_dashboard`) I got this error:
`** (Mix) Could not find a Mix.Project, please ensure you are running Mix in a directory with a

[2022-01-23 22:18] josevalim commented on #925
Ah, you also need to update rebar: `mix local.rebar` should address it!

[2022-01-24 00:12] eksperimental opened #930 "UX: when selecting a live book, the file should not be removed from the list of files in the current folder"
I have some files named with the same root,

If by mistake I double click I end up selecting another one.
![image](https://user-images.githubusercontent.com/9133420/150703901-68d72c63-6834-4e9a-9bc6-03ecd6188148.png)

Look here now it is a different file in the same position of the cursor
![image](https://user-images.githubusercontent.com/9133420/150703920-de6d37ef-a2b6-40be-b4c7-c68bea16d154.png)

[2022-01-24 06:51] josevalim commented on #930
We discussed this when implementing the file component. We need to make it clear which file is being selected and keeping the file in both places was repetitive. So for now we don’t have plans to change it but we can revisit this in the future if it continues to cause confusion. Thanks!

[2022-01-24 06:51] #930 closed

[2022-01-24 10:21] jonatanklosko commented on #795
Closed via #922.

[2022-01-24 10:21] #795 closed

[2022-01-24 12:34] PJport commented on #925
That solved it thank you!
My intention by adding this here as an issue instead of just asking for help on "elixirforum' was to potentially add an * in the instructions to highlight the need to update old installed versions of Hex and Rebar if old installations exist. Making this obvious so that nobody needs to google for a solution :)
Thank you very much!

[2022-01-24 12:46] josevalim commented on #925
Yes, I think reporting the issue was a good call. I would prefer to keep the instructions "lean" for now, hoping your case is not very common. But if it continues to happen, then we will update the website, thank you!

[2022-01-24 12:46] #925 closed

[2022-01-24 22:23] jonatanklosko commented on #841
Closed via #841.

[2022-01-24 22:23] #841 closed

[2022-01-24 22:52] w0rd-driven commented on #908
Fixed in #929.

[2022-01-24 22:52] #908 closed

[2022-01-25 05:24] Benjamin-Philip commented on #633
@josevalim, could I tackle this?

I'll work on support for Global and project wise configuration, or maybe even just Global config.

Do note it may take about 2 months to send a PR. I hope there's no rush!

[2022-01-25 07:28] josevalim commented on #633
Hi @Benjamin-Philip, we may need this sooner as it is important for the desktop app. So I recommend picking up a smaller issue. thanks for asking!

[2022-01-25 15:19] #923 closed

[2022-01-25 20:54] jonatanklosko commented on #728
@josevalim honestly it would be weird to add the warning to cell outputs as a result of formatting with `ctrl + shift + i`.

For cases like piping the formatter would pick one interpretation, and if that's not what the user wants then can use `ctrl + z` and correct it.

I'd suppress formatting warning altogether, ideally via an option to `Code.format_string!/2` if adding that is viable.

[2022-01-25 21:09] josevalim commented on #728
Alright, I will tackle this on Elixir side then. I will let you know if we do this by default or behind an option. However, we need to handle the syntax error. :)

[2022-01-25 21:10] jonatanklosko commented on #761
@josevalim to wrap warnings we would need to make them a separate output, but I'm not convinced this is a good idea. For example when installing a few packages with `Mix.install` there can be a number of deprecation warnings and if we separate them from regular output, we end up with unnecessarily large output area. In particular instead of a single scroll box, we get many, which makes it hard to

[2022-01-25 21:13] jonatanklosko commented on #728
@josevalim for syntax errors the same point applies, showing the error on formatting shortcut is weird, and they will see the error as soon as they evaluate.

[2022-01-25 21:25] josevalim commented on #761
If the goal is to emulate stdio/stderr, then I would say wrapping of outputs should always be enabled, because that’s how the terminal behaves. I would also make sure that :io.columns returns an equivalent “column number” inside the runtime, so everything behaves properly and respects the limits!

[2022-01-25 21:27] josevalim commented on #728
It doesn’t need to be output but today if there is a syntax error, then nothing happens and there is no feedback. I think we need at least some feedback. The best would be if we could rescue those errors and show those as squiggly lines in the editor!

[2022-01-25 21:28] jonatanklosko commented on #761
The thing is that we do line virtualization, that's why we need all lines to fit a single row.

[2022-01-25 22:10] josevalim commented on #761
I see. Well, maybe the formatting for compile errors are enough for now, otherwise we will revisit it later.

[2022-01-25 22:10] #761 closed

[2022-01-25 22:56] Adzz opened #938 "Re-read a livebook from the filesystem"
If you edit a livebook in a text editor while it is open in livebook -  for example to add the magic `` line - the livebook does not seem to pick up the changes made in the editor, the only way to see the change is to close the session and re-open it.

Is there a way to refresh the livebook to pick up these changes (even if it's a button)?

I understand this may get tricky with auto-save on.

[2022-01-26 07:44] josevalim commented on #938
Correct. It is complicated with auto-save. My hope is that soon GitHub will treat .livemd as markdown, and then we will no longer need this annotation and the problem will disappear. If that does not happen, then we should allow this annotation to happen within Livebook’s UI, but I want to wait a bit.

[2022-01-26 07:44] #938 closed

[2022-01-26 08:53] Adzz commented on #938
That makes sense, my other use case is I've been playing with generating livebook templates so testing that is tricky, but I appreciate that is not a usual requirement!

[2022-01-26 12:40] josevalim commented on #728
The warning part has been fixed in Elixir. We still need to show errors though. If we can do it using editor integration (instead of part of output), then even better!

[2022-01-26 13:49] jonatanklosko commented on #728
@josevalim fantastic, thanks!

[2022-01-26 18:59] Sorc96 opened #940 "Mix standalone without starting applications"
I have been trying Livebook for writing documentation for a Phoenix app. Right now, it's impossible to open the documentation in  context of the app without setting up everything it needs, even when the examples in the docs may not need any external dependencies. It would be great if we could load the context, but not start the supervision tree.

I tried adding `--no-start` to the port arguments i

[2022-01-26 19:07] jonatanklosko commented on #940
There is an alternative that gives full control over the setup:

[code]

And then use "Attached runtime" with node `app` and cookie `app`. This is particularly useful if you need `mix phx.server` and alike.

There are many possible combinations one may want, so I think sticking doing the simple version is enough, given the other approach. @josevalim?

[2022-01-26 19:10] josevalim commented on #940
:+1: for your approach @jonatanklosko. We have even considered removing the Mix one altogether since you can always connect to any node with the above. Maybe we should go ahead with removing it and change the example in `Attached node` to be something like:

    iex --sname app --cookie app -S mix run

WDYT @jonatanklosko ?

[2022-01-26 19:14] jonatanklosko commented on #940
@josevalim the Mix runtime has slightly different semantics, because it can actually be restarted. Also it's useful that we manage it for the user, especially that it can be set as the default runtime. So I'd keep it as an option, but stick to the simple use case.

[2022-01-26 19:22] josevalim commented on #940
@jonatanklosko in that case I think we should have an additional field called "Mix arguments", because otherwise telling people to run on "Attach node" means losing those benefits. :)

We can have this field default to "run". `OptionParser.split/1` can be used to break it apart before we pass it downstream.

@Sorc96 would you like to send a PR?

[2022-01-26 19:29] Sorc96 commented on #940
@josevalim I'm afraid I don't have much experience with Elixir/Phoenix/LiveView, I just recently started learning. I would like to get familiar with the Livebook codebase, because I'm sure I can learn a lot, but I don't feel quite comfortable making a change like this just yet.

[2022-01-26 19:59] josevalim commented on #940
No problem, thanks for the update!

[2022-01-27 06:19] ryg-git commented on #635
If it is okay, I would like to work on this issue.

[2022-01-27 06:27] aar2dee2 commented on #635
Hey, @ryg-git, would you like to work together on this?

[2022-01-27 06:40] ryg-git commented on #635
@aar2dee2 sure we can work together

[2022-01-27 07:21] josevalim commented on #635
Please go ahead. :)

[2022-01-27 11:01] #717 closed

[2022-01-27 11:44] aar2dee2 commented on #635
just confirming what the flag should do - for `--notebook <notebook_name>`
if the server is already running - log that the server is running and open <notebook_name> in a new tab
if server is not running - start server and open <notebook_name> in new tab

[2022-01-27 12:02] jonatanklosko commented on #635
@aar2dee2 sounds good!

[2022-01-27 14:47] #910 closed

[2022-01-28 20:00] #728 closed

[2022-01-28 20:45] #914 closed

[2022-01-29 08:19] josevalim opened #950 "Unify --open/--open-new/--open-file/--import-url"
Currently we have `--open` and `--open-new`. We chose to use `argv` to specify opening a URL or a file. However, it would be nice if we could merge all functionality as argv, here is a proposal:

    livebook server file_or_dir_or_url

Examples:

    # Open up a file
    livebook server my_notebook.livemd

    # Open up home with file navigation set to the given directory
    livebook server .

[2022-01-29 08:26] wojtekmach commented on #950
Great call.

An obvious limitation is we couldnt open directory called `new` which I guess is not a big deal but feels bad. Maybe we have `—-new` or something just for that after all?

[2022-01-29 08:41] josevalim commented on #950
@wojtekmach you could still open up a directory as `./new` if you ever run into this corner case?

[2022-01-29 09:58] aar2dee2 commented on #927
I'd like to work on this, if that's okay

[2022-01-29 10:05] josevalim commented on #927
@aar2dee2 I have a slightly different proposal! :)

Note that I changed your recent PR to only accept URLs. I think you can augment the same code to open files instead. :) It would be something like this:

[code]

The issue here is that there is no such `notebook_open_url` and there is no route for opening a given file. So you would need to define a `/open?file=...` in a similar way that we have `

[2022-01-29 10:35] aar2dee2 commented on #927
okay.. (just trying to understand this a bit more)
so a `notebook_open_url` function in Livebook.Utils and an `/open` route in LivebookWeb.Router, perhaps [here](https://github.com/livebook-dev/livebook/blob/372f086044808f11f1d1a7a7989fb41db07ee5ec/lib/livebook_web/router.ex#L68). is that the right start?

[2022-01-29 10:37] josevalim commented on #927
Yes!

[2022-01-29 14:53] jonatanklosko commented on #950
Sounds good to me, so we are just throwing a location at Livebook and it should do the right thing.

The question is how `livebook server dir` relates to `--root-path`. There are two options:

1. `livebook server .` sets the current directory as root path, in this case we don't need `--root-path`, but then what about `livebook server --root-path ~/notebooks ./my_notebook.livemd`? We could still ac

[2022-01-29 15:18] josevalim commented on #950
It has to be option 2 because there may already be an instance running (with a set root path).

[2022-01-29 16:32] jonatanklosko opened #952 "Handle invalid parent index on notebook import"
See #951. We should ensure parent section is before the given section and isn't itself a branching section. When invalid we should ignore the parent and emit a warning.

[2022-01-30 02:04] en30 opened #954 "Error on Kino script loading if a livebook instance is behind cookie based authentication proxy"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system:
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Docker
* Livebook version (use `git rev-parse HEAD` if running with mix): `livebook/livebook@sha256:4623d37ca4d4ac7d06a48a12d0745e02c301abb42baac2674d0a1771f0dc5be7`
* Browsers that reproduce this bug (the more the merrier): Google Chro

[2022-01-30 08:33] josevalim commented on #954
We had a similar bug on v0.5.0 but it should be fixed on v0.5.1. I couldn't find your tag on Docker, so can you please make sure you are on latest? Unless you pulled yesterday, which means you are on latest. :)

[2022-01-30 09:28] en30 commented on #954
I don't know why the tag is not there...
Here is the result for `livebook version`
[code]

Is there any possibility that the HTTP request to load script does not include credentials because it is sent from the sandbox `iframe`?

[2022-01-30 09:52] josevalim commented on #954
Thanks, I can reproduce it now. I was incorrectly assuming it was generally related to authentication but it actually happens only on token authentication, not password one. `PHOENIX_TOKEN_ENABLED=1 mix phx.server` is enough to reproduce it.

[2022-01-30 16:03] al2o3cr opened #959 "Allow downloading source from the "Running Sessions" list"
Expanding on https://github.com/livebook-dev/livebook/issues/803, even large outputs can render an in-memory Livebook inaccessible.

For instance, dumping the entire decompiled source discussed [in this forum post](https://elixirforum.com/t/need-help-decompiling-beam-file/45441) tries to display 42639 lines and leads to the tab hanging.

If that happens in a Livebook that isn't persisted to disk,

[2022-01-30 16:09] josevalim commented on #959
All livebooks are auto saved, so those no longer should be a concern. We are making the auto save path more visible and configurable in the next release.

Although I think a “Get source” or “Export” on the home page menu can be helpful in those cases too. @jonatanklosko, any preference on which of those two actions you would prefer? I am thinking Get Source would be a text/text rendering of the .l

[2022-01-30 16:09] josevalim commented on #959
Also note that in the main branch you can disconnect the runtime from the home page, which should address those concerns tooz

[2022-01-30 16:20] gpopides commented on #950
I had a look on the code to see if i can work on this and have some questions.  Would appreciate if you could explain a bit what we want to achieve.

Based on what i have understood, you want to
1. remove `open/open-new` opts
2. Find a way to specify that you want to open a new notebook using the current directory as root path.
3. When you provide a directory, se this directory as root path
4. Whe

[2022-01-30 16:34] josevalim commented on #950
We don't want to specify the root path. Instead, we want the open up the home page with the "filesystem navigator" pointing to a specific directory. This feature should not touch `--root-path` at all. So here are the descriptions:

1. When `new`, such as `livebook server new`, open up a new empty livebook (this replaces `--open-new`)
2. When you provide a directory, open up the home page with the

[2022-01-30 18:55] josevalim commented on #633
Thank you @Qizot for the PR. I have updated this PR description with the tasks we identified and broke apart.

[2022-01-31 00:24] oo6 opened #962 "Customizable rows and resizing of Kino.Input.textarea"
## Current behavior

Fixed height and disabled resizing. Generated html code:
[code]

## Expected behavior

Customizable rows and resizing.
[code]
[code]

I'd like to do it if possible.

[2022-01-31 07:12] en30 commented on #954
I am not sure we are looking at the same problem because I cannot reproduce it by changing `config/dev.exs`. Just in case, I created a repository to reproduce the behavior without GCP.
https://github.com/en30/livebook-issue-954

[2022-01-31 07:40] josevalim commented on #962
@jonatanklosko, what do you think? I would also make it resizable by default, so we don't need an option, any reason not to?

[2022-01-31 10:40] josevalim commented on #635
Partially in. The rest will be addressed in #950. Thanks!

[2022-01-31 10:40] #635 closed

[2022-01-31 11:20] jonatanklosko commented on #962
Yeah, I think it's fine to just make it always resizable and set a reasonable `min-height`. Configurable `rows` sounds good to!

[2022-01-31 12:13] jonatanklosko commented on #959
If we had export I'd say it should redirect to the session and the export modal, so this doesn't help. However we can totally have a download link, since we have a separate download endpoint :)

[2022-01-31 12:44] jonatanklosko commented on #954
@en30 thanks for the detailed reproduction. So the relevant `Cookie` is for the proxy server, not Livebook, and it isn't attached when sending requests from within the iframe, so the request redirects to the proxy auth page. This is a huge concern, because in order to send the cookie we would need `sandbox="allow-same-origin"` on the iframe, but we cannot do that together with `sandbox="allow-scri

[2022-01-31 13:41] josevalim commented on #954
@jonatanklosko can the iframe sets its own cookie? If it can, then we can pass all cookies to the iframe, except the ones that are important for us.

[2022-01-31 13:46] jonatanklosko commented on #954
We cannot access HttpOnly cookies from JavaScript and I imagine a proxy like that would set that (either way we shouldn't assume).

[2022-01-31 13:51] josevalim commented on #954
@jonatanklosko we have all cookies in the server, which we can pass down. We can also make it an explicit configuration if we don't want to assume.

[2022-01-31 13:55] jonatanklosko commented on #954
It's the proxy that sets the cookie though, so we don't have direct access to it on the server, maybe on a subsequent request. And even then, if the cookie is HttpOnly, passing it down doesn't help because the iframe won't be able to set it.

[2022-01-31 13:58] jonatanklosko commented on #954
@josevalim on a related note, I'm looking into camera access and there are also issues, because our setup is too strict. I have an idea how we can solve both, though it's definitely not pretty.

[2022-01-31 14:56] dariodip opened #964 "URL logged in the console is not fully clickable"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): v1.13.0
* Operating system: Ubuntu 20.04.1
* How have you started Livebook: Docker
* Livebook Version: v0.5.2

## Current behavior

When you run Livebook via Docker, it will print the URL in the console, but the URL is not fully clickable and you have to either copy-paste the token in the browser manually or copy-paste the full URL

[2022-01-31 16:08] josevalim commented on #964
Afaik this is not something we control. The terminal is the one that automatically recognizes the links and makes them clickable. For example, the link is clickable for me on iTerm if i hold the alt key (which is how it works on iTerm).

[2022-01-31 16:12] jonatanklosko commented on #964
Actually we should be able to improve that, for me given `http://localhost:8080?token=value` the link stops at `?`, however adding a slash as in `http://localhost:8080/?token=value` makes the whole URL clickable, so it shouldn't hurt to print that instead.

[2022-01-31 16:18] josevalim commented on #964
We always print the URL with slash though, don't we?

[2022-01-31 16:19] dariodip commented on #964
Nope. The URL is without the slash (i.e. `http://localhost:8080?token=value`)

[2022-01-31 16:26] josevalim commented on #964
Ah, it should add a URL but there is a bug in Elixir v1.13.0. Updating it to 1.13.2 fixes it.

[2022-01-31 16:28] jonatanklosko commented on #964
Oh great, so we need to bump the Docker image then!

[2022-01-31 16:40] #964 closed

[2022-01-31 17:09] mayel commented on #682
@josevalim could you please advise about a way forward on this topic: https://github.com/livebook-dev/livebook/pull/436#issuecomment-1024830105
Thanks :)

[2022-01-31 23:20] w0rd-driven opened #967 ""New Window" menu item for Desktop app"
In testing for writing up #908, I noticed that I can close the tab in my browser (Chrome) and not have an easy way back to the running instance. My workaround for that has been to close the app, wait a minute or so for it to fully close, then reopen. I was wondering if there could be a menu item that allows me to keep the app open but just reissues the initial open command.

I tried two approaches

[2022-01-31 23:30] josevalim commented on #967
The version in main should do the correct thing whenever you click on the dock. If there is no window, it opens up a new one. If there is one, it focuses it.

If you close all windows, then you need to go to the dock, as any other app. Perhaps a keyboard shortcut for opening of the app is focused is what you propose?

[2022-02-01 00:47] w0rd-driven commented on #967
I opened this before trying main and it does what I was expecting. Sorry to have missed that.

A global keyboard shortcut could save more time if it's possible but the current behavior does save typing the address. I'm good with closing this unless you think the shortcut would be useful.

[2022-02-01 05:26] josevalim commented on #967
A global shortcut is planned, so I will go ahead and close this, but if you want to send a PR for it, it would be really appreciated!

[2022-02-01 05:26] #967 closed

[2022-02-01 11:56] en30 commented on #954
@jonatanklosko Thank you for clarifying the situation.
@josevalim I am sorry for my confusing description.

Since `import` consists of `fetch` and `evaluation`, may it be possible to work around this by doing the `fetch` outside the `iframe` to get the code as text and then doing the evaluation inside the `iframe`?
`fetch` sends cookies without touching them and `evaluation` is done inside sandbox

[2022-02-01 12:50] jonatanklosko commented on #954
@en30 actually this should be fairly straightforward, we can load the module outside iframe and inside iframe we would still use `import(url)`, but use a dataurl with module contents.

That said, I think the issue is more broad and solving the camera access issue will automatically solve this as well. Otherwise, this sounds like the best alternative!

[2022-02-01 21:55] en30 commented on #954
@jonatanklosko
Oh, sure! It's definitely much better to use `import` as-is.

I hope your solution (Feature Policy or something?) is successful🤞

[2022-02-01 23:37] jonatanklosko commented on #954
@en30 could you try the latest `:edge` docker image? I think it should be solved with the changes in #968 :)

[2022-02-02 01:56] en30 commented on #954
@jonatanklosko  I tried it both on GCP and using [en30/livebook-issue-954](https://github.com/en30/livebook-issue-954), but it still doesn't seem to be working.

To make sure I use the latest image, I specified `sha256` digest.
`livebook/livebook@sha256:d3f6f80f60d9419465552b12b8afe0b220cf8303269991212f6430f976e6625c`
from https://hub.docker.com/layers/livebook/livebook/edge/images/sha256-d3f6f80f

[2022-02-02 10:22] oo6 commented on #962
If always resizable, configurable rows maybe not need?

[2022-02-02 10:59] josevalim commented on #962
Your call. If you simply want to make it resizable, a PR that makes it so and adds a min-height would be very welcome! :heart:

[2022-02-02 12:45] jonatanklosko commented on #962
Just resizable sounds good to me, we can always add rows configuration later when there is a clear need for it :)

[2022-02-02 12:59] jonatanklosko commented on #848
Closed via #961.

[2022-02-02 12:59] #848 closed

[2022-02-02 13:12] #962 closed

[2022-02-02 15:15] jonatanklosko commented on #954
@en30 thanks for checking. So the cookies are indeed not sent when importing the module, that's because this is a non-simple cross-origin request (from livebook.space iframe to the livebook endpoint). So far I looked into two ways of addressing it, but neither seems good enough:

1. We load the module contents in Livebook and import as data URL in iframe (as mentioned above). This successfully loa

[2022-02-02 18:30] nickgnd opened #971 "Kino.DataTable does not render the table"
Hey 👋
first of all, thanks for the amazing work and all the effort you put into this project.
I'm learning ML with NX and LiveBook, great experience so far.

Please let me know if you need more information and how I can support you 🙇
Feel free to adjust title description if it does no fit, or to close the issue if duplicated.
It might be related to this #954, but I was not sure.

## Environment

*

[2022-02-02 18:35] jonatanklosko commented on #971
Hey @nickgnd! Could you please install Livebook from the main branch and let us know if it helps?

[code]

We made relevant changes just yesterday and it may have already solved it :)

[2022-02-03 01:18] en30 commented on #954
- For Cloud Shell's Web Preview (the original use case of this PR) which launches an authentication proxy implicitly, I could not find a way to configure passthrough paths.
- For Google Cloud's Identity-Aware Proxy, a managed authentication proxy service, there is [a way to configure passthrough paths](https://cloud.google.com/iap/docs/cloud-iap-context-aware-access-howto)

I think the solution is

[2022-02-03 06:35] en30 commented on #954
I haven't done a proper feasibility check yet, but is it possible to do something like this?

- Use Service Worker in an iframe, intercept fetch.
  - Can `iframe` have Service Worker?
  - Can `import` also be intercepted?
- In the case of a request to livebook, use `postMessage` and make parent frame to `fetch` the request, and return the response.

[2022-02-03 06:54] Benjamin-Philip commented on #959
@jonatanklosko, I think renaming the issue from "Allow saving" to "Allow exporting" would be more appropriate.

[2022-02-03 07:12] Benjamin-Philip opened #972 "Clicking "See on Dashboard " from "Running Sessions" list raises an error"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):

[code]

* Operating system:

Linux 5.15.16-200.fc35.x86_64

* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):

`mix phx.server`

* Livebook version (use `git rev-parse HEAD` if running with mix):

`git rev-parse HEAD` output:

`e83015d86abf9d6a10c8853c5bd457e18494238d`

* Browsers that reproduce this bug

[2022-02-03 07:43] Benjamin-Philip commented on #972
Update: clicking "See on Dashboard" from the notebook itself also fails.

[2022-02-03 07:50] Benjamin-Philip commented on #959
In this case would default to including outputs or not? Since this is a link, the user has no way of choosing this.

Also, would only the markdown source be downloaded by option?

[2022-02-03 08:02] josevalim commented on #959
The goal is to the user to download a "backup" of the work so far, so only markdown with no outputs. For more complex options then they must use Export.

However I just realized that the Fork button would also be enough to recover the session. But I guess having a "Download source" does not hurt anyway and it may give folks more piece of mind.

[2022-02-03 08:21] josevalim commented on #972
Good catch. I am releasing a new dashboard version soon

[2022-02-03 08:21] nickgnd commented on #971
Hey @jonatanklosko, thank you for the quick reply.

I have just tried, it works like a charm! 🎉

I'll close the issue, many thanks again for this amazing tool 🙇
Have a nice day! ✌️

[2022-02-03 08:21] #971 closed

[2022-02-03 09:01] #972 closed

[2022-02-03 12:49] jonatanklosko commented on #971
@nickgnd fantastic! :tada:

[2022-02-03 13:25] jonatanklosko commented on #954
Using service workers is likely asking for trouble. We would need to proxy the request as `sw -> iframe -> livebook -> iframe -> sw`. But even then I don't think it's possible, because passing objects, such as `Request` as messages is not possible (results in an error like "object cannot be cloned"). For the request specifically maybe we could do manual serialization and recreation, however for re

[2022-02-03 17:51] #954 closed

[2022-02-03 17:53] jonatanklosko commented on #954
@en30 thank you for the discussion! I added an error message that should clarify the problem and suggest exposing `/public/*` as the expected way to address it (#975).

[2022-02-03 19:26] jonatanklosko commented on #950
Closed via #969.

[2022-02-03 19:26] #950 closed

[2022-02-03 20:17] jonatanklosko commented on #810
Closed via #870.

[2022-02-03 20:17] #810 closed

[2022-02-03 23:54] en30 commented on #954
@jonatanklosko Thank you for addressing the issue. And thank you for all of your hard work and the great product.

[2022-02-04 09:08] gilacost opened #981 "Markdown not highlighting triple tilde lang blocks"
## Environment

* Elixir `1.13.2` &  Erlang/OTP `24.2`
* Operating system: macOS Big Sur, 11.3.1
* How have you started Livebook:  `mix phx.server`
* Livebook version (use `git rev-parse HEAD` if running with mix):  `a308a63994474b5b6f429bcd8d4b6eb919448174`
* Browsers that reproduce this bug:  Firefox

## Current behavior
![Screenshot 2022-02-04 at 09 06 44](https://user-images.githubusercontent.

[2022-02-04 09:14] josevalim commented on #981
Thanks for the report. Currently we don't support Erlang (or any other language besides Elixir I think) in the Markdown blocks. Maybe we should include common languages or automatically import themes, but we need to see how much more expensive it would make distributing the app. @jonatanklosko, it is your call.

[2022-02-04 10:15] Benjamin-Philip commented on #803
Would truncating 1 line from the beginning, and appending the next line (once 1000 lines have been outputted) help?

[2022-02-04 10:36] #959 closed

[2022-02-04 10:49] jonatanklosko commented on #981
@josevalim the languages are in separate files and are fetched dynamically. We just need to keep in mind that for Escript we embed the assets, so adding more files will increase the size. The language definitions are not particularly expensive, adding YAML is like 3.5K, Ruby 8.32K. However, there is no official support for Erlang yet (https://github.com/microsoft/monaco-editor/issues/882). There i

[2022-02-04 11:06] josevalim commented on #981
@jonatanklosko that's a good rule!

@gilacost if you are interested, please provide an Erlang syntax for Monaco and then we will be glad to include it here. :)

[2022-02-04 11:06] #981 closed

[2022-02-04 11:25] jonatanklosko commented on #803
Cycling the lines sounds good to me. On the LiveView side we are already only appending lines, so this part is optimised. To support capping we need a change in two places:

* limit the stdout we keep on the server to last 10_000 lines (`Notebook.add_output`)
* on the JS side we need to remove DOM elements once we start having more than 10_000 lines (on `updated` in the `VirtualizedLines` hook) -

[2022-02-05 08:32] josevalim opened #983 "Add LIVEBOOK_FORCE_SSL"
We cannot use Phoenix's `force_ssl` because it is a compile-time command. But we can use Plug.SSL directly.

[2022-02-05 08:33] #246 closed

[2022-02-06 08:30] BrooklinJazz commented on #475
Is there interest in a live book mode for students or could presentation mode suit that purpose?

I'd like to remove features that could confuse students (deleting cells, moving cells, editing markdown, etc) but keep Elixir cells in.

Just that would be amazing, but in a perfect world, I could hide some cells and display others that expect student input.

[2022-02-06 08:42] josevalim commented on #475
Presentation mode is more about "Deploy". The goal is for you to deploy your app so people can give it a try without the documentation and code. I think it can be great for students to show what they built but it is unrelated to what you ask. :)

Currently there are no plans for having partial functionality. Hopefully the UI is clear enough that those cases are not confusing. :D

[2022-02-06 09:41] BrooklinJazz commented on #475
The UI is very clear as someone comfortable with livebook!

I want to reduce the potential for students to get into a bad state and can easily see them misclicking. It also makes it easier to hide cells that power visualizations so they don't need to see code unrelated to the lesson (without adding the additional step of connecting a utils library).

All good if this isn't on the roadmap, I think

[2022-02-06 11:51] jonatanklosko commented on #952
Closed via #984.

[2022-02-06 11:51] #952 closed

[2022-02-07 12:05] hoetmaaiers commented on #715
Did enough time pass by to think again about vim / emacs support?

The demo provided by [Monaco-vim](https://editor.bitwiser.in) has a checkbox for vim or emacs mode. To me this is would be more than enough. Would this be seen as a potential complexity risk?

[2022-02-07 12:45] josevalim commented on #715
I think the biggest concern is the complexity in maintaining all different options and how certain key combinations would interact with Livebook. For example, Monaco-vim mentions CodeMirror and the CodeMirror home page says this:

We just don't want to end-up on the same situation.

[2022-02-07 13:15] hoetmaaiers commented on #715
I understand the complexity between certain key combinations interacting with Livebook and others being vim shortcuts. Somehow the only shortcut from Livebook that I care about is the "evaluate" shortcut. But here comes the personal preference part which makes adding extra key shortcuts and preference related things hard I guess...

Thanks anyway for the quick response.

[2022-02-07 21:05] FreedomBen commented on #715
I ended up here looking for a way to vim key bindings as well, but I understand not wanting to use a library that isn't maintained.

Something that would go a long way to ease the pain though, is a refresh shortcut or something in LiveBook that tells it to reload the current livebook from file.  This way I can have a .livemd file open in vim locally for heavy edits, and when I want to try out chan

[2022-02-07 21:57] josevalim commented on #715
I think reloading from file can be very problematic because it means two sources of truth. The only way to handle it properly is by then discarding all notebook state and I don’t think that’s helpful either.

[2022-02-08 06:41] FreedomBen commented on #715
Yeah based on a very surface-level evaluation, that's exactly what would need to do (throw away notebook state and load from disk).  I think it would be hard and error prone to try and figure out what the user wants.  A key combination and/or button to "close and reopen from disk" that throws away all state and reloads would still be very useful for my case.  I know if I edit the file that I need

[2022-02-08 11:04] jonatanklosko commented on #715
@FreedomBen you can configure the default runtime when starting Livebook, either `livebook server --default-runtime mix:/path/to/project` or `LIVEBOOK_DEFAULT_RUNTIME=mix:/path/to/project` :)

Also, we changed the CLI a bit recently, so on Livebook main you can do `livebook server /path/to/notebook.livemd` and it opens, so one trick would be modifying the file, starting Livebook like that to open

[2022-02-08 18:19] josevalim commented on #802
Closing this as the remaining of the work will likely be done in Elixir!

[2022-02-08 18:19] #802 closed

[2022-02-09 02:30] FreedomBen commented on #715
Thanks @jonatanklosko !  That's quite helpful (the default runtime, the new CLI option, and the note to #42 which is def a dup of what I'm saying :-)

[2022-02-09 12:22] aar2dee2 commented on #927
Hi,
just wanted to check if there was any further work to be done for this?

[2022-02-09 12:24] josevalim commented on #927
The work now is done on the desktop app integration side. Everything in Livebook is complete, thank you!

[2022-02-09 12:32] wojtekmach commented on #927
@aar2dee2 I'll handle the desktop part, thanks for doing the heavy lifting! :D

[2022-02-09 12:56] aar2dee2 commented on #927
:D
lmk if I can do anything to help :)

[2022-02-10 10:54] #927 closed

[2022-02-11 12:49] #587 closed

[2022-02-11 23:04] epinault opened #998 "Livebook with Ecto?"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.1 and OTP 24.1.7
* Operating system: OSX 12.0.1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook server in a terminal
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.5.1
* Browsers that reproduce this bug (the more the merrier): Firefox
* Include what is logged in the b

[2022-02-11 23:09] jonatanklosko commented on #998
Hey @epinault! I believe you need `:ecto_sql`, try adding `{:ecto_sql, "~> 3.7.2"}` as a dependency :)

[2022-02-11 23:53] epinault commented on #998
oh ! that worked further  Now I need to figure out how to start the Repo

[code]

Tried this but no dice

[code]

Evaluation process terminated - shutdown

[2022-02-11 23:58] jonatanklosko commented on #998
The repo is failing to start because of missing credentials. the `init` callback takes 2 arguments, so you can define `init(context, config)`. Or instead of defining the init callback, you can pass the connection parameters directly to `start_link` :)

[2022-02-11 23:59] epinault commented on #998
yea I noticed the error now in my terminal. Was not showing in the UI but that s likely the issue

[code]

[2022-02-12 00:00] epinault commented on #998
that worked! thank you!

[2022-02-12 00:05] #998 closed

[2022-02-12 11:49] jmnda-dev opened #999 "Style text input field for new directory name"
* Elixir & Erlang/OTP versions (elixir --version): 1.13.2 and OTP  24.2.1
* Operating system: Linux Mint 20.3
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `MIX_ENV=prod mix phx.server `
* Livebook version (use `git rev-parse HEAD` if running with mix): `353e1f78895d33fe8a617d4`
* Browsers that reproduce this bug (the more the merrier): Firefox
* Include what is logg

[2022-02-13 17:39] jonatanklosko commented on #999
Hey @jmnda-dev! Actually this is intentional, we do the same for renaming files. However, the field should be automatically focused as soon as you click "New directory", while this is not the case on your GIF. I've just checked and it seems like a regression, possibly related to some changes in LV, either way I will fix that shortly :)

[2022-02-14 06:47] jmnda-dev commented on #999
Okay noted, thanks.

[2022-02-14 20:22] #999 closed

[2022-02-14 20:41] josevalim commented on #475
I will close this for now. We definitely want to have this but it requires tons of work, so we will break it down and expand on it later!

[2022-02-14 20:41] #475 closed

[2022-02-17 13:40] djcoin opened #1008 "Handle many more types of diagrams + alternative for now"
Hi, thanks for this awesome project.

I was looking into Livebook to use it as a documentation tool and was especially  interested with embedding diagrams.

Unfortunately, I found out that mermaid was limited to only a few graph.

I was hoping that Livebook would provide many more types of diagram to be a great documentation tool.

This would take time and was frustrating, but then, it hits me: I

[2022-02-17 13:50] josevalim commented on #1008
Correct! With the Kino API, you can render anything you want. For now we will likely stick with Mermaid, as it runs in the browser and other projects, such as GitHub, are adopting it too. thank you!

[2022-02-17 13:50] #1008 closed

[2022-02-17 13:58] jonatanklosko commented on #1008
Also, you don't need to download the content in Elixir, instead you can render an `<img>` tag pointing directly to the URL and let the browser handle it. Here's one way to do it:

[code]

And then

[code]

---

@josevalim maybe we should add `Kino.HTML` for cases like this. On the other hand, for larger chunks of code it's better to define a custom `Kino.JS`, otherwise we send the whole HTML every

[2022-02-17 14:07] djcoin commented on #1008
@jonatanklosko Using image is a nice tip, Kroki also provides a POST api (for large content I guess), this wouldn't work in this case though

@josevalim Oh, I wasn't suggesting to drop Mermaid at all. I was rather thinking that this was a nice complement to it. For those (user and developer) who are lacking some diagrams, it provides an easy way to circumvent it (and delay integration of lots of e

[2022-02-17 14:17] jonatanklosko commented on #1008
@djcoin oh good point, we can totally do POST! It's even better, because we don't need to compress and encode it. Here's the updated version:

[code]

I will add it to [jonatanklosko/kino_lab](https://github.com/jonatanklosko/kino_lab) for the reference :)

[2022-02-17 14:28] djcoin commented on #1008
@jonatanklosko One last note as you plan to integrate it in kino_lab! I wrote this chunk of code quite quickly, the "svg" type can be specified too in the API (png etc.). Also I hope that I didn't forget any diagram type handled by Kroki (I thought I had them all until I stumbled upon packetdiag that I added). Cheers!

[2022-02-17 14:35] jonatanklosko commented on #1008
@djcoin great! Since we are the ones rendering the diagram, I think using SVG makes sense, especially that it's supported by all diagram types :) I think there are a couple more diagrams in the table on Korki page, I will grab those, thanks!

[2022-02-18 16:15] Adzz opened #1012 "Avoid losing livebook when the server restarts"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13
* Operating system: macos
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server` but holds true for any
* Livebook version (use `git rev-parse HEAD` if running with mix): latest
* Browsers that reproduce this bug (the more the merrier): firefox - think all of them.
* Include what is logg

[2022-02-18 16:22] josevalim commented on #1012
Recent versions already autosave livebooks and we are going to have a UI feature to make it customizable.

you can see the path by going to “Running sessions” as soon as you restart it. We are going to make it even more obvious as we move forward, but don’t worry, the feature itself is here already!

[2022-02-18 16:22] #1012 closed, assigned to nobody

[2022-02-18 16:48] Adzz commented on #1012
Oh that's great I'll make sure to update to the latest version.

[2022-02-20 23:01] bmitc opened #1014 "Plotting with VegaLite does not work on Windows 11"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Windows 11
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server --port 8086` through Windows Terminal (PowerShell)
* Livebook version (use `git rev-parse HEAD` if running with mix): `v0.5.2`
* Browsers that reproduce this bug (the more the merrier): Edge
* Include

[2022-02-20 23:03] josevalim commented on #1014
Thank you for the report! Can you please try two different things?

1. Try another browser and see if plotting works there

2. Please try running the version from the `main` branch. You can either try git directly or `mix escript.install github livebook-dev/livebook`

[2022-02-21 00:25] simonmcconnell opened #1015 "Notebook does not respond to key-presses after waking from sleep"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.3, Erlang/OTP 24 [erts-12.2.1] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [jit] [win32]
* Operating system: Windows 11
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix): `0.5.2`
* Browsers that repr

[2022-02-21 06:41] bmitc commented on #1014
Hi Jose! Thank you for the quick response.

1. I didn't have another browser installed, so I installed Firefox. It has the same issue when the Livebook server is running on Windows, with similar errors reported in the browser developer console.
    ![image](https://user-images.githubusercontent.com/65685447/154901411-05dae5e1-4a0e-4e73-9541-1825df9839c4.png)

    There's no issue when connecting t

[2022-02-21 07:20] josevalim commented on #1014
Can you please try it again using latest main? I just pushed a fix.

[2022-02-21 07:33] bmitc commented on #1014
Tried and was able to connect to the server this time. However, there's still the same issue on both Edge and Firefox.

Here's the browser console error log from Firefox. These errors are generated when trying to evaluate the first cell with a plot (the cell in the screenshots above).
[code]

[2022-02-21 07:57] josevalim commented on #1014
Did you install it from Hex or Git? If from Git, can you please open up `iframe/priv/static/iframe/v2.html` and let us know if it is using "CRLF" or "LF" as line endings? You can try this from the project root:

    File.read!("iframe/priv/static/iframe/v2.html")

And see if you find `\r\n` or only `\n`.

[2022-02-21 08:10] josevalim commented on #1015
Thank you @simonmcconnell! Can you please check if this issue happens in other browsers? Also, for how long does Livebook sleep? Is it a matter of a few seconds or close to a minute or more?

[2022-02-21 08:13] josevalim commented on #1014
Oh, you can also do something like `curl http://localhost:8081/iframe/v2.html` in the command line and see if it has CRLF or only LF. :)

[2022-02-21 08:57] simonmcconnell commented on #1015
Initially I had the laptop closed overnight, but if I sleep and wake it up straight away it does it.

Firefox seems fine.  Chrome has same issue.  Do you want me to try Opera, Brave, Vivaldi...?

[2022-02-21 09:17] josevalim commented on #1015
@simonmcconnell Firefox and Chrome is enough, thank you!

[2022-02-21 12:12] jonatanklosko commented on #1015
@simonmcconnell does it help if you just refresh the page, or do you need to re-open the notebook to fix it?

[2022-02-21 16:44] jonatanklosko commented on #1015
The problem is that we don't handle reconnection properly, this can be reproduced with `liveSocket.disconnect()` followed by `liveSocket.connect()`.

Apparently, Firefox keeps the connection on Windows hibernation, while Chrome/Edge don't, thanks @wojtekmach for helping to debug this!

[2022-02-21 19:39] #1015 closed

[2022-02-21 23:02] bmitc commented on #1014
I was running the `mix escript.install github livebook-dev/livebook` command.

With that method,
[code]
That matches up with what the browser tools report.
![image](https://user-images.githubusercontent.com/65685447/155035771-9a6b7beb-2db6-4c04-a4c6-4f251cbea6a0.png)

---------------------------

I went ahead and cloned the `livebook` repo with `git` and ran things locally. Using that method, the

[2022-02-21 23:05] josevalim commented on #1014
Thank you!

When you see this error, what is reported in the browser console?

[2022-02-21 23:10] josevalim commented on #1014
Oh, the browser console will most likely be a 404 too. I wonder why port 8081 is not working then. :(

[2022-02-21 23:11] bmitc commented on #1014
I think it's this one:

[code]

[2022-02-21 23:13] josevalim commented on #1014
Oh, I think I ran into a similar issue in the past. Do this in `iex`:

    Path.join(System.tmp_dir!(), "livebook")

Then delete the directory above and try again!

[2022-02-21 23:13] bmitc commented on #1014
You think it's a port issue? This is a fresh new install of Windows 11, but I'm not sure what is running on port 8080. Just running `livebook server` returns this:
[code]

I didn't spend any time to track down what's running there and was just immediately went to throwing in the port option.

[2022-02-21 23:14] jonatanklosko commented on #1014
Before you delete please see if there's a matching `assets/{hash}` directory, where hash is matching your errors :)

[2022-02-21 23:18] bmitc commented on #1014
I read your message literally as I hit delete, lol, but I was able to recover.

There is a directory matching the error I pasted [here](https://github.com/livebook-dev/livebook/issues/1014#issuecomment-1047288065). The directory was:
[code]
However, it's empty.

[2022-02-21 23:22] jonatanklosko commented on #1014
@josevalim so this is for sure the same thing you run into. @bmitc after deletion does it work, or does it create an empty directory again?

[2022-02-21 23:25] bmitc commented on #1014
Okay, so I deleted that temporary `livebook` directory and now plotting is working no matter the Livebook install/launch scenario (`git`, `hex` with latest GitHub repo, or official `mix escript.install` method, running on non-`8080` port).

This time, there is a `main.js` file in the assets folder.

[2022-02-21 23:31] josevalim commented on #1014
@bmitc awesome! Thanks for helping us debug it.

@jonatanklosko we are not cleaning up the directory but it seems the only time it can fail is during the erl_tar extraction? Or maybe we have a race somewhere?

[2022-02-21 23:36] jonatanklosko commented on #1014
@josevalim yeah, it seems like it's the extraction. Other than that, the extraction runs in a UniquetTask process, so theoretically this process could be killed, but I see no good reason for this happening.

[2022-02-22 00:01] #1014 closed

[2022-02-22 00:22] bmitc commented on #1014
No problem on the debugging! Thank you two for looking into this! Glad to have my plots back. :)

[2022-02-22 04:29] dmorneau opened #1021 "Editing becomes very slow with multiple Mermaid diagrams"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.14.0-dev, OTP-25.rc1
* Operating system: macOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): mix phx.server
* Livebook version (use `git rev-parse HEAD` if running with mix): ca0128d0286dcd2aed866040d8a5c8a2ddc717c0
* Browsers that reproduce this bug (the more the merrier): Safari

## Current

[2022-02-22 04:40] dmorneau opened #1022 "Can't print / export to PDF"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.14.0-dev, OTP-25.rc1
* Operating system: macOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): mix phx.server
* Livebook version (use `git rev-parse HEAD` if running with mix): ca0128d0286dcd2aed866040d8a5c8a2ddc717c0
* Browsers that reproduce this bug (the more the merrier): Safari

## Current

[2022-02-22 07:22] josevalim commented on #1022
Dup of #605.

[2022-02-22 07:22] #1022 closed

[2022-02-22 15:46] dmorneau commented on #1021
Fixed in #1023!

[2022-02-22 15:46] #1021 closed

[2022-02-22 21:42] #633 closed

[2022-02-22 21:44] jonatanklosko commented on #633
@Qizot awesome job :)

[2022-02-24 01:46] dmorneau opened #1025 "Can't insert images"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.14.0-dev, OTP-25.rc1
* Operating system: macOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): mix phx.server
* Livebook version (use `git rev-parse HEAD` if running with mix): f5c99737dd07c4fec878f69cdfef009cc82fc4e2
* Browsers that reproduce this bug (the more the merrier): Safari, Chrome
* I

[2022-02-24 01:49] jonatanklosko commented on #1025
@dmorneau on the screenshot you're missing the image name, you first need to give it a name and then hit upload :) Please let me know if this still doesn't work!

[2022-02-24 17:51] josevalim commented on #802
On Elixir v1.15 and OTP-25 :)

![image](https://user-images.githubusercontent.com/9582/155579707-f0955e5f-2dcc-4124-baae-c44f8b0f4f93.png)

[2022-02-24 18:18] jonatanklosko commented on #802
@josevalim beautiful!!

[2022-02-25 23:45] jonatanklosko commented on #261
Hey @LeartS :) We are yet to discuss details of this, but there are a couple other features we prioritize for now.

[2022-03-03 19:07] josst10 opened #1040 "design and color customizations"
Hello Jose and team. I would love to see even just a few minor color customizations. Are there any plans for something like that? Maybe change the color of the left bar easily?

Thanks!

[2022-03-03 19:12] jonatanklosko commented on #1040
Hey @josst10 :) Do you ask in the context of personal preference or a specific use case you have?

Loosely related: #718, #238

[2022-03-03 19:31] josst10 commented on #1040
I am a product manager by trade and a tinkerer by birth. I play around with UNRAID, Docker, sonarr, radarr, nginx, plex, wiibrew, python, etc. I found myself losing so much knowledge after I figured something out, I decided to create my own personal "knowledgatorium".

I have a business background -- not technical -- and consider myself a 'hack' at best but love that side of it. Ironically enough,

[2022-03-03 19:39] jonatanklosko commented on #1040
I see, we don't plan on supporting this kind of customizations directly. However, since you like hacking, then I'd suggest using a browser extension to modify the colors however you want via CSS. A quick search lead me to [Styleboot](https://stylebot.dev) :)

[2022-03-03 19:39] #1040 closed

[2022-03-07 06:17] howard0su commented on #194
This issue seems back again:
F:\livebook>elixir --cookie "COOKIEFORTESTS" -S mix test
.................................................

  1) test Runtime.disconnect/1 makes the node terminate (Livebook.Runtime.ElixirStandaloneTest)
     test/livebook/runtime/elixir_standalone_test.exs:32
     match (=) failed
     code:  assert {:ok, %{node: node} = runtime} = Runtime.ElixirStandalone.init()

[2022-03-07 06:29] howard0su opened #1042 "Starting a standalone Elixir runtime fails on Windows 10"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 24 [erts-12.2.1] [source] [64-bit] [smp:20:20] [ds:20:20:10] [async-threads:1] [jit]

Elixir 1.13.2 (compiled with Erlang/OTP 22)

* Operating system: Windows 10
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): mix phx.server
* Livebook version (use `git rev-parse HEAD` if running with mix): 6

[2022-03-07 06:29] howard0su commented on #1042
This has the same error as #194

[2022-03-07 06:48] josevalim commented on #1042
Did you try the steps in #194? Also please try the steps here: https://github.com/livebook-dev/livebook/issues/777 :)

[2022-03-07 12:33] howard0su commented on #1042
No. the steps didn't fix my problem. I am thinking if my locale causes it.

[2022-03-07 13:01] howard0su opened #1046 "livebook gets unresponsive after large amount of data in a cell"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system:
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):
* Livebook version (use `git rev-parse HEAD` if running with mix):
* Browsers that reproduce this bug (the more the merrier):
* Include what is logged in the browser console:
* Include what is logged to the server console:

## Current b

[2022-03-07 20:42] BrooklinJazz opened #1047 "UX suggestion: click .livemd files to open them."
I've walked several new developers through setting up livebook and have experienced a consistent UX issue.

Developers open up their livebook.

![image](https://user-images.githubusercontent.com/14877564/157112280-f6d4479a-6228-4a80-8c6e-4484ccce8f0e.png)

Then they click the file they want to open.

![image](https://user-images.githubusercontent.com/14877564/157112332-e870f722-892d-4bf1-bd44-993c

[2022-03-07 20:57] jonatanklosko commented on #1047
Hey @BrooklinJazz! We discussed it some time ago in #353. Also, while navigating the Open button is grayed out and when you select a file it becomes clickable, so it should be a fairly good indication.

Sidenote: we have plans to redesign the homepage and we will move the file selection to a modal, in which case the open button will be the only primary action, which should further clarify this.

[2022-03-07 21:09] BrooklinJazz commented on #1047
That's awesome to hear! Thank you @jonatanklosko.

I agree that it should be, and once you know it it's a perfectly good UI. But, in practice, I see new folks get stuck.
Thank you!

Closing this issue then. 🙏

[2022-03-07 21:09] #1047 closed

[2022-03-08 15:42] juhalehtonen commented on #1042
Original reporter of #194 here. Probably not going to help much, but I can confirm that running the latest Livebook on the same commit you referenced works for me on Windows 10.

Per your point on locale, my locale as printed by `Get-Host` on PowerShell is:
[code]

[2022-03-09 13:43] howard0su commented on #1042
I reverted back to en-us. No lucky.

I tried to start a new iex process in command and use "Attach to Node". It works for me. Looks like some issue during process startup.

[2022-03-12 13:44] howard0su commented on #1042
I reinstall erlang and elixir fixed the problem, although I still don't know root cause.

[2022-03-12 13:44] #1042 closed

[2022-03-13 04:31] vishal-h commented on #1046
+1

I've also experienced the same problem. In my case, it was an API call that was returning large data.

[2022-03-13 15:22] #806 closed

[2022-03-13 15:25] jonatanklosko commented on #806
@dkuku sorry for the late reply! On Livebook main we now show a confirmation modal when deleting the cell for the first time and it informs about the bin :)

For now I don't think we need a more interactive introduction, the important bits are covered by the introduction notebooks and other than that we should rather focus on making the UI self-descriptive whenever there are issues.

[2022-03-14 22:01] BrooklinJazz opened #1052 "Environment Variables Do Not Load"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): elixir 1.13.3-otp-24, erlang 24.3
* Operating system: Windows WSL2
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook cli
* Livebook version (use `git rev-parse HEAD` if running with mix): main

## Current behavior

I can't seem to load environment variables. I'm fairly confident this is a user is

[2022-03-14 22:06] jonatanklosko commented on #1052
Hey @BrooklinJazz, are you sure the env vars set via `.env` are exported? Like this

[code]

[2022-03-14 22:14] BrooklinJazz commented on #1052
🤦‍♂️Thank you.

Knew I was doing something silly! Closing.

[2022-03-14 22:14] #1052 closed

[2022-03-14 22:16] jonatanklosko commented on #1052
Cool :) You can also use an alias to personalize the command. For example, I use this:

[code]

[2022-03-14 22:17] BrooklinJazz opened #1053 "Display .livemd content in livebook home page."
Would there be any interest in a feature to display some file (README.livemd) or content on the main livebook home page?

![image](https://user-images.githubusercontent.com/14877564/158268982-86534d91-72e8-457e-8df2-a76603f297cc.png)

It could serve a few purposes:
- easier navigation to other .livemd files.
- custom home page content (announcements, useful getting started information)

Or alterna

[2022-03-14 22:34] jonatanklosko commented on #1053
@BrooklinJazz we plan to do some change to the homepage, however I don't think rendering a README is a good idea, especially that it may theoretically have Elixir cells. The Livebook CLI allows for opening files, so the user can do `livebook server README.livemd` (which I think matches your vision of `LIVEBOOK_DEFAULT_SESSION`).

You could even set up a bash function that checks if there is a READ

[2022-03-14 22:34] #1053 closed

[2022-03-15 05:47] josevalim commented on #1053
Note we do allow adding new elements to the explore section, so you could have a custom guide coming first there. The new home page would also allow starred items, so you could have an important notebook pre starred.

[2022-03-18 19:25] jonatanklosko commented on #1046
@howard0su looks like Monaco tries to tokenize and highlight the line, even though it's extremely long. This is actually a bug and I reported it in https://github.com/microsoft/monaco-editor/issues/3025.

@vishal-h do you have an example to reproduce it? You said it was an API call, so I assume the problem would be the cell output, but `inspect` should limit the printed data and we also use line v

[2022-03-19 11:22] #803 closed

[2022-03-21 15:06] BasileNouvellet commented on #261
Hi @josevalim @jonatanklosko, I Can start working on or drafting specs for this feature if you want

[2022-03-21 18:00] josevalim commented on #261
Hi @BasileNouvellet, that would be welcome. Note we do have a mockup of how it would look like:

<img width="750" alt="Screenshot 2022-03-21 at 18 55 27" src="https://user-images.githubusercontent.com/9582/159334835-3f344b9b-3694-4dde-9714-b9940ffe33e6.png">

We are also aware of some of the complexities in the implementation. In particular, we will need to tackle which selection of a text the com

[2022-03-21 18:45] jonatanklosko commented on #261
Comments on selection are complicated, because for Markdown we show the rendered content most of the time. Also, recently we started to introduce new types of cells (smart cells), so we should support comments on those as well. Deepnote and Observable support comments per-cell, so we should be fine doing the same:

![image](https://user-images.githubusercontent.com/17034772/159341968-686376ea-9ee0

[2022-03-21 18:51] josevalim commented on #261
Per cell is too low granularity for me in markdown cells. I wonder if we can keep it per paragraph or split a Markdown cell once comments are added?

[2022-03-21 20:59] jonatanklosko commented on #261
FTR one option is to handle comments on cell-level, but allow each comment to have an optional editor selection (so the selection is more of an additional info, and removing the selected text doesn't remove the comment). One thing to keep in mind is that smart cells may have two editors, so we would need to support it for the primary one, or persist editor names.

[2022-03-21 21:58] jonatanklosko commented on #261
After discussing offline, we agreed that comments should apply to the whole cell, forming a "Discussion".

We may also add support for ephemeral, source-related comments, but this is a separate feature. Those comments would be go as `# TODO` in the source, we would parse them and show in the sidebar. This way they can be easily searched in version control, PRs, etc.

[2022-03-21 22:58] auranykh opened #1066 "Different livebook errors between Powershell and WSL Ubuntu"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Powershell: Elixir 1.13.3 (compiled with Erlang/OTP 22), WSL Ubuntu: Elixir 1.13.3 (compiled with Erlang/OTP 24).
* Operating system: Windows 11
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): Livebook 0.5.2
* Browsers that

[2022-03-22 01:22] jonatanklosko commented on #1066
Hey @auranykh, does it work if you run `iex --sname test` and then `livebook server`?

[2022-03-22 02:34] auranykh commented on #1066
Assuming the expected behavior is that `iex --sname test` will open the iex shell (or iex.bat in the case of powershell), this does successfully open the shell in both. Running `livebook server` within the shell results in an undefined function error. Closing the shell and running `livebook server`, however, does seem to work on Powershell, but the WSL-Ubuntu instance is still throwing the same er

[2022-03-22 06:25] josevalim commented on #1066
I think escripts may not start epmd. rebar does something like this: https://github.com/garazdawi/rebar3/blob/03725bf81ed08ea1a65bc76acd840f4d646bec4f/src/rebar_dist_utils.erl#L66

[2022-03-22 11:43] jonatanklosko commented on #1066
Hmm, actually we already try do start epmd ourselves:

https://github.com/livebook-dev/livebook/blob/01b9ffe731dba61331f53df1bf85bc3162f44f3a/lib/livebook/application.ex#L73-L104

[2022-03-22 11:54] josevalim commented on #1066
So I have no idea what could be wrong. :(

[2022-03-22 12:02] josevalim commented on #1066
@auranykh if you run `livebook server` two times in a row in Powershell, does it report the same error both times? Does the error change after you run `epmd -daemon` manually?

[2022-03-22 12:06] jonatanklosko commented on #1066
@auranykh also, the WSL error is actually something else, please run this in WSL and let us know the output:

[code]

[2022-03-23 00:45] auranykh commented on #1066
@josevalim - the issue does not seem to be occurring anymore in Powershell, which is bizarre, but I've been having relatively inconsistent performance with it. If it happens again I'll update. If there's anything else I should check let me know.

@jonatanklosko - the error is still throwing in WSL. Here's the screenshot of that command. Hope this helps.

![image](https://user-images.githubusercont

[2022-03-23 16:09] fc1943s commented on #1046
having same problem while trying to open a notebook with "Persist outputs" enabled (plotting vega lite chart with large data object)
even though the loading hit timeout, the beam process will keep 100% cpu until restarted

[code]

[2022-03-23 16:15] josevalim commented on #1046
What is your Livebook version? We had issues in the past related to parsing the Markdown itself, but it should be fixed on more recent versions.

[2022-03-23 16:51] fc1943s commented on #1046
hi! the versions:
Livebook 0.5.2
Elixir 1.13.2
Phoenix 1.6.6

[2022-03-23 16:58] jonatanklosko commented on #1046
Hey @fc1943s, could you share the notebook (or the relevant output part)?

[2022-03-23 17:25] #983 closed

[2022-03-23 17:30] fc1943s commented on #1046
to reproduce i opened the vegalite notebook sample, changed these lines of the first chart to increase file size
[code]
then saved to a file with persist outputs enabled

after restarting the livebook server, selecting the new file then clicking the open button, it disables for 30~40s then refreshes the page, allowing the file to be selected to open again

here's a snapshot/gist
https://gist.githu

[2022-03-23 17:35] jonatanklosko commented on #1066
So on WSL the hostname resolves to `0.14.3.114`, which fails this check:

https://github.com/livebook-dev/livebook/blob/7f39c6be7671621be6eea1c8f4a5a01b61baaf7e/lib/livebook/application.ex#L120

`0.0.0.0/8` addresses are reserved, but the question is whether that's some misconfiguration or is it always the case on WSL :thinking:

[2022-03-23 17:51] BasileNouvellet commented on #261
Could you point out the areas in the code to contribute to for this feature?
Something like a little roadmap, but in term of code files & function names. Thanks!

[2022-03-23 17:54] josevalim commented on #1066
@jonatanklosko maybe it is used internally by WSL. Should we allow any ipv4 that starts with 0?

[2022-03-23 19:04] BrooklinJazz opened #1069 "Failed to create session: the given file is already in use"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):  1.13.3
* Operating system: Windows with WSL
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix):  0.52 (main)
* Browsers that reproduce this bug (the more the merrier): Google Chrome
* Include what is logged in the browser conso

[2022-03-23 19:12] jonatanklosko commented on #1069
Interestingly I cannot reproduce it :thinking: Is the file still openable when you refresh, or is this always the case?

[2022-03-23 20:20] BrooklinJazz commented on #1069
It's always the case.

I discovered it (consistently) happens only when I start livebook with a file.

[code]

However livebook server works fine.

[code]

Perhaps there's something unique to starting livebook with a file name? Is this the case for you as well?

[2022-03-23 20:45] auranykh commented on #1066
@jonatanklosko - I've pasted the result below, but it does look like it was unable to connect. To answer your first question, that does seem to be the case. Launching the livebook server command directly against the .livemd file resulted in the response in the original post. This resulted in the command suggested by launching a generic livebook instance on the loopback address. That said, I did tr

[2022-03-23 20:57] jonatanklosko commented on #1066
Oh, so named nodes fail to connect, which means he hostname resolution doesn't work as expected and the original error messages was correct (that is, it should've shown up). So the problem is indeed that the hostname resolves to `0.14.3.114`. @auranykh one think you could try is adding `127.0.0.1 918386` to `/etc/hosts` (ref https://github.com/livebook-dev/livebook/issues/275#issuecomment-84585032

[2022-03-23 21:10] wojtekmach commented on #1066
yeah, good call

[2022-03-23 21:15] josevalim commented on #1066
@jonatanklosko I think we can check and try to see if we are inside WSL.

@auranykh can you please try opening up `iex` and run this:

[code]

and:

[code]

Ty!

[2022-03-23 22:16] jonatanklosko commented on #1069
@BrooklinJazz good pointer, this is the case and I can reproduce. Fix in #1070 :)

[2022-03-23 22:18] jonatanklosko commented on #1046
FTR here's the corresponding PR https://github.com/RobertDober/earmark_parser/pull/100

[2022-03-23 22:35] BrooklinJazz opened #1071 "How to style Livebook markdown"
I currently use inline styles to create styled markdown HTML.

![image](https://user-images.githubusercontent.com/14877564/159796691-e4d3f3ac-37b7-40d1-aa3d-d472f4bec13e.png)

Is there a more effective method of creating styled markdown content?

[2022-03-23 22:44] jonatanklosko commented on #1071
That's the way if you really need it, although I don't think it's the best idea to overuse this, because it has negative impact on the notebook source clarity. Is there something specific you want to do that isn't covered by the Markdown markup?

[2022-03-23 22:59] BrooklinJazz commented on #1071
I used it to create some styled spans for comparison operators to avoid the styling that livebook font applies.
[code]

![image](https://user-images.githubusercontent.com/14877564/159809876-a78621c7-db42-40cb-ba9b-87089a33bb75.png)

If inline styles is the best available method I can use it (sparingly).

[2022-03-23 23:02] BrooklinJazz commented on #1071
I think we can probably close this issue if inline is the best way. Thank you @jonatanklosko!

As an aside, it would be amazing to have some control over the livebook style. For example, using brand colors or using a different font.

[2022-03-23 23:03] BrooklinJazz commented on #1069
Thank you!

[2022-03-23 23:05] jonatanklosko commented on #1071
@BrooklinJazz oh, you having to explain the operators is a good indication that we should disable ligatures altogether. It didn't came up before, but I definitely think that both inline and block code in Markdown should be consistent with the editor!

[2022-03-24 01:01] auranykh commented on #1066
@jonatanklosko - I went ahead and added that line to my /etc/hosts file, but I'm still getting the same error, but let me know if this looks incorrect to you.

![image](https://user-images.githubusercontent.com/10267293/159821146-04e40582-aad9-4008-ac06-a7e6e1bea770.png)

@josevalim - I've pasted the results of these commands below.

![image](https://user-images.githubusercontent.com/10267293/1598

[2022-03-24 06:53] josevalim commented on #1066
Thank you! Can you please try a couple things more out then? Let me know what this return:

    :os.type()

And please let me know which of these commands open up a browser window:

    System.cmd("cmd", ["/c", "start", "https://google.com"])

    System.cmd("cmd.exe", ["/c", "start", "https://google.com"])

    System.cmd(System.find_executable("cmd"), ["/c", "start", "https://google.com"])

[2022-03-24 11:15] jonatanklosko commented on #1066
Looking at the first line, it looks like the file gets regenerated, however there is already the entry `127.0.1.1 918386.localdomain 918386`, which looks good! I think I found the actual issue, which is the fully numeric hostname. Looks like in such case Erlang doesn't try to resolve the name and instead parses it as IP directly:

[code]

<details>
<summary>Sidenote</summary>

Interestingly, there

[2022-03-24 13:09] #1069 closed

[2022-03-24 15:21] jonatanklosko commented on #261
Sure, here are the high-level parts

* add comments to the notebook data structure, specifically each cell type (`Notebook.Cell.*`) will need a list of comments
* add *operations* for adding/removing/editing comments in `Session.Data` (and matching functions in `Session`)
* add UI for showing the comments and applying the above operations (mostly around `SessionLive` and `CellComponent`)
* extend

[2022-03-24 17:05] #1071 closed

[2022-03-24 18:17] jonatanklosko commented on #1046
@fc1943s I've just bumped `earmark_parser` on main and it should work as expected :)

[2022-03-24 20:41] auranykh commented on #1066
@josevalim I've pasted a screenshot of the results from those commands below. The second and fourth commands successfully opened the browser on Google, so I'm guessing it needs the .exe extension. Happy to be of assistance!

![image](https://user-images.githubusercontent.com/10267293/160006278-5557e3e6-363a-429d-b6f1-0442bbe40aba.png)

@jonatanklosko - I've updated the system name and now am just

[2022-03-24 20:45] josevalim commented on #1066
@jonatanklosko so for Linux, we can check if there is a xgd-open and if not, check for cmd.exe, and if not, raise. :)

[2022-03-24 20:48] jonatanklosko commented on #1066
Awesome, so changing the hostname fixed the connection issues, now we just need to fix opening and it should be all good! Will do shortly :)

[2022-03-24 21:10] #1066 closed

[2022-03-24 21:10] jonatanklosko commented on #1066
@auranykh should be fixed on Livebook main, let us know if you run into any further issues :)

[2022-03-24 21:21] auranykh commented on #1066
That seemed to do it, thank you both for your help!!

[2022-03-30 19:54] BrooklinJazz opened #1079 "Cannot use backtick in <kbd> element"
I'd like to place a backtick within a `<kbd>` element, however, it still registers as a backtick for the sake of syntax highlighting.

![image](https://user-images.githubusercontent.com/14877564/160917130-3b627207-a22e-4bd2-ae98-b94c15170488.png)

It also breaks the livebook when you use a single backtick, close the livebook, and then reopen the file.

![image](https://user-images.githubuserconten

[2022-03-30 19:59] jonatanklosko commented on #1079
Hey @BrooklinJazz! The first behaviour is expected, it's the same on GitHub:

[code]

<kbd>`</kbd> test <kbd>`</kbd>

You can escape the backtick with `\`, like this:

[code]

<kbd>\`</kbd> test <kbd>\`</kbd>

[2022-03-30 20:01] BrooklinJazz commented on #1079
Thank you!

[2022-03-30 20:01] #1079 closed

[2022-03-30 20:14] jonatanklosko commented on #1079
As for the second one, here's an example

[code]

Due to the backtick, section 2 is not parsed as heading. The same would happen if there's an opening html tag. So generally if a markdown cell has this kind of invalid markdown, the invalidity affects import. I'm not sure if we can do anything reasonable to address that (other than reformatting user markdown, which we intentionally don't do, becaus

[2022-03-31 00:38] BrooklinJazz commented on #1079
Sorry looks like maybe I prematurely closed this.

100% I don't think an unclosed backtick is an issue or needs to be addressed. Escaping the backtick solved my problem - nothing needs to be done on Livebook's end.

Thank you @jonatanklosko!

[2022-03-31 01:00] BrooklinJazz opened #1080 "Name field is mandatory for images when it should be optional."
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.3
* Operating system: Windows with WSL
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): main (0.5.2)
* Browsers that reproduce this bug (the more the merrier): Chrome

## Current behavior

When adding images to a liveboo

[2022-03-31 10:08] jonatanklosko commented on #1080
Hey @BrooklinJazz, making the name optional and defaulting to the original name sounds good to me :) Feel free to sen a PR!

[2022-04-01 17:18] josevalim opened #1082 "Allow embedded runtime to be fully disabled"
For security concerns. Disabling should also be available via an environment variable.

[2022-04-01 17:39] jonatanklosko commented on #1082
Another option would be to have configuration for listing what runtime types should be available. By default we could even omit embedded altogether.

[2022-04-01 17:43] josevalim commented on #1082
I think omitting embedded by default is good and then just a flag to turn it on. :)

[2022-04-01 22:23] BrooklinJazz commented on #1080
Awesome! Working on it now and should have a PR today (I hope). If not then definitely over the weekend.

[2022-04-01 23:19] #1080 closed

[2022-04-03 09:53] ByeongUkChoi commented on #1082
Do we need these environment variable like this `LIVEBOOK_ENABLE_EMBEDDED_RUNTIME` ​​here?
then, what if `LIVEBOOK_DEFAULT_RUNTIME=embedded` and `LIVEBOOK_ENABLE_EMBEDDED_RUNTIME=false`?

[2022-04-03 10:06] josevalim commented on #1082
If it is disabled by default, then we don't need an env var, because the only use case we have so far is for Nerves and Nerves has its own config. So we just need something like `config :livebook, :enable_embedded_runtime, true`. :)

[2022-04-03 11:35] jonatanklosko commented on #1082
@josevalim for nerves both Elixir and Mix standalone aren't useful, maybe instead we should allow `config :livebook, :runtime_modules, [Livebook.Runtime.Embedded, Livebook.Runtime.Attached]` ?

[2022-04-03 12:55] josevalim commented on #1082
I like that as long as embedded is disabled by default! @ByeongUkChoi, Can you please revisit your PR?

[2022-04-03 13:19] ByeongUkChoi commented on #1082
So, How can I do when using embedded?
and What should I do with Elixir and Mix standalone?

[2022-04-03 13:35] josevalim commented on #1082
Yes!

[2022-04-03 13:37] jonatanklosko commented on #1082
We can also dynamically `for` on the list of modules, so we match the configured order as well :)

[2022-04-03 19:13] aschrijver opened #1085 "Auto line-wrapping in Markdown blocks to ease documentation"
## Environment

* Elixir & Erlang/OTP versions:  1.13.0 (compiled with Erlang/OTP 24)
* Operating system: Unbuntu 18.04
* How have you started Livebook: livebook CLI
* Livebook version: 0.5.2

## Current behavior

Typing text in a Markdown block will keep it on a single line, until explicitly typing the return key. Either scrollbar appears and paragraph texts are truncated in the viewport, or you

[2022-04-03 19:21] aschrijver opened #1086 "Product feedback directly from the UI"
## Environment

* Elixir & Erlang/OTP versions:  1.13.0 (compiled with Erlang/OTP 24)
* Operating system: Unbuntu 18.04
* How have you started Livebook: livebook CLI
* Livebook version: 0.5.2

## Current behavior

To provide basic product feedback, such as observations on the UX I have to go to Github, file an issue, and fill in details on the Environment. Especially in the early stage it might he

[2022-04-03 19:42] josevalim commented on #1086
Doing so would require a separate support channel and we are a pretty small team, So the best work flow for us is too indeed open up an issue. Perhaps in the future we can open up GitHub discussions or have a specific Discourse, but our preference will always be to link to a community place rather than being app specific. As we were redesign the homepage, We will at least discuss placements back t

[2022-04-04 09:33] jonatanklosko commented on #1085
@josevalim we support `Alt + z` for toggling wrapping, would it make sense to have wrapping enabled by default for Markdown specifically?

[2022-04-04 09:52] aschrijver commented on #1085
Is `Alt + z` something that should work already? I tried it to no avail (standard en-US keyboard, and US locale, UTF-8). To me defaulting to wrapping enabled would make a lot of sense (much more so than not wrapping by default).

[2022-04-04 09:56] jonatanklosko commented on #1085
It should work while within an editor. Alternatively you can right-click and it should show a menu like this:

![image](https://user-images.githubusercontent.com/17034772/161520504-300ee6d7-7e68-4bc7-ba56-ebc1dc85648c.png)

Note that it applies per editor though.

[2022-04-04 10:07] jonatanklosko commented on #1085
@josevalim I think it makes sense to wrap Markdown, because it doesn't matter when rendering, but I don't think we should apply the same rule to code, no?

[2022-04-04 10:08] josevalim commented on #1085
I don't like to wrap Markdown though, because it makes the source ugly. I am fine with whatever default but we should make swapping easier. :)

[2022-04-04 10:13] jonatanklosko commented on #1085
Ah good point, yeah. We could try to wrap paragraph content when persisting, not sure if that's the best idea though? Otherwise I'm ok with a global wrapping config, but if it applies to all editors, then we should keep it disabled by default.

[2022-04-04 10:15] josevalim commented on #1085
We could also have two options: one for text and one for code.

[2022-04-04 10:20] jonatanklosko commented on #1082
Closed via #1084.

[2022-04-04 10:20] #1082 closed

[2022-04-04 17:13] aschrijver commented on #1085
@jonatanklosko wrote:

No, unfortunately there's no word wrapping option in the menu.

[2022-04-04 17:18] jonatanklosko commented on #1085
@aschrijver ah, it's on main, but the latest release doesn't have it :)

[2022-04-04 21:46] BasileNouvellet commented on #261
Hey guys,

I've made some progress on the feature. Here is a little demo:

https://user-images.githubusercontent.com/24209524/161637584-75707682-3524-427c-99a7-b891e21e3c6f.mp4

Left to do:
1. Delete & edit comments
2. Fix issue with autofocus not working on the comment text input
3. Persist comments in `.livemd` / `.exs` files

Let me know what you think.
I'll open a PR shortly.

[2022-04-05 12:09] jonatanklosko commented on #261
@BasileNouvellet awesome! Feel free to open a PR and we can iterate from there :)

[2022-04-05 13:09] aschrijver commented on #1085
Maybe - just brainstorming - a 'Code block' could be a separate inclusion entry to choose from, just like 'Markdown' and 'Section'. And then with 'Elixir' being a special code-block (and possibly the default lang that's chosen), but with potentially other languages becoming similarly executable codepen.io-style inline.

Then in code blocks you must explicitly enter carriage return / newlines, whil

[2022-04-07 00:45] jonatanklosko commented on #1085
"Code block" is already unambiguous, though there may be other editor instances with code like SQL. The configuration is only really relevant for Markdown, I think there's no good reason to wrap regular code (apart from very specific instances, where it can be enabled temporarily with the shortcut).

[2022-04-07 05:47] josevalim commented on #1085
A configuration exclusively for wrapping Markdown then works for me (and we can default to true).

[2022-04-07 14:01] jonatanklosko opened #1093 "Generalize chart builder attrs"
Once we have multi-layer charts we will need to persist all layers, so we should already persist the attributes in a forward-compatible format (a single layer). We should do it before the next release, so that we avoid compatibility hassle later on.

*Creating the issue here instead of kino, so we have it under the milestone and don't forget :)*

[2022-04-08 13:20] zhuzilin opened #1094 "Does livebook support extension?"
Hi there, thank you for this great project! I'm really amazed by how beautifully it is! I wonder if livebook supports external extensions like [custom jupyter kernels](https://jupyter-client.readthedocs.io/en/stable/kernels.html)? If not, is this part of the developing roadmap? I believe the extensions would largely extend the user base for livebook and make more developers or "live" book writers

[2022-04-08 14:03] jonatanklosko opened #1095 "Support secret management"
We want the user to be able to access secrets in a notebook without hardcoding them in the notebook source. Conceptually the user would define secrets in Livebook and then access them in the notebook by name. In practice we will use environment variables.

One concern is a malicious package accessing the env vars, however at the end of the day, we want the secrets to make it to the runtime, so the

[2022-04-08 14:09] jonatanklosko commented on #1094
Hey @zhuzilin :) What you are asking is essentially support for other languages, for that see #190. We don't plan on doing that for now, and if we do we will most likely stick to BEAM languages.

Livebook does have some extension points, like custom outputs/visualizations, and more recently wizards for generating code via UI interactions (we call those smart cells).

[2022-04-08 14:09] #1094 closed

[2022-04-10 11:24] Adzz commented on #1095
Just to chime in I've handled this scenario at work by having our livebooks connect to a mix runtime and have that mix app read in secrets at start up from (for example) google secret manager. To do this we specify in our app's config something like:

[code]

Which says "the secret is in GSM, the secret is called `SOME_SECRET` and it should cast to a string" (you could add secret version to the tu

[2022-04-10 11:33] Adzz opened #1098 "Livebook crashing attempting to open a livebook."
## Environment

* Elixir & Erlang/OTP versions (elixir --version): elixir 1.13.3-otp-24, erlang 24.1.7
* Operating system: mac / unix
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix): Livebook 0.5.2
* Browsers that reproduce this bug (the more the merrier): firefox
* Include what is log

[2022-04-10 12:30] josevalim commented on #1098
I don’t think we have the commit SHA in this repo. Are you running a fork? In any case, can you make sure you have this commit applied: https://github.com/livebook-dev/livebook/commit/a70f53de468fdfc83f467b860f2b2209995f60da

[2022-04-10 13:09] Adzz commented on #1098
Yea apologies I pasted the wrong commit sha originally, I updated the comment with the version.

I just tried cloning the repo and using latest master, so `git rev-parse HEAD` = a2802248abf8178bc4267129b4a3ef9ad458bd2c

I still get the same issue.

[2022-04-11 12:03] jonatanklosko commented on #1098
It's related to notebook size, yeah.

The initial hang during import/navigation is caused by editor initialization, which takes a long time for so many editors. Actually, the initialization happens when mounting hooks, so the session page is only shown after all editors are initialized; we could defer the initialization (though a bit tricky), so that we show session skeleton instead, but this does

[2022-04-11 12:19] Adzz commented on #1095
That's a good idea, you could then put a `Mix.install` for that library. I will experiment if I get some time

[2022-04-11 12:33] Adzz commented on #1098
Thanks for digging into it more! I was a little suprised because I didn't think the notebook was _that_ large - certainly within the realm of what vscode should be able to handle. I assume it's the number of elixir cells that are problematic, rather than too much markdown eg?

We could perhaps add some guidance somewhere around max size if nothing else!

[2022-04-11 12:38] jonatanklosko commented on #1098
Yeah, note in our case it's not a single code editor, but a bunch of those, and unfortunately mounting an editor is a synchronous operation.

Your case is a bit specific because you took an existing large notebook-like file, but most of the time people write notebooks in the first place, and I think they would notice if things slowed down.

[2022-04-11 14:33] Adzz commented on #1098
Yea appreciate my use case may be unique. The reason for generating livebooks at all is so you can have one source of truth for all documentation.

One idea that might be very naive - currently each Elixir cell is a whole Monaco editor, but presumably the editor allows multiple buffers - as in in VSCode I can press `ctrl+n` and a new file / buffer thing appears.

Could we have one Monaco instance

[2022-04-11 15:06] jonatanklosko commented on #1098
@Adzz it is possible to create a single editor instance and multiple document models, then switch the current model. This allow for implementing tabs. In our case, however, we need to all the documents at once, so we need multiple instances.

Jose pointed out that we could initialize editor for markdown cells lazily, because it's hidden by default, so that's one thing I will look into.

[2022-04-11 16:52] Adzz commented on #1098
Oh cool, tabs is exactly what I had in mind

I assume the missing word is "load" - either way I trust you.

[2022-04-11 16:54] jonatanklosko commented on #1098
Ah sorry, I meant that we need to show all the documents at once, or in other words have all the tabs open.

[2022-04-11 19:14] jonatanklosko commented on #1093
Closed via https://github.com/livebook-dev/kino/pull/124.

[2022-04-11 19:14] #1093 closed

[2022-04-12 11:41] josevalim opened #1100 "Support code focus mode"
Today, if someone wants to focus only on the code, the only option is to export the notebook source to elixir. We should provide a code focus mode, that hides all markdown cells, perhaps comments, and other non essential functionality for somebody to work, change, and refactor the code directly.

[2022-04-12 18:22] josevalim commented on #1046
Closing this as the remaining bug is upstream!

[2022-04-12 18:22] #1046 closed

[2022-04-13 14:28] ByeongUkChoi opened #1103 "Redirect does not work after authentication"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13
* Operating system: macOS 12.2.1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `MIX_ENV=prod iex -S mix phx.server`
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.5.2

## Current behavior
(my local livebook server host : http://localhost:8080)
when import livemd file to live

[2022-04-13 14:31] josevalim commented on #1086
Discussions is now open!

[2022-04-13 14:31] #1086 closed

[2022-04-13 14:49] jonatanklosko commented on #1103
For token auth we would currently render the token auth form, then submitting the form would GET the same URL with `?token` from the form. The issue however is that query params are lost, which is relevant for `/import`. I think we may need to handle token auth under the same `/authenticate` route as password, that we would redirect to instead of raising `InvalidTokenError`.

[2022-04-13 19:17] josevalim commented on #1100
We could also have a toggle for showing outputs or not (enabled by default).

[2022-04-13 20:14] jonatanklosko commented on #1098
With #1102 it should open more quickly, though initializing all the code editors will still take a moment. As for evaluation, I don't think we can easily avoid full DOM patches without breaking the page down into more stateful components and pushing updates to them directly, but orchestrating all of that is too much complexity. Maybe some future optimisations in LV will help with that.

All that s

[2022-04-13 20:14] #1098 closed

[2022-04-13 21:54] #1085 closed

[2022-04-14 06:31] josevalim opened #1109 "Check for Livebook updates once a day and display it on the UI"
We are working on a new home page and we can show a "pending update" indicator on the page. By default, clicking on the notification will take users to livebook.dev. However, we can provide a `LIVEBOOK_UPDATE_INSTRUCTIONS_URL` to configure external links. For example, Fly.io may want to set it to: https://community.fly.io/t/how-to-update-launcher-based-livebook/3796

We will check for updates on H

[2022-04-14 06:37] #588 closed

[2022-04-14 06:59] josevalim opened #1110 "Add app service settings and warnings"
We will introduce two additional environment variable names:

    LIVEBOOK_APP_SERVICE_NAME
    LIVEBOOK_APP_SERVICE_URL

We will show this information on the Settings page. For example, for Fly, they could set it to:

    APPLICATION
    my-fly-app-name

If a URL is given, clicking on the name will take you to the URL.

If a `LIVEBOOK_APP_SERVICE_NAME` is available, we will also track memory usag

[2022-04-14 07:03] #616 closed

[2022-04-14 09:44] #940 closed

[2022-04-14 16:00] ByeongUkChoi opened #1113 "Support `Read-only` mode"
Hi, I have a suggestion.
How about enable read-only mode in session? Read only mode is only enable read and execute, cannot edit.
So In read only mode, editor does not open when clicked codes , markdown or session cell.
What is your opinion?
Thanks :)

[2022-04-14 16:12] ByeongUkChoi commented on #1110
Hi,
you mean, adding a link like the screenshot in setting page?

<img width="935" alt="image" src="https://user-images.githubusercontent.com/43606066/163430321-aeef3be2-4a27-47b7-94ba-40903380083c.png">

[2022-04-14 16:26] jonatanklosko commented on #1113
Hey, this is loosely related to #570. What use case do you have in mind? Read-only means no collaboration, so I think there's not much advantage over sharing the Livebook source. That said, if we add support for #570, we can have it as one of the access levels perhaps.

[2022-04-14 16:28] josevalim commented on #1110
@ByeongUkChoi it would be added in the About, before the "Livebook" and "Elixir" entries. Does that make sense?

[2022-04-14 19:17] #1100 closed

[2022-04-14 23:30] ByeongUkChoi commented on #1110
@josevalim Absolutely!

like this?
<img width="864" alt="image" src="https://user-images.githubusercontent.com/43606066/163492804-437a6472-a0ab-4460-883c-a5b4a57879ae.png">
or this?
<img width="848" alt="image" src="https://user-images.githubusercontent.com/43606066/163493103-adc89b8e-3568-4b4e-b683-7df01846e582.png">

[2022-04-15 05:04] josevalim commented on #1110
The second, except instead of “Service” we will call it “Application”.

[2022-04-15 12:24] jonatanklosko commented on #1103
Closed via #1112.

[2022-04-15 12:24] #1103 closed

[2022-04-15 12:44] josevalim opened #1118 "Warn on low memory available"
If a LIVEBOOK_APP_SERVICE_URL is set, we should track memory usage. If the instance has less than 30MB available, we will show an alert on the home page saying the user should either update the current machine (linking to the app service url) or close existing Livebook sessions (linking to running sections).

[2022-04-15 12:45] josevalim commented on #1110
I moved the pending task to #1118.

[2022-04-15 12:45] #1110 closed

[2022-04-15 12:55] ByeongUkChoi commented on #1113
Read-only mode is disable write mode. exactly locked editor.
I think sometime just read and excute code, but open editor or create cells if click wrong.

[2022-04-15 12:59] josevalim commented on #1113
What is the use case? Is it to share the notebook with others? Because if so, we are working on “deploying“ Livebooks, where we hide The mark down, the code, and keep only inputs and outputs.  Would this be enough for you?

[2022-04-15 18:30] #813 closed

[2022-04-15 21:52] #1118 closed

[2022-04-16 05:58] ByeongUkChoi commented on #1113
The use case is that just read the session and do not want to edit or create cells even when i click the session
but as usual, others can edit and it reflects right away
it’s just one of my idea ;)

[2022-04-16 06:22] josevalim commented on #1113
Is it for your own use then? Or for somebody else to access it?

[2022-04-16 07:11] josevalim commented on #523
This has been moved to Kino for now, as it is mostly a Kino concern: https://github.com/livebook-dev/kino/issues/136

[2022-04-16 07:11] #523 closed

[2022-04-16 07:12] josevalim commented on #1109
Closing in favor of #1121.

[2022-04-16 07:12] #1109 closed

[2022-04-16 07:21] josevalim opened #1123 "Support file uploads on file system component"
This can be useful for uploading multiple files at once into S3 or similar.

[2022-04-16 08:11] ByeongUkChoi commented on #1113
For my own use.

[2022-04-16 08:27] josevalim commented on #570
We don't plan to support this for now. A single token collaboration gives any user access to the whole machine through code execution, which basically means they can do whatever they want. So I think any kind of wording around single token can be misleading. You either need to give access the whole environment or not.

[2022-04-16 08:27] #570 closed

[2022-04-16 08:55] josevalim opened #1126 "Add shared mode to Livebook sessions"
We want to add support for sharing Livebook sessions. Shared sessions can only have three permissions:

  * can read
  * can comment (optional)
  * can execute (optional)

Sharing is off by default and must be turned on.

Shared sessions will have a specific URL under /public/sessions/:slug, the slug can be customized. We should use global processes to avoid duplicate slugs. If sharing is revoked,

[2022-04-16 08:55] josevalim commented on #1113
I have created #1126 with more details on how we envision this feature. :)

[2022-04-16 08:55] #1113 closed

[2022-04-16 09:17] ByeongUkChoi commented on #1113
Thanks for your support. :)

[2022-04-16 15:47] ByeongUkChoi commented on #1126
Hi, @josevalim. I have some questions.

Who can change permissions?
Are these permissions dependent on each session?
If one user changes the permissions of the session, does everyone in the session change the permissions?
What should I do if a user wants to have different permissions in one session?

[2022-04-16 15:50] josevalim commented on #1126
Today the notebook only has one type of user, and this type of user can do anything. For now, we are not going to change it. So any user who has the token/password can change permissions.

The shared-mode permissions are per session. Once permission changes, all users connected via the shared-mode have their permissions changed.

For now, we won't allow different permissions per use in one session

[2022-04-17 07:11] #912 closed

[2022-04-18 22:50] rugyoga opened #1131 "Can't get the Leaflet.js example to run in Attached mode."
## Environment

* Operating system: MacOS Monterey (12.3.1)
* elixir 1.13.4-otp-24
* erlang 24.3.3

## Current behavior

I can run the example in the `Dynamic maps with Leaflet` section with no issue.
I can copy and paste that code to a new LiveBook and run it in Elixir standalone mode with no issue.
But when I try and incorporate it into an existing mix project and run it in Attached mode, I get:

[2022-04-18 23:03] jonatanklosko commented on #1131
Hey @rugyoga, how exactly do you start the node you attach to? It should work if you add `:kino` to dependencies in `mix.exs`, then either use the Mix runtime, or the Attached runtime starting as `iex --sname test --cookie mycookie -S mix`.

[2022-04-18 23:19] rugyoga commented on #1131
When I use the Attached runtime, all my other code works fine but the section with Leaflet.js barfs as reported.

I click on `Runtime settings`
Click the gear icon.
Select the Attached Node and copy over the Name and the Cookie.
Ever other cell works fine except the Leaflet.js code which is copied
verbatim from the Kino examples (except omitting the Mix.install in the first cell).

[2022-04-18 23:21] jonatanklosko commented on #1131
How do you start the node? The error indicates that the Kino application is not started :)

[2022-04-18 23:23] rugyoga commented on #1131
Do I need to explicitly start Kino in my application code?

[2022-04-18 23:25] jonatanklosko commented on #1131
If you added it as `{:kino, "~> 0.5.2"}` it shouldn't be needed, but it depends on how you start the node. Is your application supervision tree started?

[2022-04-18 23:26] rugyoga commented on #1131
Yes, because all the other components in the supervision tree are responsive.

[2022-04-18 23:36] jonatanklosko commented on #1131
Hmm, I don't see why the kino application wouldn't start then. I've just tried that with a fresh Mix project and it works as expected. @josevalim any ideas?

[2022-04-18 23:38] rugyoga commented on #1131
Can I start the Kino instance explicitly?

[2022-04-18 23:40] jonatanklosko commented on #1131
Yeah, doing `Application.ensure_all_started(:kino)` in the notebook or on application start should help, but this shouldn't be necessary :thinking:

[2022-04-18 23:47] rugyoga commented on #1131
^ That fixed it. I'll review our start up code at the next opportunity. Probably something funky going on there.

[2022-04-18 23:48] jonatanklosko commented on #1131
FTR this should work:

1. `mix new testproject`
2. Add `{:kino, "~> 0.5.2"}` to deps in `mix.exs`
3. `mix deps.get`
4. `iex --sname test --cookie mycookie -S mix`
5. Connect to the node via Attached runtime

[2022-04-19 00:31] rugyoga commented on #1131
Thanks for your help!
I'm going to close this as i'm 99% sure it's an issue in the creation of our app's supervision tree.

[2022-04-19 00:31] #1131 closed

[2022-04-21 02:31] tw4452852 opened #1136 "Allow cell references between(or within) livebooks"
It's might be very helpful to be able to link to a specific cell for reference. Something like this in a markdown block:

[code]

Currently, the cell's shareable URL is not deterministic if I understand correctly.

[2022-04-21 06:13] josevalim commented on #1136
Yes, at the moment it is not possible
To link to a cell because each notebook
Can have multiple sessions. We may revisit this later, but we don’t plan to support it at the moment . Thanks!

[2022-04-21 06:13] #1136 closed

[2022-04-25 10:09] josevalim opened #1143 "Rename Export to "Elixir Script" as Export to "IEx session""
We will tell users to run it as `iex --dot-iex path/to/notebook.exs`. We will also add a code comment to this effect at the top of the script.

From Elixir v1.14+, we will be able to import it as is, so we should remove the disclaimer about "the script export is available as a convenience". We should still keep branched sections commented out.

[2022-04-25 11:37] #1143 closed

[2022-04-27 12:37] drbhoneydew opened #1145 "State restoration after O/S sleep"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
  Erlang/OTP 23 [erts-11.0] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1]
  Elixir 1.13.2 (compiled with Erlang/OTP 22)
* Operating system:
  Windows  10 21H2
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):
  set mix_env=prod
  mix phx.server
* Livebook version (use `git rev-parse HEAD` if running wi

[2022-04-28 09:26] drbhoneydew commented on #1145
Managed to mark the place in the console just prior to sleep this time - the only non-update message logged is this:
[code]

[2022-04-28 11:02] #1145 closed

[2022-04-28 11:02] jonatanklosko commented on #1145
Hey @drbhoneydew! It's the same as #1015, a regression from recent restructuring. Fixed in #1146 :)

[2022-04-30 15:10] jonatanklosko opened #1153 "Expand on shareable sessions"
Builds on top of the ideas in #1126.

Overview:

* a user will be able to share a notebook and specify the policy for viewers (can they execute, comment, etc)
* the shared URL should be customizable to allow a readable slug
* support two viewer auth levels: authenticated user (in the given Livebook instance) or anyone (public). *Sidenote: authenticated users can access the session either way, but

[2022-05-01 09:24] josevalim opened #1154 "Move code zen to the title menu"
When we enter code zen, we don't keep the current position of the page. Therefore, having the code zen button anywhere on the page can be misleading, as soon as we click it, we are "relocated" in the page.

Therefore, I suggest to move "Code zen" to the title menu. Then the next question is: where do we put the button to exit/toggle outputs? One option is to have a small selector at the top (think

[2022-05-01 14:36] embik opened #1155 "Livebook crashes with simple Kino example"
Hey there! I'm having trouble with `livebook` and I'm pretty sure I did something wrong at some point, but maybe this is a problem someone can reproduce. Probably not though. So maybe this should be a Discussion. I'm not sure.

My problem ist that Livebook simply crashes with even the simplest `kino` examples. I used to use Livebook 0.2 before and did not have that problem, but honestly I do not r

[2022-05-01 15:17] ByeongUkChoi commented on #1154
Like this?
<img width="1042" alt="image" src="https://user-images.githubusercontent.com/43606066/166152415-3768c622-55de-42f0-9d48-5ed6bddbca92.png">

[2022-05-01 15:30] josevalim commented on #1155
Your Kino version is not compatible with your Livebook version. We are in the process of releasing Livebook v0.6. So you should either build Livebook master or use Kino v0.5. :)

[2022-05-01 15:30] #1155 closed

[2022-05-01 15:35] josevalim commented on #1154
Precisely, although I would put it at the top :)

[2022-05-01 16:06] ByeongUkChoi commented on #1154
All right, so is this right?

[before enter code zen]
![image](https://user-images.githubusercontent.com/43606066/166154249-a78e0ec5-b6ac-41f0-9236-90420dca7db3.png)

[after enter code zen]
![image](https://user-images.githubusercontent.com/43606066/166154259-9dc2a421-1dc1-4d47-8819-187d53e251b8.png)

[2022-05-01 16:08] josevalim commented on #1154
I think the toggle and exit code zen should be outside of the menu and rather at the top of the page. But I would wait for @jonatanklosko's opinion first.

[2022-05-02 06:38] embik commented on #1155
Ah! See, I wasn't aware of that relationship. It _was_ simple. Thanks for clearing that up!

[2022-05-02 10:12] jonatanklosko opened #1156 "Change cells indicator to fresh after erasing outputs"
Currently it's aborted, but it should look as if we just opened the notebook.

[2022-05-02 11:09] jonatanklosko commented on #1154
@ByeongUkChoi thanks, I think in this case it's best to just improve the relocation :) Fixed in #1157.

[2022-05-02 11:33] #1154 closed

[2022-05-02 11:34] josevalim opened #1158 "Rename toggle output in zen mode to show/hide"

[2022-05-02 11:40] josevalim opened #1159 "Support for pandoc integration"
In order to support pandoc integration, and eventual conversion to latex and other documents, we need to:

1. [ ] Do not discard front matter from Markdown
2. [ ] Allow metadata on Kino.render/2. This will be stored as part of the HTML comments
3. [ ] Persist tables as part of the output

Then someone can write a tool that preprocess the .livemd into a markdown document with tables, images, etc an

[2022-05-02 13:29] #1158 closed

[2022-05-02 13:37] #1156 closed

[2022-05-02 18:11] josevalim opened #1162 "Capture log from Kino.start_child processes"

[2022-05-04 18:30] eksperimental opened #1171 "Errors are converting `->` into an arrow symbol"
`->` is converted into `→`
![image](https://user-images.githubusercontent.com/9133420/166801534-8c612e7d-e130-4955-89c2-d2cc45b4472c.png)

the same happens with two dashes, but not with three which is how it should look.
`->`, `-->`, `--->`

![image](https://user-images.githubusercontent.com/9133420/166802010-3044b546-3383-4361-afec-62e522f86714.png)

[2022-05-04 18:32] jonatanklosko commented on #1171
Are you on latest Livebook? This has been addressed in #1072.

[2022-05-04 18:35] josevalim commented on #1171
Please don't forget to follow the issue template in future reports. :)

[2022-05-04 18:39] eksperimental commented on #1171
Yes, it has been solved.
I updated my Livebook yesterday, It must have been right before the 0.6.0 release.

[2022-05-04 18:39] #1171 closed

[2022-05-06 00:31] laszlokorte opened #1172 "iframe CORS error"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.3, Erlang/OTP 24 [erts-12.0]
* Operating system: Windows 10
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.0
* Browsers that reproduce this bug (the more the merrier): Firefox, Edge, Chrome
* Include wh

[2022-05-06 06:47] josevalim commented on #1172
Is there something else running on port 8081? What happens if you curl the root?

[2022-05-06 07:26] laszlokorte commented on #1172
Nothing else listens on 8081. While livebook is running `GET http://localhost:8081` gives me a 404 as well. If livebook is not running `GET http://localhost:8081` times out.

[2022-05-06 07:36] laszlokorte commented on #1172
Running via dockers works as expected. Via docker `GET http://localhost:8081` still gives a `404 not found` but `http://localhost:8081/iframe/v3.html` gives a html file with some javascript.

[2022-05-06 07:52] josevalim commented on #1172
Does http://localhost:8081/iframe/v2.html work for you locally?

[2022-05-06 08:06] laszlokorte commented on #1172
Maybe I am doing something wrong but:

When running livebook via docker (Docker Desktop on Windows) both `http://localhost:8081/iframe/v2.html` and `http://localhost:8081/iframe/v3.html` work from inside the Browser on the Windows machine.

When running livebook on Windows itself via `$ livebook server` none of the v2/v3 iframes work but `http://localhost:8080`.

Now if I attache to the docker con

[2022-05-06 08:25] jonatanklosko commented on #1172
Oh, the hex package doesn't include the iframes :( I didn't notice it when testing livebook from hex, because the iframes got cached. Fixed in #1174, though we need a new version.

[2022-05-06 08:28] #1172 closed

[2022-05-06 15:28] jonatanklosko commented on #1172
I've just released 0.6.1, should work as expected from Hex :)

[2022-05-06 21:15] w0rd-driven opened #1177 "Building the 0.6.x macOS app halts with OTP version conflicts"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):

[code]

* Operating system: macOS Big Sur 11.6.5

## Current behavior

Running `build_mac.sh` produces the following output

[code]

## Expected behavior

The build progresses to completion.

----

I initially thought there was a version conflict as my OTP version is 24.3.2. I assumed I could work around it by running 24.2 locally

[2022-05-06 21:55] #1177 closed

[2022-05-09 08:13] moogle19 opened #1178 "`IO.inspect/1` output not captured"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): v1.13.2 / main
* Operating system: Ubuntu / macOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Docker / livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.1

## Current behavior

`IO.inspect/1` output inside the `:ssl.verify_fun` isn't captured / printed inside the li

[2022-05-09 08:25] josevalim commented on #1162
Actually, I think we should capture all logs and reflect them in Livebook. Perhaps on the last active cell? We can also have a separate place for all logs. This is so people can achieve what was mentioned in #1178.

[2022-05-09 13:49] aseigo opened #1180 "URL on command line when using `livebook server --ip` is incorrect"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.3, OTP 24.3.2
* Operating system: Linux
* How have you started Livebook: `livebook server --ip "10.195.20.191" --port 5050`
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.1
* Include what is logged to the server console:

[code]

## Current behavior

Currently, if using the `--ip` flag to pass a local I

[2022-05-10 09:03] tw4452852 opened #1182 "Can we add a button to control sidebar's visibility?"
I request this feature because I usually view/edit the livebook from the mobile whose screen's width is small.
It would be nice to add a toggle button on the corner to show/hide the sidebar.

[2022-05-10 09:33] josevalim commented on #1182
We can replace the Livebook icon for a burger icon on small screens. We don't plan to explore it ourselves but pull requests that improve the mobile experience are welcome!

[2022-05-12 04:12] nuTTeLLo opened #1184 "File browser on dashboard and autosave modal only shows directories, no files displayed"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):  1.13.4 and 1.13.1 (asdf installed)
* Operating system: Mac OS X 12.3.1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  Docker, livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.1, 0.6.0
* Browsers that reproduce this bug (the more the merrier): Safari, Brave
* Include

[2022-05-12 06:10] josevalim commented on #1184
We only show .livemd files because the other files are not relevant. Is there a reason why you would like to see other files?

[2022-05-13 02:57] nuTTeLLo commented on #1184
Ah ok. So it's only meant to show .livemd files?
Did not realise that was the use case for it.
It was a little confusing when I was trying to specify an autosave location and file and for the life of me could not figure out how to specify/pick a file to save to.

[2022-05-13 02:58] #1184 closed

[2022-05-13 13:22] #1180 closed

[2022-05-14 12:20] jonatanklosko opened #1187 "Change text inputs to apply change on blur rather than debounced input"
So that we can have an automatically reevaluation cell that both renders and reads the input.

[2022-05-16 02:33] tw4452852 opened #1188 "relative link address in Kino.Markdown is wrong"
Suppose we have following two cells:

[code]

[code]

The generated link address in kino (http://127.0.0.1:4000/sessions/test.livemd) is wrong.
While the one from plain markdown (http://127.0.0.1:4000/sessions/psh33eacb4fkhg5pjz5v4vof4v6z3v345bbmhqtf/test.livemd) is right.

[2022-05-16 09:17] LostKobrakai opened #1190 "Dockerfile default notebook path"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system:
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Docker
* Livebook version (use `git rev-parse HEAD` if running with mix): [edge](https://hub.docker.com/layers/livebook/livebook/livebook/edge/images/sha256-734dd417f96bfc487cc235c69654eb9d83454ffb2501e79343e46715515e00fa?context=explor

[2022-05-16 09:31] jonatanklosko commented on #1188
Hey @tw4452852, is there a specific use case where you need this behaviour? We could fix it for markdown, but it's not going to work for all the JS-based outputs, such as table, so I'm not sure if we should support it for Markdown either. We rewrite the links for notebook content itself, but I think outputs should rely on that.

[2022-05-16 09:37] josevalim commented on #1190
It seems a safe change to make as long as we allow people to change it when running their own Docker instances too. :)

[2022-05-16 09:38] josevalim commented on #1190
I am also almost sure Fly.io defaults to /data.

[2022-05-16 09:40] jonatanklosko commented on #1190
We use `/data` as workdir, and in the previous versions that would also make it the root path for browsing files. We then added `LIVEBOOK_HOME`, so it's definitely a good call to change it!

[2022-05-16 09:45] jonatanklosko commented on #1188
I see, and the search looks at notebooks contents, right?

[2022-05-16 09:45] tw4452852 commented on #1188
Yep

[2022-05-16 10:02] jonatanklosko commented on #1188
Since you are searching local files, you could open them by linking to `/open?path=#{URI.encode_www_form(path)}`, would that cover it?

[2022-05-16 10:06] tw4452852 commented on #1188
Actually, this is what i did. But it can't cover the case where a local notebook link inside a notebook.

[2022-05-16 10:08] jonatanklosko commented on #1188
To clarify, the `path` should be expanded into an absolute one. Could you give an example where it doesn't work?

[2022-05-16 10:20] tw4452852 commented on #1188
a.livemd:

[code]

b.livemd:

[code]

Support the search wants to render `a.livemd`'s content in its output which is a `Kino.Markdown`.

[2022-05-16 10:32] jonatanklosko commented on #1188
Ah so you are rendering the notebook content itself. This wouldn't work either way as soon as the notebook lives in another directory. For example if we did `Kino.Markdown.new(File.read!("dir/a.livemd"))`, if the notebook content links to `b.livemd`, the rendered link won't account for `dir/`. This may not be the problem for your search if it doesn't search recursively, but my point is that even i

[2022-05-16 10:36] jonatanklosko commented on #1188
You could make it work by rewriting relative URLs in the notebook into `/open?path=...`, before rendering the content.

[2022-05-16 12:31] tw4452852 commented on #1188
Indeed, `/open?path=...` will do the trick. But it requires rewriting the links in the content before rendering.

But I think the point of this issue is about the rendering inconsistency between notebook content and `Kino.Markdown`.
We should make them align to prevent confusion.

[2022-05-16 20:14] #1190 closed

[2022-05-17 00:54] jonatanklosko commented on #1188
Well, either way is fine by me, so we can make them the same, yeah :)

[2022-05-17 01:03] #1188 closed

[2022-05-17 19:58] aschiavon91 opened #1192 "Permission denied on docker startup, when using --user flag"
I'm trying to run livebook on docker with `--user` flag, to avoid file permissions problems, but I'm getting a permission denied error on container startup.
Looks like it's only happening in the latest versions, 0.6 or greater.

![image](https://user-images.githubusercontent.com/3910403/168899231-3deb54d8-3b7c-4d54-a2bb-c3b0646b10c3.png)

[2022-05-17 21:11] #1192 closed

[2022-05-18 03:18] leepfrog opened #1194 "Unable to use iframes (VegaLite) behind HTTPS proxy"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.2 / Erlang/OTP 24
* Operating system: x86_64-pc-linux-gnu
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): docker-compose build
* Livebook version (use `git rev-parse HEAD` if running with mix): 70ccaafa14fc736e8c7c08ee29ba40250ef8f125
* Browsers that reproduce this bug (the more the merrier)

[2022-05-18 06:44] josevalim commented on #1194
We will gladly accept an option to make it customizable, but it means you will have to run the iframe yourself. The source code is in this repository too under `iframe`.

[2022-05-19 03:46] Albert481 commented on #1194
Similar iframe issue on localhost. Initilized by escripts, livebook 0.6

[code]

[2022-05-19 12:38] Albert481 commented on #1194
macOS

[2022-05-19 12:50] jonatanklosko commented on #1194
Does it happen in other browsers or incognito mode?

[2022-05-19 12:55] josevalim commented on #1194
@jonatanklosko this error can happen if the assets get cleaned I think, due to the macOS tmp directory behaviour. Perhaps we should do a new release with the fix?

[2022-05-19 12:56] josevalim commented on #1194
@Albert481 can you please try running from `main` to see if it works? You can run: `mix escript.install github livebook-dev/livebook`

[2022-05-19 12:57] jonatanklosko commented on #1194
@josevalim the error is `The loaded iframe content doesn't have the expected checksum`, so it's about the iframe content, before we load the assets.

[2022-05-19 13:00] josevalim commented on #1194
Ah, true.

[2022-05-19 13:47] Albert481 commented on #1194
both Safari and Google Chrome

[2022-05-20 08:27] Albert481 commented on #1194
I am already using the 0.6.1 ver actually. Still occuring.

[2022-05-20 09:08] josevalim commented on #1194
And does it also happen when installing the escript from main? Or running directly from GitHub? Also, do you have anything running on 8001 by chance?

[2022-05-20 11:13] Albert481 commented on #1194
Both escripts and github. and no running processes on the default livebook iframe port (default 8081)

[2022-05-20 11:20] jonatanklosko commented on #1194
And if you go directly to http://localhost:8081/iframe/v3.html does it return a file or 404?

Also, please clone the repo and check the checksum with

[code]

[2022-05-20 12:24] Albert481 commented on #1194
Shows a blank page, no console errors.

[2022-05-21 08:24] aar2dee2 commented on #1162
Hi!
I'd like to work on this.
The [LoggerGLBackend](https://github.com/livebook-dev/livebook/blob/ca27bb157f307dc3687c26936c64808248aec2e2/lib/livebook/runtime/erl_dist/logger_gl_backend.ex) is added as a backend for the Logger [here](https://github.com/livebook-dev/livebook/blob/6b7825871338af0ec3f4196ec3e17d2670e6a92c/lib/livebook/runtime/erl_dist/node_manager.ex#L101). I understand that this lo

[2022-05-22 12:09] jonatanklosko commented on #1194
Interesting, a blank page indicates the iframe is actually served.

@Albert481 could you also check the checksum? :)

[2022-05-23 10:01] jonatanklosko commented on #1162
Hey @aar2dee2!

Livebook has a main evaluation process and then one more per each branching section, since they run independently. Each of those evaluation processes has a group leader that captures output and it ends up under the evaluating cell. Consequently, if multiple cells are evaluating at once, their output will still end up in the right place. The custom logger backend sends the given log

[2022-05-25 21:15] leepfrog commented on #1194
I'm thinking the smallest fix would be to deprecate the `LIVEBOOK_IFRAME_PORT` configuration setting in lieu of `LIVEBOOK_IFRAME_URI`.

The `LIVEBOOK_IFRAME_URI` setting would allow you to provide a full path to the v3.html file.  If defined, it would be returned -- if not, then the existing behavior would happen:

[code]

I'm not sure what the stance is on deprecating configuration settings.  If

[2022-05-25 21:24] josevalim commented on #1194
I think we can have both options. LIVEBOOK_IFRAME_PORT is used to configure the local port for running the iframe. LIVEBOOK_IFRAME_URL is the URL to access. So LIVEBOOK_IFRAME_PORT should set LIVEBOOK_IFRAME_URL (if none is set).

A PR is welcome!

[2022-05-25 21:30] jonatanklosko commented on #1194
We shouldn't set `LIVEBOOK_IFRAME_URL` to anything by default, because it is protocol dependent. We can just make the URL take precedence if configured, for completeness we should probably rewrite the protocol part to make sure it matches.

[2022-05-26 00:49] #1194 closed

[2022-05-26 08:52] josevalim commented on #1153
We should have two edit modes: edit_text / edit_code (maybe we can call it review/edit) edit_text can add/remove/change markdown cells only. edit_code is everything under edit permissions today.

[2022-05-27 12:45] #926 closed

[2022-05-29 18:54] aar2dee2 commented on #1162
So there's probably a couple things to do here
a) Use custom logger to send the logs for the default group leader to livebook
b) Decide where to show those logs and add the UI (if needed) for that or the last active cell (this can change though)

[2022-05-29 19:02] josevalim opened #1208 "Notebook sidebar icons preserve state on deselection"
Steps to reproduce:

1. Open up a notebook
2. Click the Sections sidebar icon to open it
3. Click the Sections sidebar icon to close it

Note that the icon remains active.

[2022-05-29 19:13] josevalim commented on #1162
Yes, I think the biggest question is rather the UI. Logs probably deserve a pane that can always be visible, which either means a pane on the bottom or on the right side (bottom is my pick). Then we need to decide where the button to toggle it belongs (either the bottom-right or the sidebar on the left).

[2022-05-29 19:27] aar2dee2 commented on #1162
Would vote for a pane at the bottom too - akin to having a terminal open in code editors.
Also, a question - would those logs be sent _both_ to the terminal session running livebook and livebook?
Logs in the terminal persist, whereas in Livebook (I presume) they would be lost on ending the session.

[2022-05-29 19:59] josevalim commented on #1162
Likely there is no need to persist them in the Livebook server terminal too.

[2022-05-30 10:42] jonatanklosko commented on #1208
Hmm, I think that's expected, the button is focused hence we highlight it (relevant for Tab navigation). When the sidebar is open we change the icon background, so it's in a different state.

[2022-05-30 10:43] josevalim commented on #1208
Ok, makes sense then.  :) Last question, is it expected that we can't reach the "Bin" icon using tab after the runtime icon?

[2022-05-30 10:47] jonatanklosko commented on #1208
Works for me, is it skipped for you?

https://user-images.githubusercontent.com/17034772/170976514-a138efd1-f690-4ff4-a477-34f7d839422c.mp4

[2022-05-30 10:50] josevalim commented on #1208
It skips for me on firefox :(

[2022-05-30 10:52] #1208 closed

[2022-05-31 18:03] BrooklinJazz opened #1210 "ExUnit doctests fail in livebook"
It seems that doctests crash in livebook.

![image](https://user-images.githubusercontent.com/14877564/171254353-a47b72c1-591f-4489-954e-203e9f413c4f.png)

Regardless of if there is documentation or not, including the `doctest` macro always results in the following error.

[code]

Is this a universal experience, or a local issue on my part? If it's universal I'd be happy to dig into why it's happe

[2022-05-31 18:07] josevalim commented on #1210
The error you are getting is weird and I don't understand why it happens. If you can provide the complete snippet. However, I do expect for you to get this error:

[code]

In a nutshell, you can't access the documentation of a module that is not defined, unfortunately. :(

[2022-05-31 18:21] BrooklinJazz commented on #1210
Hmm, I'm not sure why I received that error, but I've been able to reproduce the error you mentioned so let's ignore that.

![image](https://user-images.githubusercontent.com/14877564/171257447-926486b1-e6dc-4740-9a89-7affbc88d759.png)

This means it's not possible to run doctests in livebook right? dang! Ah well, feel free to close this issue unless there's something I can do to make it work.

Th

[2022-05-31 18:48] josevalim commented on #1210
The only way to address it would be by getting the bytecode returned by `defmodule` and writing it to disk in a codepath used by Livebook. It is a non-reasonable amount of bureaucracy which likely defeats the purpose of teaching about doctests in Livebook :(

[2022-05-31 18:55] #1210 closed

[2022-06-02 01:40] sabiwara opened #1212 "Cell formatting doesn't respect dependencies`locals_without_parens`"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.4 / OTP 25
* Operating system: MacOS
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): escript
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.1
* Browsers that reproduce this bug (the more the merrier): Firefox
* Include what is logged in the browser console: -
* Include what

[2022-06-02 06:55] josevalim commented on #1212
I think this is hard because we would need to list somewhere the dependencies we want to include on the formatting. @jonatanklosko who does the formatting? Livebook or the runtime? If Livebook, then it is not possible at all and we should close this as not possible. :(

[2022-06-02 09:39] jonatanklosko commented on #1212
@josevalim it's the runtime, is there an easy way for us to get all dependency formatting rules, without specifying them explicitly?

[2022-06-02 11:29] sabiwara commented on #1212
It seems currently this is done in the `Mix.Tasks.Format`, but it doesn't seem to be a public API to retrieve this?
https://github.com/elixir-lang/elixir/blob/main/lib/mix/lib/mix/tasks/format.ex#L357-L365=

[2022-06-02 11:33] jonatanklosko commented on #1212
Unfortunately it's not trivial, when using `Mix.install` there's currently no easy way to locate dependencies, because `Mix.Project.deps_paths()` doesn't work. This would most likely require changes to Elixir, so we can wait until there's a stronger indicator we need this :)

[2022-06-02 11:33] #1212 closed

[2022-06-04 21:27] josevalim opened #1216 "Generate link to hexdocs on mousehover"
When we mouseover a module or a function, we show its documentation, but we should consider including a link to the actual documentation on hexdocs.pm on the top right, which will provide a better experience for reading.

[2022-06-05 02:45] kipcole9 opened #1218 "Add support for admonitions"
Feature request to add support for `ex_docs`-style [admonitions](https://hexdocs.pm/ex_doc/readme.html#admonition-blocks) in the markdown renderer.

[2022-06-06 10:11] jonatanklosko commented on #1218
Hey Kip! GitHub Markdown doesn't support admonition blocks, so I'm not sure if we should support it, especially that `.livemd` files will be rendered as Markdown on GitHub soon (I think). @josevalim wdyt?

[2022-06-06 10:19] kipcole9 commented on #1218
@jonatanklosko yes, Markdown hardly a formal standard for sure.

My 2c is that the power of Liveview is not upcoming rendering in Github, but attaching it to a live running Elixir instance. And in these cases, as I start building tutorials and presentations, I believe that admonitions would be incredibly useful to emphasise key points, breakup up a document making it easier to read and deliver an

[2022-06-06 10:21] kipcole9 commented on #1218
BTW, really awesome work @jonatanklosko, such an amazing addition to the Elixir ecosystem. I'm giving my first ever ElixirConf presentation this Friday - and its all in Livebook.

[2022-06-06 10:54] josevalim commented on #1218
There are two issues here: we need to support special classes AND support IAL notation from kramdown, and I am not comfortable with making both choices right now.

GitHub is considering [their own syntax now](https://github.com/github-community/community/discussions/16925), which I dislike, so I would like to wait a bit more before we make an official move. :)

[2022-06-06 10:54] #1218 closed

[2022-06-09 20:04] HurricanKai opened #1219 "Mermaid Subgraphs are very slow"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 25 [erts-13.0] [source] [64-bit] [smp:24:24] [ds:24:24:10] [async-threads:1] [jit:ns] [x86_64-pc-linux-gnu]
* Operating system: Ubuntu 20.04 in WSL2
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix): ?
* Browser

[2022-06-12 15:04] josevalim opened #1223 "Tackling pain points of computational notebooks"
The paper [What's wrong with computational notebooks](https://www.microsoft.com/en-us/research/publication/whats-wrong-with-computational-notebooks/) highlights several pain points. We list them below and annotate the ones already tackled:

* [x] Setup - Loading and cleaning data from multiple sources and platforms is a tortuous, multi-step, manual process.
  Our Comment: Our goal is that smart ce

[2022-06-13 13:40] jonatanklosko commented on #1219
Hey @HurricanKai! When modifying graph definition most time is spent generating the graph SVG, and even though it happens asynchronously, it runs in the same thread as everything else. Consequently, when typing quickly, the browser is busy generating the graph and the UI is a bit jumpy. That's how it looks for me:

https://user-images.githubusercontent.com/17034772/173365299-80bc1212-ed89-477d-8bc

[2022-06-13 14:43] HurricanKai commented on #1219
I've retested in a fresh notebook and I think the performance drop was unrelated (possibly something about equally named graphs, not sure), my apologies. I'll raise a different issue if ai can reproduce that.

[2022-06-13 14:44] #1219 closed

[2022-06-13 14:45] jonatanklosko commented on #1219
Sure, no worries :)

[2022-06-13 23:22] jonatanklosko commented on #1216
Closed in #1221.

[2022-06-13 23:22] #1216 closed

[2022-06-13 23:36] ByeongUkChoi commented on #1126
I closed it by mistake. I'll create it again soon. 😭

[2022-06-14 22:32] houllette commented on #643
I was hoping to bump this issue as I'm currently working on a pretty novel idea using Livebooks in an educational manner and would like a way to execute notebooks via the CLI in order to automate grading code output. Any help would be appreciated! 😄

[2022-06-14 23:54] jonatanklosko commented on #643
Hey @houllette, this is not a priority for us right now, but I put together a script for basic evaluation [here](https://gist.github.com/jonatanklosko/ec56a3a5d0520624903e9f75ebd7b171). It needs to be run within the Livebook mix project:

[code]

Hopefully this helps or gives you a starting point :)

[2022-06-15 05:00] ericsalim opened #1228 "Issue parsing Mix Standalone path on Windows"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.0 & Erlang/OTP 24
* Operating system: Windows
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Windows Command Line
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.1
* Browsers that reproduce this bug (the more the merrier): N/A
* Include what is logged in the browser c

[2022-06-16 16:54] Qqwy opened #1229 "Code output has a white background, which is problematic when printing output that contains (ANSI color coded) white text"
## Environment

* Elixir 1.13.4
* Erlang/OTP 25 [erts-13.0] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit:ns] [x86_64-pc-linux-gnu]
* Livebook installation: (`mix escript.install github livebook-dev/livebook`, `livebook server`)
* Livebook version: 0.6.1 / development from git (`8f4cafe264418c528b084563348b8f7ea74d5c9c`)
* Browsers that reproduce this bug (the more the merrier):

[2022-06-16 21:23] Qqwy commented on #1229
That makes a lot of sense.
Thank you very much, you learn something new every day! :heart:

[2022-06-16 21:23] #1229 closed

[2022-06-17 07:27] jonatanklosko commented on #1229
FWIW you can use ANSI codes to specify the background color as well :)

[2022-06-17 12:33] josevalim opened #1230 "Extract elixirkit into its own Hex package"
This will only happen after we ship the desktop app.

[2022-06-17 17:43] jonatanklosko commented on #1228
One way I see is supporting quotes to resolve ambiguity, but in shell this will require nested quotes like `LIVEBOOK_DEFAULT_RUNTIME="mix:'C:/Users/my.name/livebook'"`, which is not really intuitive. @josevalim any other ideas?

[2022-06-17 18:28] josevalim commented on #1228
Only split on the first `:` and let the runtime specific logic split on it again if necessary. I agree that the quotes are not very helpful, so we probably don’t need to support it.

[2022-06-17 18:31] jonatanklosko commented on #1228
The parsing is already runtime-specific

https://github.com/livebook-dev/livebook/blob/8f4cafe264418c528b084563348b8f7ea74d5c9c/lib/livebook/config.ex#L318-L319

It's just that there's a genuine ambiguity in `mix:PATH[:FLAGS]`, because PATH may include `:`.

[2022-06-17 19:38] josevalim commented on #1228
Maybe move the flats to be first and we parse the known flags?
--

*José Valimhttps://dashbit.co/ <https://dashbit.co/>*

[2022-06-17 19:43] jonatanklosko commented on #1228
Actually, the flags can also include a file path, so it's always going to be unrealiable, unless we have a way to implicitly distinguish the parts :thinking:

[2022-06-17 20:46] josevalim commented on #1228
Ok, so I think we need two flags. `LIVEBOOK_DEFAULT_RUNTIME` and `LIVEBOOK_DEFAULT_RUNTIME_FLAGS`.

[2022-06-17 20:49] jonatanklosko commented on #1228
For the mix runtime the flags are project path and mix run flags, so we would still need the quotes?

[2022-06-17 22:03] josevalim commented on #1228
@jonatanklosko if we are looking at flags, then does it mean we need `--` explicitly? If so, we can do this:

First split once on `:--` to get the flags bit. Then split on the first `:`?

[2022-06-17 22:09] josevalim commented on #1228
Ok. I actually think we should just check for Windows style paths. Check if we have `<<letter, ?:, _::binary>> when letter in ?a..?z or letter in ?A..?Z` immediately after "mix:". If you are still worried about false positives, then you can check `:` is followed by either `/` or `\`.

[2022-06-18 10:53] josevalim opened #1231 "Provide an API for smart cells to add packages"
Today, the smart cell needs to display some text. We should have a way of automating this from within the smart cell. Then it will show the same pop-up asking for confirmation that we see today. This will be useful for the Database Connection smart cell and other cells with optional dependencies.

[2022-06-18 11:30] jonatanklosko commented on #1228
Yeah, sounds good to me! Theoretically the path could have `:` anywhere, so either way the delimiter is heuristic-based, but I think it's fine.

[2022-06-18 11:32] josevalim commented on #1228
I think in those cases people can use the quotes. But solving the immediate case for windows for be beneficial.

[2022-06-20 09:14] v0idpwn opened #1232 "Error loading asset in smart cell"
## Environment
* Elixir & Erlang/OTP versions (elixir --version): 1.13.4 &  `Erlang/OTP 25 [erts-13.0.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit] [aarch64-apple-darwin21.5.0]`
* Operating system: MacOS Monterey 12.4
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix):

[2022-06-20 09:45] jonatanklosko commented on #1232
Hey @v0idpwn! I think this is fixed on main. The issue is that smart cell assets are cached in tmp directory, macOS removes those files on reboot, however it keeps all directories as empty, which makes Livebook think the assets are there (https://github.com/livebook-dev/livebook/commit/49492771f392b8263bf663ed8bc9191ec5e07778).

To verify if that's the issue, you can look into the temporary direct

[2022-06-20 10:24] v0idpwn commented on #1232
Thanks! I will check and get back to you.

[2022-06-20 15:05] KeepZen opened #1233 "The first time startup, livebook will get stuck"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.1 (compiled with Erlang/OTP 22)
* Operating system: win11
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): Livebook 0.6.1
* Browsers that reproduce this bug (the more the merrier): msedge
* Include what is logged

[2022-06-20 15:51] josevalim opened #1234 "Use compilation trackers to store modules bytecode"
We need to associate the module to a cell and write it to disk. The path in disk will be added to the code path. Before a cell is reevaluated, we can delete the file and purge/delete the module.

This will allow documentation and doctests to work for Livebook modules. /cc @BrooklinJazz

[2022-06-21 06:38] aar2dee2 commented on #1162
Hi @jonatanklosko,

I've opened a PR for this. The edited code references the `:standard_error` process to send the logs to, based on [this code](https://github.com/livebook-dev/livebook/blob/8f4cafe264418c528b084563348b8f7ea74d5c9c/lib/livebook/runtime/erl_dist/node_manager.ex#L99) in `Livebook.Runtime.ErlDist.NodeManager`. However, the logs appear multiple times in the terminal, rather than in l

[2022-06-21 11:37] aar2dee2 commented on #1162
Can we forward the log to `smart_cell_gl` in the runtime_server?

[2022-06-21 11:41] jonatanklosko commented on #1162
That group leader is used for smart cell servers, it's not what we are looking for. We need to keep track of the last evaluator, so basically store this

https://github.com/livebook-dev/livebook/blob/8f4cafe264418c528b084563348b8f7ea74d5c9c/lib/livebook/runtime/erl_dist/runtime_server.ex#L334

in the state. And when we receive log we get evaluator's group leader (which is always IOProxy) and send

[2022-06-21 15:14] josevalim commented on #1233
And does anything happen if you try to access it in the browser? Or the port is also not working? Does anything differently happen if you do not use the `--home .` option?

[2022-06-21 15:16] KeepZen commented on #1233
Like this:

<img width="694" alt="livebook" src="https://user-images.githubusercontent.com/43458238/174835610-bbd45c45-e12f-4b83-9879-f97e8fd6c3b8.png">

[2022-06-21 15:24] jonatanklosko commented on #1233
Does it help if you run this https://github.com/livebook-dev/livebook/issues/599#issuecomment-946239442 before `livebook server`?

[2022-06-21 15:34] KeepZen commented on #1233
I will try it then I will give a more cleary report.

[2022-06-21 18:04] josevalim opened #1237 "Add live evaluation"
The idea with live evaluation is that we will show the result as the user types. However, instead of evaluating every time, we will understand which lines changed, how, and only evaluate the necessary bits.

What is unclear, however, is how we will configure this feature and how it will play with Reevaluate automatically. Reevaluate automatically will be the default mode of a notebook when deploye

[2022-06-22 03:57] KeepZen commented on #1233
@josevalim I try to access it in the browser, there is nothing happend, port 8080 is not listenning.
Remove the `--home .` option there is nothing diffenter.
@jonatanklosko  I have try `epmd`, it wroked.
Is this  same as #599 ? Should I close this one?

[2022-06-22 06:33] josevalim commented on #1233
@KeepZen to be clear, `epmd` itself did not work, but `epmd --daemon` did, right?

[2022-06-22 06:40] josevalim commented on #1233
Unfortunately we cannot fix it for escripts but we can fix it for the upcoming desktop app.

[2022-06-22 14:37] ByeongUkChoi commented on #1237
Is this right?

<img width="518" alt="image" src="https://user-images.githubusercontent.com/43606066/175056689-cfa878bd-7b45-4d33-a6b5-4e34d08c63b9.png">

[2022-06-22 14:52] KeepZen commented on #1233
Yes.

[2022-06-22 14:52] #1233 closed, assigned to nobody

[2022-06-22 16:07] josevalim commented on #1237
Thank you! That’s definitely one of the ideas but I have also asked our designer to explore some concepts as well before we move forward. So hold on tight :-)

[2022-06-23 02:36] BrooklinJazz opened #1240 "HTML not highlighted in fenced code blocks"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.3/Erlang/OTP 24
* Operating system: Windows WSL (Ubuntu 20.04.4 LTS)
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook
* Livebook version (use `git rev-parse HEAD` if running with mix): main
* Browsers that reproduce this bug (the more the merrier): chrome
* Include what is logged in

[2022-06-23 08:46] aar2dee2 commented on #1162
Hi @jonatanklosko,

Made some edits, but I'm unsure how to proceed further. The evaluation response is handled [here in Livebook.Session.Data](https://github.com/livebook-dev/livebook/blob/8f4cafe264418c528b084563348b8f7ea74d5c9c/lib/livebook/session/data.ex#L488).

[2022-06-23 09:13] josevalim commented on #1240
I think it is a matter of adding "html" here: https://github.com/livebook-dev/livebook/blob/fcf3015c87a5060751b998688ed54578a9192f7b/assets/webpack.config.js#L58

[2022-06-23 11:40] jonatanklosko commented on #1162
Closed in #1235.

[2022-06-23 11:40] #1162 closed

[2022-06-23 11:42] aar2dee2 commented on #1162
Thank you @jonatanklosko 🙏🏼

[2022-06-23 23:48] jonatanklosko commented on #1178
As of #1162 this can be accomplished with Logger. @josevalim there's not much more we can do for regular output outside livebook supervision, right?

[2022-06-24 09:09] josevalim commented on #1178
We could capture the IO from the port itself... but I am not sure if it is a good idea? WDYT?

[2022-06-24 10:00] #1240 closed

[2022-06-24 10:00] #1187 closed

[2022-06-24 10:49] #1228 closed

[2022-06-24 11:56] jonatanklosko commented on #1178
We discussed this offline. We start the standalone runtimes by opening a port, so we could capture all output, however that's no the case for attached and embedded runtimes and we want to handle it consistently. Also, since it's now possible to use Logger from anywhere, it should cover edge cases like this :)

[2022-06-24 11:56] #1178 closed

[2022-06-28 07:26] wojtekmach opened #1248 "Include nmake.exe in Livebook Desktop for Windows"

[2022-06-30 00:20] leepfrog opened #1252 "Unable to create markdown link with custom URI handlers"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.13.2 / Erlang/OTP 24
* Operating system: x86_64-pc-linux-gnu
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): docker-compose build
* Livebook version (use git rev-parse HEAD if running with mix): https://github.com/livebook-dev/livebook/commit/fcf3015c87a5060751b998688ed54578a9192f7b
* Browsers

[2022-06-30 12:07] jonatanklosko commented on #1252
There is a bug that turns this into a relative URL (fixed in #1255). However, with that fixed, the `href` is removed altogether by HTML sanitization given `myurihandler://some/path`. I don't think we want to allow arbitrary schemes, in particular `javascript:`. Are you looking for a well-known scheme, or a custom one?

[2022-06-30 16:12] leepfrog commented on #1252
We have a few custom schemes that are used to launch native applications.

[2022-06-30 17:55] jonatanklosko commented on #1252
I see, there's no specific list of dangerous schemes that we could disallow ([ref](https://security.stackexchange.com/questions/148428/which-url-schemes-are-dangerous-xss-exploitable)). What we can do is have a configuration under settings for enabling specific schemes other than http/https in the given Livebook instance.

[2022-07-01 14:14] kianmeng opened #1259 "Livebook e-book File Format"
Is there any plan to create a special e-book file format which uses `.livebook` extension? Something like the EPUB file format, where we can group together a list of `.livemd` files within one archived file.

For example, a Livebook file, `mylivebook.livebook`, which have the following list of files:

- `toc.livemd`
- `chapter1.livemd`
- `chapter2.livemd`
- ...

[2022-07-01 14:20] josevalim commented on #1259
Yes, most liikely via pandoc. See #1159. :)

[2022-07-01 14:20] #1259 closed

[2022-07-03 21:27] josevalim opened #1262 "Add branching sections to the menu"
We will pick a parent by default:

1. if there are no previous branching sections, pick the previous section as parent
2. if there are, pick the same parent as the previous

We will also allow clicking on `\ from "Foo Bar"` to change the parent, it will work the same as clicking the existing branch sections button. Finally, we will add an explicit `x Clear` at the top of the branching section menu

[2022-07-09 09:45] linusdm opened #1265 "Blur event required when using value of `Kino.Input.text` control."
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.13.4
* Operating system: macOS Monterey
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): livebook CLI
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.2
* Browsers that reproduce this bug (the more the merrier): Firefox and Chrome

## Current behavior

The Kino text control seems

[2022-07-09 10:31] josevalim commented on #1265
Yes, this is a bug, perhaps related to #1187. I would expect the blur to happen before the button is clicked, but that does not seem to be the case.

[2022-07-09 10:50] linusdm commented on #1265
Your hunch is correct. Bisecting the issue reveals that the PR/issue you mentioned introduced this unexpected behaviour. Before it worked as expected.

[2022-07-09 12:04] linusdm commented on #1265
As far as I can see, the [conditional reporting of the change for text inputs](https://github.com/livebook-dev/livebook/blob/main/lib/livebook_web/live/output/input_component.ex#L156) after each change event breaks this behaviour. Previously, this reporting was always triggered, regardless of the type of input.

Still, that doesn't explain why the blur event doesn't occur before the queuing of the

[2022-07-09 13:46] linusdm commented on #1265
The combination of `phx-debounce` and `phx-blur` postpones the blur event. I don't know if this is to be expected LiveView behaviour (I think it is). Removing the debounce for text-controls does solve the issue, but I'm sure it's meant to be debounced for obvious reasons.
I also don't know how this plays together with the change in #1187. I can believe that the blur event is better, but then it sh

[2022-07-09 16:59] josevalim opened #1267 "Add autocompletion of bitstring modifiers"
Once we require Elixir v1.14, we can steal this: https://github.com/elixir-lang/elixir/commit/f49b3cbec3268a266d995d46fff4775faea5be4a

[2022-07-10 05:14] Benjamin-Philip commented on #1159
In my opinion, the best course of action is actually to implement a pandoc reader upstream. Here's the markdown one for comparison: https://github.com/jgm/pandoc/blob/master/src/Text/Pandoc/Readers/Markdown.hs

This has the following benefits:

- It's natively supported by pandoc (so no installing external tools or pandoc filters in required)
- Information will not get lost in the livemd to md tra

[2022-07-10 07:59] josevalim commented on #1159
That's good to know. I think for now the ability to iterate is more important and once the format is stable enough we can reach out to pandoc.

[2022-07-10 08:04] Benjamin-Philip commented on #1159
I agree. I think the first course of action is to start standardising and writing specifications for the format.

[2022-07-10 21:13] jonatanklosko commented on #1265
Yeah, blur should happen before click, and given that removing `phx-debounce` helps it's likely a LV issue. I _think_ it's the same case as the one described in https://github.com/phoenixframework/phoenix_live_view/issues/1743, where a LV link is clicked, and the push happens before blur.

We use `phx-debounce` combined with `phx-change` to validate text inputs (URL specifically), but we want to r

[2022-07-11 06:38] josevalim commented on #1265
What if we move the URL validation to the client with type=“url” for now and then we add it back once LiveView is fixed?

[2022-07-11 06:40] josevalim commented on #1265
Or we can keep the validation, but replace the debounce by phx-change=“blur”.

[2022-07-11 11:20] jonatanklosko commented on #1265
One relevant point is that when the user blurs and the value is invalid, we want to reset back to the initial value, to make it clear what would be read (even more so if a concurrent user changed the value as well). Validating on the client sounds good to me.

[2022-07-11 12:35] jonatanklosko commented on #1265
Closed in #1269.

[2022-07-11 12:35] #1265 closed

[2022-07-11 13:48] jonatanklosko commented on #1265
If we keep an invalid value, it's unclear what to expect from `Kino.Input.read`, so I think being transparent is more important. Another way to think about is that the user can atomically change the input value, so if they leave it invalid it's like canceling the change altogether.

[2022-07-11 19:33] josevalim commented on #1237
Another idea we can build on top of this is to highlight on the left side which line number we are currently evaluating.

[2022-07-11 19:35] josevalim commented on #1252
So the idea is to have a Livebook configuration under settings with special protocols allowed in the Livebook instance.

[2022-07-11 21:16] leepfrog commented on #1252
I can take a stab at this next week unless someone beats me to it!  😀

Thanks for the guidance

[2022-07-15 16:13] josevalim opened #1275 "Track defined modules and variables"
We can track modules and variables defined in each cell and if a cell uses any of the modules and variables from a previous cell. For variables, we can use the `post_eval_env.versioned_vars`. If any var has a value `>= map_size(pre_eval_env.versioned_vars)`, then it was changed. For module, we will already be tracking them to address #1234, so we can also use them to track alias references, import

[2022-07-17 13:30] josevalim opened #1277 "Execute the current cell and advance to the next cell using `Shift + Enter`"
Jupyter and Deepnote let us execute the current cell and advance to the next cell using `Shift + Enter`.
Could this also be supported in Livebook?

When reading through the documentation, sometimes you just want to run the current cell, see the result and move on to the next step.

Currently, you can hit `Ctrl + Enter` then `k` (a vim thing?) but I find the single button more comfortable given the

[2022-07-17 13:34] josevalim opened #1278 "Improve workflow for running inside Mix projects"
* [ ] When going to the Mix runtime tab, we can traverse the directory up. If any of the directories have a `mix.exs`, we can default to it in the input selector.

* [ ] We should persist in the notebook the runtime information, but this should only be possible if the notebook itself is located within the `mix.exs` directory. In this case, we will show a checkbox: "[ ] Save this choice within the

[2022-07-18 20:08] w0rd-driven opened #1281 "Issues with Desktop application v0.6.3"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: macOS Big Sur 11.6.7
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `Livebook.app`

## Current behavior

Launching `Livebook.app` will run the application and open a browser window. Closing the browser window seems to leave everything running and subsequent attempts at launch

[2022-07-18 20:08] #1281 closed

[2022-07-19 06:54] 03juan opened #1282 "Windows 11 Desktop installation crashes"
## Environment

* Operating system: `Windows 11 Version 21H2 (OS Build 2200.795)`
* How have you started Livebook: Desktop install from `LivebookInstall-0.6.3-windows-x86_64.exe`
* Livebook version: `0.6.3`

## Current behaviuor

### No interface visible when launching application from start menu.

- I installed the app from the file provided through `livebook.dev`.

- During installation there wa

[2022-07-19 06:58] josevalim commented on #1282
Thank you @03juan! Which firewall rules have you set? Does it work if you run it as an administrator? The error you get is exactly because Livebook is not being able to run on a port.

[2022-07-19 07:33] 03juan commented on #1282
@josevalim I opened all firewall rules and also ran it as administrator, still no luck.

![image](https://user-images.githubusercontent.com/4416345/179690765-7fdd4fbe-734b-4292-8588-e8ef590d399c.png)

Here is the crashdump after running the launcher as admin.

[erl_crash.zip](https://github.com/livebook-dev/livebook/files/9138550/erl_crash.zip)

[2022-07-19 07:47] 03juan commented on #1282
@josevalim do you mean by running with the CLI from windows terminal? My dev environment is on Linux WSL and that works fine, but I'll see when I can make time to set up elixir in windows and run from there.

[2022-07-19 07:57] josevalim commented on #1282
I see! If you can give it a try, that would be awesome, but I also understand it may not be straight-forward. We also have some ideas and we can upload new installers in this thread for you to try out if it is not a problem. :)

[2022-07-19 08:17] 03juan commented on #1282
I'll be happy to try out new installers.

Just tried to install elixir with `elixir-websetup.exe` and I'm running into a configuration problem where, despite the installer installing and configuring erlang on `C:\Program Files\erl-24.1.7` I'm getting the error

[2022-07-20 13:15] 03juan commented on #1282
@wojtekmach you were both right about the port issue 🎉

![image](https://user-images.githubusercontent.com/4416345/179987698-64f094a2-c983-4147-bc48-a81574f16c25.png)

Are you aware that `epmd.exe` continues running after shutting down the Livebook server?
I can open a separate issue on that if you want.

![image](https://user-images.githubusercontent.com/4416345/179991263-746d4420-b9ce-4a5f-a777-

[2022-07-20 13:47] josevalim opened #1287 "Support epmdless mode"
This will require Elixir v1.15. This will help us ensure we don't leave a zombie epmd.exe process behind.

[2022-07-20 13:48] josevalim opened #1288 "Add a GUI based abort!"

[2022-07-21 10:27] Hermanverschooten opened #1290 "Mac Desktop version; error with make"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.34.4, OTP 25
* Operating system: MacOS Monterey 12.4
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): App
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.3

## Current behavior
Evaluating the livebook found at [vix gibhub](https://livebook.dev/run?url=https%3A%2F%2Fgithub.

[2022-07-21 10:34] josevalim commented on #1290
What do `which make` and `which gcc` return for you? How have you installed them? Do you do something special to add them to your path?

[2022-07-21 10:37] Hermanverschooten commented on #1290
[code]
There is a `gcc` in my `brew list`, so I probably installed it that way.

[2022-07-21 10:40] Hermanverschooten commented on #1290
[code]
Will this be the cause? I mean `/usr/bin` is probably in the `PATH` by default, but the homebew path is not, that is set in `.zshrc`.

[2022-07-21 11:22] josevalim commented on #1290
Yeah, that’s it. I guess we will need a new setting for additional paths?

[2022-07-21 11:30] wojtekmach commented on #1290
Yup. The app runs in a very limited environment:

[code]

<img width="532" alt="image" src="https://user-images.githubusercontent.com/76071/180203240-3c6ba791-11a1-47b7-b945-0fcc75e87ac7.png">

[2022-07-21 11:51] wojtekmach commented on #1290
So yeah, we basically need to manipulate $PATH somehow but worth noting that such notebook is not reproducible, in order to run it we need to run in a specific and implicit build environment. So it's a no-no for sharing but obviously it is an important scenario for just exploring things. For that I think it'd be best to manually adjust $PATH by calling `System.put_env("PATH", ...)` before Mix.inst

[2022-07-21 11:52] Hermanverschooten commented on #1290
That would probable also solve the issue @wojtekmach closed for `nmake` on windows #1248 .

[2022-07-21 11:57] Hermanverschooten commented on #1290
@wojtekmach  I added
[code]
That got me further but now it complains it cannot find "erl_nif.h".

[2022-07-21 12:00] wojtekmach commented on #1290
Ok lack of erl_nif is a bug, will look into it.

[2022-07-21 16:06] #1290 closed

[2022-07-22 06:28] wojtekmach commented on #1290
The fix is out in updated release artifacts, thanks again for the report! https://github.com/livebook-dev/livebook/releases/tag/v0.6.3

[2022-07-22 06:29] wojtekmach commented on #1282
The fix that starts on random port is out in updated release artifacts, thanks again for the report! https://github.com/livebook-dev/livebook/releases/tag/v0.6.3

[2022-07-22 06:35] 03juan commented on #1282
@wojtekmach Glad to help. I assume you mean v0.6.4? It's not showing in the releases yet.

Thanks for the great work on the desktop app, I love having quick access from the system tray.

[2022-07-22 06:47] wojtekmach commented on #1282
No, I meant v0.6.3. :) Since we only had app bundling changes I re-uploaded these to the same release.

[2022-07-23 05:55] Hermanverschooten commented on #1290
@wojtekmach Just to confirm that it now does work, thanks!

[2022-07-23 10:22] jonatanklosko commented on #1277
Closed in #1294.

[2022-07-23 10:22] #1277 closed

[2022-07-28 01:21] BrooklinJazz opened #1299 "Installing local dependencies by `:path` uses the folder livebook is started from rather than a predictable folder location."
## Current behavior

If a Livebook installs local dependencies like so:

[code]

The path will be set from the folder livebook was started from. This causes issues if someone using the livebook starts their livebook from the "wrong" folder.

[code]

## Expected behavior

Is there a predictable way to install local dependencies or an alternative solution? This mostly causes issues for people runnin

[2022-07-28 05:32] wojtekmach commented on #1299
I think the best solution is to use path dependencies with absolute values, e.g.: `path: "~/path/to/local_project"`.

Otherwise, what is the expectation these paths are relative to? I guess for desktop app a reasonable default is home directory.

FWIW, Livebook uses `LIVEBOOK_ROOT_PATH` for the folder selection screen, the default is home directory. `Mix.install` uses CWD though. For my desktop ap

[2022-07-28 05:44] BrooklinJazz commented on #1299
Hmm.. I think that's good advice, but might not work for my use case. Ideally, the `path` is relative to the project folder, but I can see why that's impossible to determine. The file location might at least be predictable.

I think I'll have to take my local project and put in its own GitHub repo. It's not awesome for development purposes, but something I can do when I'm ready to deploy the proje

[2022-07-28 05:44] #1299 closed

[2022-07-28 06:34] josevalim commented on #1299
`__ENV__.file` returns the location of the notebook but in general we want to discourage filesystem paths because they are not necessarily reproducible when importing.

[2022-07-28 07:12] jonatanklosko commented on #1299
Provided the file is saved you can do `Path.expand("../path/to/lib", __DIR__)`.

[2022-07-28 07:21] BrooklinJazz commented on #1299
You both rock! Thank you @josevalim and @jonatanklosko! Looks like I closed this too early.

I completely agree and see why it's not recommended. It's useful for development for now but have plans to remove it soon.

[2022-07-28 12:50] blueForestIcarus commented on #672
I really, really, really do no not understand the narrow layout for Jupyter and it seems livebook has copied it.
( I used to have a python snippet that injected css to correct the width that I copied to every notebook.)

It would nice to have a button to expand the width of the code sections to take up all the available width.

I honestly am baffled people feel comfy with the narrow layout.

[2022-07-28 13:42] wojtekmach commented on #1299
@BrooklinJazz per #1302 we'll start Livebook Desktop in user's home directory so in some sense it will be more predictable.

[2022-07-29 03:48] ethangunderson opened #1303 "Loopback error when using Livebook desktop app"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Livebook app
* Operating system: macOS 12.0
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Livebook app
* Livebook version (use `git rev-parse HEAD` if running with mix): v0.6.3 of the app

## Current behavior

I'm unable to start the Livebook app on an M1 Macbook. When I open the app it crashes with t

[2022-07-29 06:06] watsy0007 opened #1304 "M1 can't open desktop app"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system: M1 Mac Mini  / ventura beta4
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Desktop (Apple Silicon) app
* Livebook version (use `git rev-parse HEAD` if running with mix):
* Browsers that reproduce this bug (the more the merrier):
* Include what is logged in the browser console:
* In

[2022-07-29 06:11] josevalim commented on #1303
Thank you @ethangunderson! :heart:

A couple questions:

1. How did you access/read the log? :D

2. Can you please try this. In one shell, do `iex --sname foo`. In another shell, do `iex --sname bar --remsh foo`. Does it work? Does the second shell show `foo` name instead of `bar`?

[2022-07-29 06:12] josevalim commented on #1303
Bonus question: what does `:inet.gethostbyname('Ethans-MacBook-Pro')` return inside IEx?

[2022-07-29 06:12] wojtekmach commented on #1304
what if you do:

[code]

is anything logged to the terminal? Is anything logged to `~/Library/Logs/Livebook.log`?

can you check "Crash Reports" in the Console app? If the program crashed, there should be an entry for beam.smp or LivebookLauncher.

[2022-07-29 06:26] watsy0007 commented on #1304
`cat ~/Library/Logs/Livebook.log`

[code]

[2022-07-29 06:33] josevalim commented on #1304
Hi @watsy0007, can you please try this:

1. In one terminal, do `iex --sname foo`. In another terminal, do `iex --sname bar --remsh foo`. Does it work? Does the second shell show foo name instead of bar?

2. What does `:inet.gethostbyname('Ethans-MacBook-Pro')` return inside the `iex` shell?

[2022-07-29 06:37] watsy0007 commented on #1304
1. yes
  yes, it works.

<img width="762" alt="image" src="https://user-images.githubusercontent.com/822237/181698184-d146cf8a-9626-43db-9112-9f9ceb683903.png">

2. `iex` return
[code]

[2022-07-29 06:42] josevalim commented on #1304
Thank you, one additional question, what does `:inet.getifaddrs()` in IEx returns?

[2022-07-29 06:45] watsy0007 commented on #1304
[code]

[2022-07-29 07:19] josevalim commented on #1304
Thank you! Can you please try running from source from this PR and let me know if it works? https://github.com/livebook-dev/livebook/pull/1305

[2022-07-29 07:19] josevalim commented on #1303
Further updates: can you please try running from source from this PR and let me know if it works? https://github.com/livebook-dev/livebook/pull/1305

[2022-07-29 07:51] watsy0007 commented on #1304
@josevalim Thank you, It works!

[2022-07-29 08:55] #1303 closed

[2022-07-29 08:55] #1304 closed

[2022-07-29 09:54] wojtekmach opened #1306 "Don't prompt for .NET runtime installer if already installed"

[2022-07-29 12:09] ethangunderson commented on #1303
I found them in `~/Library/Logs/Livebook.log`

When starting the second iex session I get this error `Could not contact remote node foo@Ethans-MacBook-Pro, reason: :nodedown. Aborting...`

I sure can. The Readme has instructions for running a local phx server, is that sufficient or do I need to build the macos app to test?

[2022-07-29 13:07] josevalim commented on #1303
Just the phx server is fine. But someone already verified it works and we republished the desktop app. So if you download it again, it should be all good!

[2022-07-29 15:35] ethangunderson commented on #1303
I'm still getting the same error on the latest published desktop app. The app version is still reporting as `0.6.3`, but the created timestamp on the downloaded executable is from this morning, so I'm pretty sure I'm running the newest version. Is there anything else I can do to help debug?

[2022-07-29 15:40] josevalim commented on #1303
I see :(

you mentioned this:

and it this doesn’t work, it means there is really an issue with your Mac setup. Maybe try changing the computer name on System Preferences or adding your computer name as a loop back on /etc/hosts?

[2022-07-29 15:45] ethangunderson commented on #1303
Changing the computer name didn't work, but adding a loop back did. Livebook is starting successfully now.

Thank you! ❤️

[2022-07-30 09:36] josevalim commented on #1287
Unfortunately this won't work as a Livebook started this way won't be able to connect to Mix projects or other nodes.

[2022-07-30 09:36] #1287 closed

[2022-07-30 09:38] josevalim opened #1310 "Include both erts/include and usr/lib-include in desktop app"
The Erlang distributions has headers on ROOT/erts/include and ROOT/usr, we need to include both in releases per `elixir_make`:

https://github.com/elixir-lang/elixir_make/blob/master/lib/mix/tasks/compile.make.ex#L303-L308

[2022-08-01 04:11] aleDsz opened #1312 "`Livebook.Intellisense` fails to get `:odbc.connect/2` docs"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): `Elixir 1.13.4 (compiled with Erlang/OTP 23) & Erlang/OTP 24 [erts-12.3.2.2] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [jit] [x86_64-pc-linux-gnu]`
* Operating system: `Linux  5.15.41-1-lts x86_64 GNU/Linux`
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): `mix phx.server`
* Livebook

[2022-08-01 06:19] josevalim opened #1313 "Link `Foo.bar/3` to Hexdocs"

[2022-08-01 06:23] josevalim opened #1314 "Recently opened sections"
Livebook does not currently remember any recently opened notebooks. We could store the list of all recently opened notebooks and show that on the "homepage" at the top, either above the "Explore" section or above the file picker section. This is similar to how VSCode shows the list of recently opened workspaces when opening an empty instance of it.

_Originally posted by @kevinlang in https://gith

[2022-08-01 08:09] #1288 closed, assigned to wojtekmach

[2022-08-01 10:55] jonatanklosko commented on #1314
This is related to starred notebooks. Maybe we should have a unified UI for both.

[2022-08-01 11:37] jonatanklosko commented on #1313
For this we would need the runtime before we can render the links.

[2022-08-01 11:37] #1313 closed

[2022-08-02 00:57] BrooklinJazz opened #1320 "Reduce Elixir Cell Re-Evaluation Jumpiness"
## Current behavior

When re-evaluating the cell, the output doesn't display for a moment and causes jumpy behavior.

Normally this is a non-issue, but I'm building a [smart animation](https://github.com/BrooklinJazz/smart_animation) component that has to re-evaluate the cell regularly on an interval.

## Expected behavior

Once the Elixir Cell has been revaluated, I think the output should retain

[2022-08-02 09:29] #1312 closed

[2022-08-02 09:51] jonatanklosko commented on #1320
Hey @BrooklinJazz, using reevaluation doesn't sound like the best way to do animation. A smart cell is supposed to help writing a specific piece of code, what kind of code does the smart animation cell generate?

[2022-08-02 15:07] BrooklinJazz commented on #1320
Maybe I'm going about it the wrong way 😅 I tried using a frame but ran into troubles. I can give that another try if it's a smarter method.

The smart cell displays a UI for controlling an animation. It has start, stop, prev, next controls.

[2022-08-02 15:11] BrooklinJazz commented on #1320
The generated code is currently provided from a text input. Like `frame + 1` where `frame` is a value in state controlled by the UI.

[2022-08-02 15:12] jonatanklosko commented on #1320
I guess my question is, once the user manipulates the UI, what end result is expected?

[2022-08-02 15:39] BrooklinJazz commented on #1320
The end result is the user can control some animation. I'm building it to make a better experience for students - Kino.animate (while awesome) ran into troubles such as playing before a student was ready, or having minimal ability to control and replay the animation.

The goal of the animated smart cell is to display some animation, and let the student explore each step of the animation with a pla

[2022-08-02 15:42] BrooklinJazz commented on #1320
I've thought of three options for displaying the animation, but each has issues.

- evaluation (jumpiness)
- using a frame (didn't work, but has the most potential)
- displaying the animation in js (will have styling issues)

I can try using a frame again, unless you have an alternative suggestion?

[2022-08-02 15:57] jonatanklosko commented on #1320
@BrooklinJazz see [this notebook](https://gist.github.com/jonatanklosko/6721621665b48d8d9e9856568a93d811) :)

[2022-08-02 17:01] BrooklinJazz commented on #1320
Thank you @jonatanklosko! I'm going to give this a try! feel free to close the issue :)

[2022-08-02 17:03] #1320 closed

[2022-08-03 07:27] bmitc opened #1324 "Windows security issues with Livebook desktop installer and app"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): n/a?
* Operating system: Windows 11
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): download and install desktop app
* Livebook version (use `git rev-parse HEAD` if running with mix): `LivebookInstall-0.6.3-windows-x86_64.exe`, latest desktop app download from website
* Browsers that reproduce this bug

[2022-08-03 07:31] bmitc commented on #1306
As a visual, this is the dialog that pops up even if the Microsoft Visual C++ Redistributable is already installed:

![image](https://user-images.githubusercontent.com/65685447/182549951-41bd46be-a1d4-46a4-8c81-56ba6fdeb58e.png)

The correct action of the user between Repair, Uninstall, and Close is to simply select Close, but it would be nice if this doesn't appear during the installation.

[2022-08-03 07:47] josevalim commented on #1324
Based on my experience with SmartScreen, there is nothing we can do. We can sign the installer (and we did this for the Elixir installer), but that's not enough for SmartScreen to stop the warnings. The only guaranteed way to address it is for enough people to download it, so it becomes "known".

The defender is also known to have false positives. The `!ml` means the recognition was done based on

[2022-08-03 08:02] wojtekmach commented on #1306
Yes that’s what we intend to do, sorry if it wasn’t clear. Thanks for testing and reporting!

[2022-08-03 15:26] bmitc commented on #1306
No worries! I didn't realize this was reported by a team member, haha, and just wanted to provide more information. Thanks for addressing this!

[2022-08-03 15:31] bmitc commented on #1324
That's my loose understanding of SmartScreen as well, in that it will eventually (?) go away. Just wanted to bring awareness. I or other users can report the download as known or good as well.

For the Microsoft Defender issue, I figured it might be a false positive, but just wanted to double-check since the warning was serious. Haha. Does the Livebook team have confidence that it's a false positi

[2022-08-03 15:39] josevalim commented on #1324
It is a false positive. We build that executable ourselves from this file: https://github.com/livebook-dev/livebook/blob/main/app_bundler/lib/templates/windows/Launcher.vb.eex - which is a very tiny script that shells out to the Erlang VM release.

[2022-08-03 16:10] bmitc commented on #1324
Sounds good! Thanks for the info! Always nice to double-check. Hopefully this stuff sorts itself out. I believe users can report/submit things as known to Microsoft through links in the dialogs that pop up, so if this issue is good for anything, it points Windows users to do that.

[2022-08-08 03:20] BrooklinJazz opened #1336 "Add Packack Button Incorrectly Installs Deps"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Windows WSL
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): ESCRIPT `livebook server`
* Livebook version (use `git rev-parse HEAD` if running with mix):  Livebook 0.6.1
* Browsers that reproduce this bug (the more the merrier): Brave, Chrome
* Include what is logged in the bro

[2022-08-08 07:03] jonatanklosko commented on #1336
Hey @BrooklinJazz, is it reproducable for you or did it happen just once? It looks like the client editor got out of sync, but I never run into that before and can't reproduce for this particular case either.

[2022-08-08 07:06] BrooklinJazz commented on #1336
@jonatanklosko it's flakey. I've had it happen more than once but haven't been able to reliably reproduce.

When I have some time I'll try to consistently reproduce and report back.

[2022-08-08 08:16] jonatanklosko commented on #1336
For more context, did you make any changes in the editor before running into the weird state, or was it only via "Add package"?

[2022-08-08 09:03] jonatanklosko commented on #1336
Since the running setup works, it indicates that the code is fine on the server. It looks like off by 1 error when applying the second diff on the client. My suspicion is that maybe Monaco rewrites an inserted `\n` into `\r\n`,  but then I'm surprised it's not easily reproducible.

[2022-08-08 09:11] jonatanklosko commented on #1336
FTR this is definitely about newlines, I've just tested collaborative editing across Linux and Windows and there is a similar issue.

[2022-08-08 17:34] RichMorin commented on #1098
I'm confused by this: "in our case it's not a single code editor, but a bunch of those". Are you saying that Livebook is setting up an instance of a single code editor (eg, Monaco) for each cell, or that it is setting up instances of multiple editors for each cell. If it's the latter, maybe a user preference could specify which editor(s) are desired.

[2022-08-08 17:57] jonatanklosko commented on #1098
Correct, each cell has its own editor because they are visible all at once (as opposed to tabs in VS Code, for example).

[2022-08-10 10:12] #1306 closed

[2022-08-10 14:59] #1324 closed

[2022-08-10 15:07] wojtekmach commented on #1324
@bmitc I've pushed a patch that hopefully helps with this issue (again, we may not be able to solve it for all cases as mentioned above), if you could test it, it would be great. I've updated the builds at: https://github.com/livebook-dev/livebook/releases/tag/v0.6.3.

[2022-08-10 15:33] #1310 closed

[2022-08-10 15:37] josevalim opened #1340 "Sign a Livebook by the hub it belongs to"
This requires two steps:

- [x] Store the hub id in the notebook metadata (except for personal hub). We need to pick an ID that is deterministic across hubs. For example, if Ale and I share the same hub, then we must see the same ID.
- [x] Sign the Livebook by the Hub it belongs to alongside the used secrets. When we open the notebook, if the signed notebooks is verified by the hub, we can automat

[2022-08-12 02:10] bmitc commented on #1306
I downloaded the installer and no prompt. Thanks for the fix!

[2022-08-13 15:57] adarsh1021 commented on #1278
I would like to take a stab at this - I just had a couple of clarifications:
- For the first one - can you please clarify "traverse the directory up"? Say we have a directory say `/dir`, with sub directories `subdir_a` and `subdir_b`. If `subdir_b` has a `mix.exs` then we show `/dir/subdir_b` in the input selector. Is this correct? If yes then if `subdir_a` also had a `mix.exs` then we default to

[2022-08-13 16:48] josevalim commented on #1278
Thanks @adarsh1021!

We have actually decided to take another approach here. From Elixir v1.14, we will allow Mix.install to load the lockfile and config files from other projects. This will solve many problems with the Mix runtime, in particular that it forces you to add Kino deps to your application. So this task is no longer relevant. :)

[2022-08-13 16:48] #1278 closed

[2022-08-13 16:51] josevalim opened #1345 "Remove Mix runtime"
Elixir v1.14 supports config_path and lockfile options. Therefore if we are inside a "livebooks" directory, we can point to a parent project like this:

[code]

We will document this in the Livebook and Elixir guide and remove the existing Mix runtime, as the method above is tackles many of the existing problems.

This requires Elixir v1.14.0-rc.1.

[2022-08-21 19:29] josevalim commented on #1262
There is also a "bug" when mixing zen mode with branching sections. Zen mode merges all code cells together, making it impossible to know which code belongs to a branching section and which does not.

I think we should provide very thin horizontal lines as session separators, potentially with an icon identifying the section. The goal is to keep it as unobtrusive as possible.

[2022-08-21 22:02] josevalim commented on #1234
Wild idea: we could use this to automatically extract doctests, run them inline, and provide direct used feedback.

[2022-08-22 09:24] josevalim opened #1351 "Live programming ideas"
On probing/example-based live programming:

* [Usable live programming](https://www.microsoft.com/en-us/research/publication/usable-live-programming/)
* [Example-based live programming for everyone: building language-agnostic tools for live programming with LSP and GraalVM](https://dl.acm.org/doi/10.1145/3426428.3426919)
* [Live literals](https://homepages.cwi.nl/~storm/livelit/livelit.html) (not

[2022-08-23 06:57] josevalim commented on #261
Livebook is moving to an architecture where developers run notebooks on their machine. So while we will definitely want comments in the future, comments are not helpful unless we have a central architecture where comments and collaboration happen on the fly. So we are postponing the focus on comments for now. :)

[2022-08-23 06:57] #261 closed

[2022-08-24 08:40] wojtekmach opened #1354 "Prioritise exact matches in Hex package search"
Currently:

<img width="467" alt="image" src="https://user-images.githubusercontent.com/76071/186372129-7772a6f7-3670-415b-8638-b515e9ef5990.png">

However, on Hex.pm we have this which I think is the better default. WDYT?

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/76071/186372192-e34d6902-302b-4320-bfd0-c88b2297b5c6.png">

[2022-08-24 08:59] #1354 closed

[2022-08-24 15:46] watsy0007 opened #1358 "explorer "Runtime introspection with Mermaid and VegaLite" dependent kino version error"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.14.rc1
* Operating system: MacOS M1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  mix phx.server
* Livebook version (use `git rev-parse HEAD` if running with mix): main branch
* Browsers that reproduce this bug (the more the merrier):

i try to learn "Runtime introspection with Mermaid and VegaLite

[2022-08-24 16:04] josevalim commented on #1358
Yes, it will be updated when we launch a new Kino. :)

[2022-08-24 16:04] #1358 closed

[2022-08-24 16:05] jonatanklosko commented on #1358
@josevalim let's point to kino main until then?

[2022-08-24 16:07] josevalim commented on #1358
@jonatanklosko ah, good call!

[2022-08-24 16:08] josevalim commented on #1358
Fixed in main!

[2022-08-25 03:01] MillionIntegrals opened #1360 "How to load kino scripts behind authentication proxy?"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 24 [erts-12.1.5] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit] [x86_64-pc-linux-gnu] Elixir 1.13.2
* Operating system: Linux
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Docker
* Livebook version (use `git rev-parse HEAD` if running with mix):
* Browsers that reproduce th

[2022-08-25 06:40] josevalim commented on #1360
You need to do make `/public` available OR you can run host the contents of the iframe folder in this repo in your own cloud and then configure those accordingly:

[code]

Easiest is of course to make /public available.

[2022-08-25 06:40] #1360 closed

[2022-08-26 07:09] gitstart commented on #1123
@josevalim is this issue still available to start working on?

[2022-08-26 07:20] Valentine-Mario commented on #1123
@josevalim is this tas still available to be worked on?

[2022-08-26 07:45] josevalim commented on #1123
Yes, please!

[2022-08-26 08:34] Valentine-Mario commented on #1123
Thank you. Let me look into this

[2022-08-26 13:13] elepedus opened #1363 "Livebook Desktop app fails to start with error 11"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Bundled with Livebook Desktop
* Operating system:
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc): Livebook Desktop app
* Livebook version (use `git rev-parse HEAD` if running with mix): 0.6.3
* Browsers that reproduce this bug (the more the merrier): no browser
* Include what is logged in the browser co

[2022-08-26 13:20] elepedus commented on #1363
Never mind, it was user error. I blindly downloaded the Intel build instead of the Apple Silicon build :(

[2022-08-26 13:20] #1363 closed

[2022-08-26 13:39] wojtekmach commented on #1363
We will have universal builds soon so fwiw others won't run into this particular problem. :)

[2022-08-26 14:30] the-destro opened #1364 "UUID fields are not displayed as strings"
I know this is a limitation inherent in Ecto but the fact that UUID's are not displayed as strings limits livebook's utility when working with tables that use them

[2022-08-26 14:32] the-destro opened #1365 "UUID's in a smart cell chart do not work"
## Current behavior

1) query a simple table with UUID's with, say, a count and grouping by the id field
2) Create a chart that tries to use UUID's on the x axis
3) Get Error `Failed to serialize initial widget data, invalid byte 0xC0 in <<uuid binary redacted>>`

## Expected behavior

No Error

[2022-08-26 14:33] josevalim commented on #1364
Following up in Kino.

[2022-08-26 14:33] #1364 closed

[2022-08-26 23:27] bmitc commented on #1324
@wojtekmach Thanks for the update! I tested it today. The download process still warns about the file, but upon installation Microsoft Defender doesn't flag any file. However, I'm not sure the installation process necessarily updates the file that Defender previously flagged. The installer now shows several warnings like this:

![image](https://user-images.githubusercontent.com/65685447/187002415-

[2022-08-27 06:12] wojtekmach commented on #1324
Could you try uninatalling and installing again? Uninstall.exe is somewhere in …/AppData/Local/Livebook

[2022-08-27 08:29] logicmason commented on #715
FWIW, I only use editors with vim bindings because I suffered RSI problems in my wrist and index fingers several years back and vim + dramatically curtailing mouse/trackpad usage was a key part of the recovery.

If there are no vim (or similar modal) bindings, I'm pretty much shut out from LiveBook on a regular basis and that's disappointing.

[2022-08-27 17:45] goto-engineering commented on #715
Would also really appreciate a way to get vim bindings in there. Maybe make it so I can install a plugin and it's my own responsibility, so you don't have to manage any complexity?
Spent 2 hours in Livebook yesterday and loved it, but typing in there is just... not as good as vim.

[2022-08-28 02:37] houllette commented on #643
Hey @jonatanklosko - Sorry to bother you again after so much time as elapsed since you wrote the aforementioned script. I was just starting to work with it more and am running into issues - I tried debugging it myself as best as possible but it appears I'm running into a wall.

I'm getting an error when the code enters the `Livebook.Session.Data.apply_operation/2` function during your script execu

[2022-08-28 07:47] michelson opened #1366 "env bash PATH does not get recognized in Desktop"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 25 [erts-13.0.4]
* Operating system: Mac
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  Desktop
* Livebook version (use `git rev-parse HEAD` if running with mix):

## Current behavior

**LiveBook:**
`:os.cmd('echo $PATH')`
return:

### but in my shell

`echo $PATH`

..... etc etc etc.... (e

[2022-08-28 08:07] josevalim commented on #1366
Can you please expand why you would like `.bashrc` to be picked? I assume it is to access some executables?

We need to support some sort of additional paths in Livebook but I don't think we should be loading .bashrc.

[2022-08-28 15:10] michelson commented on #1366
Hi José, Exactly. If we could pass some additional paths to LB  it would be fine. Currently is there no way to do that? It seems that this behavior only happens on Desktop version as discussed on https://elixir-lang.slack.com/archives/C01UKP7DG7K/p1661663687826089.

[2022-08-28 16:25] josevalim opened #1369 "A crashed smart cells remains non-functional on the screen"
Today if a smart cell crashes, it is not removed, it remains on the screen. We should probably rollback to the loading status with a button to load it again or automatically maybe render it again.

Rendering it again may be fine, because a failure to start a smart cell is handled accordingly, but if the smart cell crashes right after it is first rendered, then we can into a loop.

[2022-08-28 16:53] wojtekmach commented on #1366
At the moment there is no other way than by doing `System.put_env("PATH", ...)` in your notebook.

The difference between desktop and eg escript is you execute the latter from a shell session that had your .rc file loaded and thus the livebook server process would inherit the environment. When we launch the desktop the parent process is not your shell (on a Mac it's launchd) and thus such env inhe

[2022-08-28 17:34] michelson commented on #1366
I got it. `put_env` did the trick! So I've put this in my setup:

[code]

And it worked just fine.

[2022-08-28 17:56] axelson commented on #1366
I'd like to mention a solution that some other applications use for the same problem. The idea is to have the user run a command in their terminal that will generate a `.env`-type file with the relevant environment variables (in this case probably just `$PATH`). One example of that is [Doom Emacs](https://github.com/doomemacs/doomemacs)'s `doom sync` command. That allows the application to use a s

[2022-08-29 09:03] jonatanklosko commented on #643
Hey @houllette! There was an internal change that broke it, I've just updated the script :)

[2022-08-29 11:14] jonatanklosko commented on #1267
Closed in #1291.

[2022-08-29 11:14] #1267 closed

[2022-08-29 11:39] helloworldcoding opened #1372 "LivebookInstall-0.6.3-macos-aarch64.dmg failed install on MacBook Air(m1)"
## Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 25 [erts-13.0.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit] [dtrace].  Elixir 1.13.4 (compiled with Erlang/OTP 24)
* Operating system:  MacBook Air (M1, 2020) macOs Menterey Version 12.4
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  dmg
* Livebook version (use `git rev

[2022-08-29 12:20] #1345 closed

[2022-08-29 18:02] josevalim commented on #1372
The computer name is indeed not a valid host name. You need to change the computer name accordingly following these instructions: https://support.apple.com/guide/mac-help/change-computers-local-hostname-mac-mchlp2322/mac

[2022-08-29 19:23] #1372 closed

[2022-08-30 15:03] hauleth commented on #1340
I have library that may help :D

[2022-08-30 15:13] josevalim commented on #1340
@hauleth link? :)

[2022-08-30 15:17] hauleth commented on #1340
https://github.com/hauleth/ssh_signature

It allows SSH keys to be used as a sign key and can be verified without using Elixir as it uses the same format as `ssh-keygen` which is probably available already on most developer machines.

[2022-09-02 13:50] #1369 closed

[2022-09-05 08:53] gitstart commented on #1252
@josevalim Is this issue still available?

[2022-09-05 09:59] josevalim commented on #1252
Yes! :)

[2022-09-05 10:20] gitstart commented on #1252
Great. Let me pick it up. Also please help review this PR https://github.com/livebook-dev/livebook/pull/1389

[2022-09-05 21:15] josevalim opened #1393 "Unify styling environment variables forms"
@aleDsz, PR #1392 adds error handling to the SecretsComponent form you used as foundation to Fly's environment variables. Can you please make update the Env Var form to make them consistent?

The same should be applied to the Env Var form to be defined in the Settings page. :)

[2022-09-05 22:08] axelson opened #1394 "Docs missing from hexdocs.pm"
## Current behavior

Visiting https://hex.pm/packages/livebook has a link to the docs for livebook: https://hexdocs.pm/livebook/

However visiting that link results in a 404

## Expected behavior

The livebook docs to exist at https://hexdocs.pm/livebook/ or have a valid online documentation link from https://hex.pm/packages/livebook

[2022-09-05 22:12] jonatanklosko commented on #1394
Hey @axelson, this is expected, see #653 :)

[2022-09-05 22:12] #1394 closed

[2022-09-06 04:41] axelson commented on #1394
Ah, I didn't see that in my searching. Thanks for the link!

Perhaps a minimal set of docs could be published that refers to Kino and VegaLite since users may actually be looking for those docs.

[2022-09-06 10:03] jonatanklosko commented on #1394
The built-in notebooks in the Explore section cover Kino, VegaLite, extending Livebook with custom components and more. Each of those packages also has their own docs, so I think this part is covered :)

[2022-09-06 17:34] mrjbj commented on #615
I found this issue while looking for something similar. I was hoping there would be a way to interactively clear the output of a particular cell. There already is a button to “amplify output”, would be great if there is a way to “clear” it as well. (see image,
![clear-output](https://user-images.githubusercontent.com/5481547/188702096-81995a9b-063e-4e9b-b4c0-a174604637a8.png)
below).

[2022-09-06 22:58] jonatanklosko commented on #615
Clearing output while keeping cell status (evaluated/stale/...) is confusing, and we don't want to clear the status for a single cell, because it breaks the expected sequentiality.

Any specific use case you have in mind?

[2022-09-09 14:12] DaniruKun opened #1398 "Not enough documentation about CLI args and connecting to remote nodes"
At the moment, the README (the only complete source of information about Livebook advanced features, which is another issue) mentioned environment variables that can be used to configure Livebook.

However, there is **zero mention of the command-line arguments** (which are quite essential if you want to do anything serious).
The only way to discover them is to run `livebook server -h`.

Plus, ther

[2022-09-09 14:34] josevalim commented on #1398
The CLI is not the primary way to run Livebook, so there should not be a single feature gated behind the command line. Although it is probably worth calling it out.

Connecting to remote nodes is fully done via the UI. Most of our documentation is in the UI too: go to the Explore section and we currently have 10 notebooks showing how to use several Livebook features. The concept of runtime is intr

[2022-09-09 14:34] #1398 closed

[2022-09-12 20:59] Billboz opened #1399 "Smart code editor gets out of sync on Mac"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system:  Mac 12.5.1
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):  Livebook desktop
* Livebook version (use `git rev-parse HEAD` if running with mix):
* Browsers that reproduce this bug (the more the merrier): Brave

## Current behavior

Include detailed steps to reproduce error, er

[2022-09-12 21:02] josevalim commented on #1399
I believe this has been fixed in main, right @jonatanklosko? We will ship a new version really soon.

You can try main by downloading the Universal installer from our staging page: https://deploy-preview-47--livebook-dev.netlify.app/#install

Alternatively, check the steps in the README and let us know how it goes!

[2022-09-12 22:33] jonatanklosko commented on #1399
It's actually a different issue. If you look at the source of the notebook [here](https://raw.githubusercontent.com/DockYard-Academy/beta_curriculum/ff8031b278ee50c90c89befd212ad96ef74c8686/exercises/fun_formulas.livemd), you can find `\r\n` in the persisted smart cell content. We generally turn all CRLF into LF on import, however in this case the CR is serialized in a JSON string, hence it is kep

[2022-09-12 23:14] jonatanklosko commented on #1399
What's surprising though is that you are using Livebook desktop, I assume v0.6.3? I would expect the issue to only appear on Livebook main. @wojtekmach any chance #1337 made it to the v0.6.3 desktop build?

[2022-09-13 06:43] josevalim commented on #1399
@jonatanklosko yes, Wojtek did more recent builds for sure. :)

[2022-09-13 06:58] wojtekmach commented on #1399
Yeah I wouldnt miss out on such elite pr

[2022-09-13 09:15] #1399 closed

[2022-09-13 09:21] Billboz commented on #1399
@jonatanklosko Yes, I am using 0.6.3 and I will keep a watch for the next version.  Thank you all.

[2022-09-13 11:44] Billboz commented on #1399
I used the universal installer as you suggested @josevalim however the behavior is still there.  I captured it in the video below in case it helps.

Unfortunately, 720p was too large.

https://user-images.githubusercontent.com/2127099/189892345-4b81deaf-7008-40e3-8eac-4314d249ed52.mov

[2022-09-13 11:53] jonatanklosko commented on #1399
@Billboz the issue should've been fixed in #1400, so to test you need to run Livebook main or wait for the new nightly build of the desktop app :) If you can reproduce it on main, please let me know!

[2022-09-14 05:59] gworkman opened #1405 "Protocol Consolidation"
## Environment

* Elixir & Erlang/OTP versions (elixir --version):
* Operating system:
* How have you started Livebook (mix phx.server, livebook CLI, Docker, etc):
* Livebook version (use `git rev-parse HEAD` if running with mix):
* Browsers that reproduce this bug (the more the merrier):
* Include what is logged in the browser console:
* Include what is logged to the server console:

## Current b

[2022-09-14 06:12] wojtekmach commented on #1405
Try passing consolidate_protocols: false to Mix.install.

[2022-09-14 07:10] josevalim commented on #1405
Closing per above. :)

[2022-09-14 07:10] #1405 closed

[2022-09-14 16:24] #1393 closed

[2022-09-14 21:30] danielrw7 opened #1408 "Modal buttons have inconsistent behavior with tab + enter/space"
## Environment

* Elixir & Erlang/OTP versions: Elixir 1.14.0, Erlang/OTP 25
* Operating system: WSL/Ubuntu 18.04
* How have you started Livebook: mix phx.server
* Livebook version: 9600a3d3a38b4f20f47af3e7595b712bc5e6ba7f (main)
* Browsers that reproduce this bug: Firefox/Chrome on Windows

## Current behavior

After opening a modal, tabbing to a button and pressing enter or space will close the

[2022-09-14 21:36] danielrw7 commented on #1408
Removing the [`phx-click-away` event](https://github.com/livebook-dev/livebook/blob/main/lib/livebook_web/live/live_helpers.ex#L43) will prevent the modal from being closed, but the first enter/space press still doesn't work. I don't know what the underlying issue is yet, but I'd be happy to try to find a solution later

[2022-09-16 06:14] josevalim commented on #1408
LiveView v0.18 has a .focus_wrap function component which we can probably use around our modals too.

[2022-09-16 06:15] josevalim commented on #1366
We are adding support for environment variables in settings and once that is ready we will allow mangling of the path.

[2022-09-16 06:19] josevalim opened #1411 "Make image a block item instead of a button in the Markdown editor"
Instead of this button:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/9582/190569972-46aa1de2-1d16-41dd-b7ca-75c70fe3fbb2.png">

We want to move it here:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/9582/190569991-8979d855-6bdb-4bb6-aefd-2a527d721cd1.png">

[2022-09-16 06:22] josevalim opened #1412 "Final adjustments to env vars"
* [ ] Rename input "Key" to "Name" in form
* [ ] In the Fly page, rename "Edit" button to "Replace" as the default value is not filled
* [x] Automatically synchronize env vars additions and deletions with runtime (see #1409)
* [ ] Add special handling for $PATH so it merges paths (using `;` on Windows, `:` everywhere else) (see #1366)

[2022-09-16 06:23] josevalim commented on #1366
Closing in favor of #1412.

[2022-09-16 06:23] #1366 closed

[2022-09-16 09:08] jonatanklosko opened #1414 "Change secrets wording form "label" to "name""
For consistency with #1412, I would rename everywhere :)

[2022-09-16 09:25] jonatanklosko commented on #1408
We will definitely use focus wrap, but currently the focus already moves to modal when opened, but tabbing into a specific button and hitting enter does close the modal :thinking:

[2022-09-16 23:37] #1412 closed

[2022-09-17 05:55] gworkman commented on #1405
Awesome! You all thought of everything when designing LiveBook. Thank you for such a great tool!!

[2022-09-19 02:58] #1414 closed

[2022-09-19 15:29] josevalim opened #1420 "Rename "Explore" to "Learn""
It is much more about learning materials than exploring what is produced by the community.

The big question is if we should rename the routes too?

[2022-09-19 15:38] jonatanklosko commented on #1420
We don't treat them as public, so sounds good to me.

[2022-09-19 15:40] jonatanklosko commented on #1420
We do use those routes in built-in notebooks content though, which makes them a bit more public.